	.TopNavBar{
		background:url(../img/bg1.png);
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		width: auto;
		overflow: hidden;
	}
	.SecondNavBar{
		background-color: #112347;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		width: auto;
		overflow: hidden;
	}
	.SideNavBar{
		background-color: #0b172d;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		width: 100%;
		overflow: hidden;
	}
	.NavLi1{
		font-family: "Microsoft JhengHei", "PMingLiU";
		font-size: 18px;
		font-weight: bold;
		color: #EEEEEE;
		float: left;
		padding: 10px;
	}
	.NavLi2{
		font-family: "Microsoft JhengHei", "PMingLiU";
		font-size: 18px;
		font-weight: bold;
		color: #EEEEEE;
		float: right;
		padding: 10px;
	}
	.anchor{
		color: white;
		text-decoration:none;
	}

	.MainTable{
		width:100%;
		height:calc(100% - 98px);
		border-collapse:separate;
		border:groove 2px Black;
	}

	.MainTable td{
	/*cellpadding="10px" cellspacing="5px"*/
		padding:10px;
		border-spacing:10px;
	}

	.MainTable tbody {
		height:calc(100% - 41px);
	    display:block;
	    overflow-y:auto;
	}

	.MainTable thead, tbody tr {
	    display:table;
	    width:100%;
	    table-layout:fixed;
	}

	.MainTable thead {
	    width: calc( 100% - 20px);
	}

	.MainTable tbody tr:hover td{
		background-color: #5c6086;
	}

	.MainTable tr td:nth-child(1){
		font-size:15px;
		text-overflow: ellipsis; overflow: hidden; white-space: nowrap; max-width:40px;
	}

	.MainTable tr td:nth-child(1) span{
		color:black;
		border-radius: 3px;
		padding:0px 5px 0px 5px;
	}

	.MainTable tr td:nth-child(2){
		font-size:15px;
		font-weight:bold;
		text-overflow: ellipsis; overflow: hidden; white-space: nowrap; max-width:125px;
	}

	.MainTable tr td:nth-child(3){
		font-size:15px;
		font-weight:bold;
		text-overflow: ellipsis; overflow: hidden; white-space: nowrap; max-width:180px;
	}

	.MainTable tr td:nth-child(4){
		font-size:15px;
		font-weight:bold;
		text-overflow: ellipsis; overflow: hidden; max-width:50px;
	}

	.MainTable tr td:nth-child(4) p{
		max-width: 90px;
		height:40px;
		word-wrap:break-word;
	}

	.MainTable tbody tr td:nth-child(5) button{
		vertical-align:middle;
		padding:5px;
		border-radius:5px;
		margin-left:10px;
		font-size:15px;
		font-weight:bold;
		background:black;
		border-color:black;
		color:#6ca737;
		max-width:60px;
	}

	.MainTable tbody tr td:nth-child(6) button{
		vertical-align:middle;
		padding:5px;
		border-radius:5px;
		margin-left:10px;
		font-size:15px;
		background:black;
		border-color:black;
		color:white;
		max-width:60px;
	}

	.circle{
		width: 25px;
		height: 25px;
		font-size:15px;
		background-color:red;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		text-align: center;
		color:white;
	}

    .btnleftNav{
    	color:white;
    	border-radius: 3px;
    	font-size:15px;
    	width:120px;
    	height:30px;
    	padding:5px 5px 5px 5px;
    	background:#484e68;
    	border-color: #484e68;
    	font-weight: bold;
    	border-bottom:white;
    	border-right:white;
    }

	.btnleftNav:hover{
		cursor:pointer;
    	background:#8bc35d;
		border-color:#8bc35d;
    }

    .btnleftNav:focus{
    	background:#8bc35d;
		border-color:#8bc35d;
    }

	.AdvancedSearchDialog {
		position: absolute;
		top: calc(50% - 350px);
		left: 30%;
		width: 600px;
		height: 593px;
		border: 1px solid #3f4757;
		z-index: 300;
		background-color: #1a1e21;
		padding-top: 15px;
		color: #bad0d5;
		font-weight: bold;
		font-size: 18px;
		display: none;
	}

	.close {
		float: right;
		position: relative;
		top: -5px;
		right: 10px;
		border: 0px;
	}

	.AdvancedSearchDialogComment {
		height: 60px;
		width: 585px;
		background-color: #cfd7f0;
		border-color: #cfd7f0;
		margin: 10px 5px 0 5px;
		padding-top: 10px;
		padding-left: 15px;
		font-size: 15px;
	}

	.AdvancedSearchDialog button {
		background: #2c73b9;
		border-color: #2c73b9;
		color: white;
		border-radius: 5px;
		font-size: 15px;
		width: 100px;
		height: 30px;
		float: right;
		margin-top: 20px;
		margin-right: 20px;
	}

	.AdvancedSearchDialog button:hover {
		cursor: pointer;
	}

	.tbAdvancedSearch {
		font-family: "Microsoft JhengHei", "PMingLiU";
		color: black;
		width: 100%;
		border-collapse: separate;
		border: groove 2px #b4b7c6;
		margin-top: 15px;
	}

	.tbAdvancedSearch td {
		padding: 10px;
		border-spacing: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
	}

	.ListDialog {
		position: absolute;
		top: 17%;
		left: 20%;
		width: 1000px;
		height: 600px;
		border: 1px solid #3f4757;
		border-radius: 5px;
		z-index: 300;
		background-color: #3f4757;
		padding-top: 15px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		display: none;
	}

	.tbList {
		width: 99%;
		height: calc(100% -  20px);
		border-spacing: 0;
		border: groove 2px Black;
	}

	.tbList tbody {
		display: block;
	}


	.tbList thead, tbody tr {
	    display:table;
	    width:100%;
	    table-layout:fixed;
	}

	.tbList tbody {
		height: calc(100% - 38px);
		overflow-y: auto;
		overflow-x: hidden;
	}

	.tbList td {
		padding: 10px;
	}

	.tbList tr td:nth-child(1) {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		min-width: 103px;
		max-width: 103px;
	}

	.tbList tr td:nth-child(2) {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		min-width: 160px;
		max-width: 160px;
	}

	.tbList tr td:nth-child(3) {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		min-width: 77px;
		max-width: 77px;
	}

	.tbList tr td:nth-child(4) {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		min-width: 68px;
		max-width: 68px;
	}

	.tbList tr td:nth-child(5) {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		min-width: 135px;
		max-width: 135px;
	}

	.tbList tr td:nth-child(6) {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		min-width: 120px;
		max-width: 120px;
	}

	.tbList tr td:nth-child(7) {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		min-width: 153px;
		max-width: 153px;
	}

	.HintDialog {
        position: absolute;
        top: 350px;
        left: 525px;
        width: 325px;
        height: 270px;
        border: 1px solid #3f4757;
        border-radius: 5px;
        z-index: 300;
        background-color: #404856;
        padding-top: 15px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        display: none;
    }

    .HintDialogComment {
        height: 180px;
        width: 300px;
        background-color: #232c35;
        border-color: black;
        margin: 10px 5px 0 5px;
        padding-top: 10px;
        padding-left: 15px;
        font-size: 15px;
    }

    .HintDialog button {
        background: #111d38;
        border-color: #111d38;
        color: white;
        border-radius: 5px;
        font-size: 15px;
        width: 80px;
        height: 30px;
        margin-top: 10px;
        float: right;
        margin-right: 10px;
    }

