<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css"  media="all" href="{{ url_for('static', filename='css/oops.css') }}">

    <title>中央管理系統(CMS)</title>


</head>

<body>
    <!--404 page start here-->
    <div class="not-found">
        <div class="notfound-top">
            <h1>Sorry</h1>
        </div>
        <div class="content">

            <img src="{{ url_for('static', filename='images/green.png') }}" alt="" title="">

            <br/>
            <h3>系统错误, 请在试一次或联络管理员.</h3>
            <br/>

            <span class="BackToHome"><a href="/serverinfo" style="color:white;">回首页</a></span>

        </div>
      <div class="clear"> </div>
    </div>
    <div class="copyright">
        <p>© 2018 Foxconn Creative. All rights reserved | Design by  <a href="#" style="cursor:default; color:white;"> Design by W3layouts</a></p>
    </div>
    <!--404 page end here-->
</body>
</html>