<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="csrf-token" content="{{ csrf_token() }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/accmanagementlayout.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/accmanagementstyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar-menu.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.min.css') }}">

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/sidebar-menu.js') }}"></script>
	<script src="{{ url_for('static', filename='js/datepicker.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/datepicker.en.js') }}"></script>
	<script src="{{ url_for('static', filename='js/screenfull.js') }}"></script>

	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	  	var csrf_token = $('meta[name=csrf-token]').attr('content')

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrf_token)
				}
			}
		})
	</script>

<title>中央管理系統(CMS)</title>
</head>

<body>
<div id="BlockWindow" style="z-index:100; width:100%; height:100%; background:#e5e5e5; position:fixed; top:0px; left:0px; opacity:0.5; display:none;"></div>
<div class="wrapper">
	<header>
		<!--導航列-->
		{% include 'HeadNav.html' %}
		<!--end 導航列-->
		<ul class="SecondNavBar">
			<li class="NavLi1"><div class="GoToOther"><a href="/serverinfo" class="anchor" >Server 列表</a></div></li>
			<li class="NavLi1"><div class="GoToOther"><a href="/eventlist" class="anchor">事件列表</a></div></li>
		</ul>
	</header><!-- .header-->

	<div class="middle">

		<aside class="left-sidebar"> 
			<aside class="main-sidebar">
				<section  class="sidebar">
					<ul class="sidebar-menu">
				      
				      	<li class="treeview active">
					        <a href="#">
					          	<span>Membership</span> <i class="fa fa-toggle-up pull-right"></i>
					        </a>
					        <ul class="treeview-menu">
					        	<li>&nbsp;</li>
						    	<li><a href="#"><i class="fa fa-chevron-right"></i> Account management</a></li>
						  		<li><a href="/role"><i class="fa fa-chevron-right"></i> Role management</a></li>
						   		<li><a href="/online"><i class="fa fa-chevron-right"></i> Online User List</a></li>
					        	<li>&nbsp;</li>
					        </ul>
				      	</li>
				      
						<li class="treeview">
							<a href="#">
				           		<span>Device</span> <i class="fa fa-toggle-up pull-right"></i>
							</a>
				        	<ul class="treeview-menu" style="display: none;">
				        		<li>&nbsp;</li>
								<li><a href="/tankManagement"><i class="fa fa-chevron-right"></i> Tank Management</a></li>
								<li>&nbsp;</li>
				        	</ul>
				      	</li>
				      
						<li class="treeview">
							<a href="#">
								<span>Log</span> <i class="fa fa-toggle-up pull-right"></i>
					        </a>
					        <ul class="treeview-menu">
					        	<li>&nbsp;</li>
								<li><a href="/log"><i class="fa fa-chevron-right"></i> System operation log</a></li>
					        	<li>&nbsp;</li>
					        </ul>
				      	</li>
			
				    </ul>
				</section>
			</aside>
		</aside><!-- .left-sidebar -->
		
		<aside class="right-sidebar">
			<ul class="SideNavBar" id="rightNav" style="background-color:#004d74;">
				<li class="NavLi1">
					<div style="width:400px;">

						<input type="image" src="{{ url_for('static', filename='img/add_acc.png') }}" class="btnRightNav" onclick="openItem('DataMaintenceDialogNew')">
						<input type="image" src="{{ url_for('static', filename='img/modify_acc.png') }}" class="btnRightNav" onclick="openItem('DataMaintenceDialogModify')">
						<input type="image" src="{{ url_for('static', filename='img/del_acc.png') }}" class="btnRightNav" onclick="openItem('DeleteDialog')">
						
						<select style="position:absolute; left:180px; top:18px; border-radius:5px; width:200px; height:30px; background:#5e83a0; border-color:#5e83a0; color:white; font-family:'微軟正黑體', '新細明體'; font-size:15px;">
							{% if filter == 'account'%}
								<option value="account" selected>Account</option>
								<option value="name">Name</option>
								<option value="org">Organization</option>

							{% elif filter == 'name' %}
								<option value="account">Account</option>
								<option value="name" selected>Name</option>
								<option value="org">Organization</option>

							{% elif filter == 'org' %}
								<option value="account">Account</option>
								<option value="name">Name</option>
								<option value="org" selected>Organization</option>
							{% endif %}

						</select>
						
						<input id="text_acc" type="text" value="{{value}}" style="position:absolute; left:380px; top:15px; border-radius:5px; width:200px; height:30px; background:#b2cac9; border-color:#b2cac9; font-family:'微軟正黑體', '新細明體'; font-size:15px;"/>
						<input id="clean_acc" type="image" src="{{ url_for('static', filename='img/clean_acc.png') }}" class="btnRightNav" style="position:absolute; left:570px; top:15px; border-radius:5px; border-left:groove 2px Black; width:35px;height:35px; float:right;">
						<input id="search_acc" type="image" src="{{ url_for('static', filename='img/search_acc.png') }}" class="btnRightNav" style="position:absolute; left:570px; top:15px; border-radius:5px;border-left:groove 2px Black; width:35px;height:35px; float:right;">

					</div>
				</li>
			</ul>
			
			<ul class="SecondNavBar" style="background:#1a1e21;">
				<li class="NavLi1"><div style="color:#bad0d5; border-radius: 3px; font-size:15px; font-weight: bold; height:20px; padding:5px 5px 0px 5px;">Account management</div></li>
			</ul>
			
			<table class="MainTable" border="1" style="">
				<thead style="background:#32688e; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px;" align="left" >
					<tr style="font-size:15px;">
						<td style="border-right:groove 2px #e3e3e3;"></td>
						<td style="border-right:groove 2px #e3e3e3; padding:10px 15px 10px 5px;">Account</td>
						<td style="border-right:groove 2px #e3e3e3; padding:10px 15px 10px 5px;">Name</td>
						<td style="border-right:groove 2px #e3e3e3; padding:10px 15px 10px 5px;">Organization</td>
						<td style="border-right:groove 2px #e3e3e3; padding:10px 13px 10px 5px;">E-mail</td>
						<td style="border-right:groove 2px #e3e3e3; padding:10px 10px 10px 5px;">Cellphone</td>
						<td style="border-right:groove 2px #e3e3e3; color:white; padding:10px 15px 10px 5px;">Active</td>
						<td style="border-right:groove 2px #e3e3e3; padding:10px 30px 10px 5px;">Account deadline</td>
					</tr>
				</thead>

				<tbody style="background:#477a9c; color:white; font-family:'微軟正黑體', '新細明體';">
		   				{% for info in acc_info %}
						<tr>
		   					<td><input type="checkbox" class="accSelect" style="width:20px; height:20px;"/></td>
							<td>{{info.acc_management_account}}</td>
							<td>{{info.acc_management_name}}</td>
							<td>{{info.acc_management_organization}}</td>
							<td>{{info.acc_management_email}}</td>
							<td>{{info.acc_management_phone}}</td>
							<td>{% if info.acc_management_active %}✔{% endif %}</td>
							<td>{{info.acc_management_acc_deadline}}</td>
							<td><input type="hidden" value='{{info.decodePwd}}'/></td>
						</tr>
						{% endfor %}

				</tbody>
				<tfoot style="background:#3d5074; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:500px; padding:0px;" align="left">
					<tr>
						<td style="padding:10px; text-align:left;">
							{% if prev_url%}
								<a href="{{prev_url}}&click=b" class="anchor">
									<button style="color:white">
										<span style="position: relative; bottom:1px;">|</span><i class="fa fa-caret-left"></i>
									</button>
								</a>
							{% else %}
								<button>
									<span style="position: relative; bottom:1px;">|</span><i class="fa fa-caret-left"></i>
								</button>
							{% endif%}

							{% if prev_url%}
								<a href="{{prev_url}}" class="anchor">
									<button style="color:white">
										<i class="fa fa-caret-left"></i>
									</button>
								</a>
							{% else %}
								<button>
									<i class="fa fa-caret-left"></i>
								</button>
							{% endif%}

							Page <input type="text" value="{{ page }}" style="width:30px; text-align:center;" readonly> of {{pageTotal}}

							{% if next_url%}
								<a href="{{next_url}}" class="anchor">
									<button style="color:white">
										<i class="fa fa-caret-right"></i>
									</button>
								</a>
							{% else %}
								<button>
									<i class="fa fa-caret-right"></i>
								</button>
							{% endif%}

							{% if next_url%}
								<a href="{{next_url}}&click=e" class="anchor">
									<button style="color:white">
										<i class="fa fa-caret-right"></i><span style="position: relative; bottom:1px;">|</span>
									</button>
								</a>
							{% else %}
								<button>
									<i class="fa fa-caret-right"></i><span style="position: relative; bottom:1px;">|</span>
								</button>
							{% endif%}

							<a style="color:white" onClick="window.location.reload()">
								<button style="color:white; margin-left:10px;">
									<i class="fa fa-repeat"></i>
								</button>
							</a>

							<span style="float:right; padding:5px 15px 0px 0px;font-size:15px;">Total : {{rowTotal}}, {{((page-1)*2)+1}}/{{rowTotal}}</span>
						</td>
					</tr>
				</tfoot>
			</table>
		</aside><!-- .right-sidebar -->
	</div><!-- .middle-->
</div><!-- .wrapper -->

<div id="DataMaintenceDialogNew" class="DataMaintenceDialog">
	&nbsp;&nbsp;Data maintenance－New
	<a href="javascript: closeItem('DataMaintenceDialogNew');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>

	<div class="DataMaintenceDialogComment" style="position:relative; top:5px; left:-5px; height:calc(100% - 43px);">
		<form action="{{ url_for('accountCreate') }}" method="post" name="accountCreate">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<div style="background:auto; width:500px; height:auto; margin:40px 20px 20px 35px;">

			<table class='tbDataMaintence'>
				<thead>
					<tr>
						<td colspan="2" align="center" style="padding-top:20px;">
							{% with messages = get_flashed_messages() %}
							{% if messages and accountAction == 'accountCreate' %}
							<ul class="showCreateMessage" style="display:block">
							{% for message in messages %}
								<li style="color:red;">{{ message }} </li>
							{% endfor %}
							{% endif %}
							{% endwith %}
							</ul>
							<ul class="showCreateMessage" style="display:block">
								<li style="color:red;"></li>
							</ul>
						</td>
					</tr>
				</thead>
				
				<tr>
					<td>Account:</td>
					<td>
						<input name="account" type="text" style="width:100%; height:100%; max-height:25px; font-size:20px; border-color:#b4b7c6;" required/>

						{% for error in accountCreate.account.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
				
				<tr>
					<td>Password:</td>
					<td>
						<input type="password" name="password" style="width:100%; height:100%; max-height:25px; font-size:20px; border-color:#b4b7c6;" required/>
						{% for error in accountCreate.password.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
				
				<tr>
					<td>Name:</td>
					<td>
						<input type="text" name="name" style="width:100%; height:100%; max-height:25px;font-size:20px; border-color:#b4b7c6;" required/>
						{% for error in accountCreate.name.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
				
				<tr>
					<td>E-mail:</td>
					<td>
						<input type="email" name="email" style="width:100%; height:100%; max-height:25px; font-size:20px; border-color:#b4b7c6;" required/>

						{% for error in accountCreate.email.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
				
				<tr>
					<td>Cellphone:</td>
					<td><input type="text" name="cellphone" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;"/></td>
				</tr>
				
				<tr>
					<td>Active account:</td>
					<td><input type="checkbox" name="active" style="width:20px; height:20px; font-size:20px; border-color:#b4b7c6;"/></td>
				</tr>
				
				<tr>
					<td>Account deadline:</td>
					<td>
						<input id="accDeadlineChk" name="deadlineChk" type="checkbox" style="width:20px; height:20px; font-size:20px; border-color:#b4b7c6;"/>

						<span id="accDeadline" style="width:350px; color:black;display:none;">
							<input id="accDeadlineFrom" type="text" name="deadlineFrom" style="width:125px; height:100%; font-size:20px; border-color:#b4b7c6;" readonly/> ～ <input id="accDeadlineTo" type="text" name="deadlineTo" style="width:125px; height:100%; font-size:20px; border-color:#b4b7c6;" readonly/>
						</span>
					</td>
				</tr>
				
				<tr>
					<td>Organization:</td>
					<td>
						<select style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" name="organization">
							<option disabled selected style="display:none;">Please Select</option>
							<option>Default Organization1</option>
						</select>					
					</td>
				</tr>
				
				<tr>
					<td width="32%">Organization Managers:</td>
					<td><input type="checkbox" name="orgManager" style="width:20px; height:20px; font-size:20px; border-color:#b4b7c6;"/></td>

				</tr>	
				
				<tfoot>
					<tr><td></td></tr>
				</tfoot>			
			</table>
		</div>
		
		<span style="background-color: #cfd7f0; color:#467024; font-size:18px; font-weight: bold; position:absolute; top:43px; left:80px;">Basic Information</span>
		
		<button onclick="closeItem('DataMaintenceDialogNew')" style="margin-right:60px;">Cancel</button>
		<button type="submit">OK</button>
		</form>
	</div>
</div>

<div id="DataMaintenceDialogModify" class="DataMaintenceDialog" style="height:651px;">
	&nbsp;&nbsp;Data maintenance－Modify
	<a href="javascript: closeItem('DataMaintenceDialogModify');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>
	
	<div class="DataMaintenceDialogComment" style="position:relative; top:5px; left:-5px; height:608px;">
		<form action="{{ url_for('accountModify') }}" method="post" name="accountModify">
		{{ accountModify.hidden_tag() }}
		<div style="background:auto; width:500px; height:calc(100% - 38px); margin:40px 20px 20px 35px;">
			<table class='tbDataMaintence'>
				<thead>
					<td colspan="2" align="center" style="padding-top:20px;">
						{% with messages = get_flashed_messages() %}
						{% if messages and accountAction == 'accountModify' %}
						<ul class="showModifyMessage" style="display:block">
						{% for message in messages %}
							<li style="color:red;">{{ message }} </li>
						{% endfor %}
						{% endif %}
						{% endwith %}
						</ul>
						<ul class="showModifyMessage" style="display:block">
							<li style="color:red;"></li>
						</ul>
					</td>
				</thead>
				
				<tr>
					<td>Account:</td>
					<td>
						<input type="text" name="account" value="" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" required/>
						{% for error in accountModify.account.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
				
				<tr>
					<td>Password:</td>
					<td>
						<input type="password" name="password" value="" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" required/>
						{% for error in accountModify.password.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
				
				<tr>
					<td>Name:</td>
					<td>
						<input type="text" name="name" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" required/>
						{% for error in accountModify.name.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
				
				<tr>
					<td>E-mail:</td>
					<td>
						<input type="email" name="email" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" required/>
						{% for error in accountModify.email.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
				
				<tr>
					<td>Cellphone:</td>
					<td><input type="text" name="cellphone" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;"/></td>
				</tr>
				
				<tr>
					<td>Active account:</td>
					<td><input type="checkbox" name="active" style="width:20px; height:20px; font-size:20px; border-color:#b4b7c6;"/></td>
				</tr>
				
				<tr>
					<td width="32%">Account deadline:</td>
					<td valign="top">
						<input id="accDeadlineModifyChk" type="checkbox" style="width:20px; height:20px; font-size:20px; border-color:#b4b7c6;" />

						<span id="accDeadlineModify" style="width:350px; color:black; display:none">
							<input id="accDeadlineModifyFrom" type="text" name="deadlineFrom" style="width:125px; height:100%; font-size:20px; border-color:#b4b7c6;" readonly /> ～ <input id="accDeadlineModifyTo" type="text" name="deadlineTo" style="width:125px; height:100%; font-size:20px; border-color:#b4b7c6;" readonly />
						</span>
					</td>
				</tr>
				
				<tr>
					<td >Organization:</td>
					<td>
						<select style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" name="organization">
							<option disabled selected style="display:none;">Please Select</option>
							<option>Default Organization1</option>
						</select>					
					</td>
				</tr>
				
				<tfoot>
					<tr>
						<td>
							<input type="text" name="originalAccount" value='OriginalAccount' style="display:none">
							<input type="text" name="originalEmail" value='OriginalEmail' style="display:none">
						</td>
					</tr>
				</tfoot>			
			</table>

		</div>
		
		<span style="background-color: #cfd7f0; color:#467024; font-size:18px; font-weight: bold; position:absolute; top:43px; left:80px;">Basic Information</span>
		
		<button onclick="closeItem('DataMaintenceDialogModify')" style="margin-right:60px;">Cancel</button>
		<button>OK</button>

		</form>
	</div>
</div>

<div id="DeleteDialog" class="DeleteDialog">
	&nbsp;&nbsp;Delete
	<a href="javascript: closeItem('DeleteDialog');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>
	
	<div class="DeleteDialogComment" style="text-align: center;">
		<div style="width:100%; height:30px;">

			<input type="image" src="{{ url_for('static', filename='img/question.png') }}" style="width:35px; height:35px; position:absolute; top:63px; left:50px;">
			<br/>
			<span>Confirm to delete ?</span>
			
		</div>
			<button id="btnDeleteOK">Yes</button>
			<button onclick="closeItem('DeleteDialog')" style="">No</button>
	</div>
</div>


<script>

/*MainTable hovor and click-------------------------------------------------------------------*/	
	$(".MainTable tbody tr").click(function(){
		if($(this).hasClass("TheActivedTr")){
			
			$(this).css("background","#477a9c");
			$(this).removeClass("TheActivedTr");
			
			$('.accSelect').each(function(){
				$(this).prop('checked',false);
			});
			
			/*---Modify---------------------------------------------------*/
			$('.tbDataMaintence:eq(1) input').each(function(){
				$(this).val('');
			});
			
			$('.tbDataMaintence:eq(1) :checkbox:eq(0)').prop('checked',false);
			
			$('.tbDataMaintence:eq(1) :checkbox:eq(1)').prop('checked',false);
			
			$('.tbDataMaintence:eq(1) :checkbox:eq(1)').prop('checked',false);
			$('#accDeadlineModify').hide();
			$('#accDeadlineModifyFrom').val('');
			$('#accDeadlineModifyTo').val('');
			
			$('.tbDataMaintence:eq(1) select').val('Please Select');
			/*---Modify---------------------------------------------------*/
			return;
		}
		
		$(".MainTable tbody tr").css("background","#477a9c");  //其他td为无色 	
		$(this).css("background","#1b4a69"); //点击。
	
		$(".MainTable tbody tr").each(function(){
			var active = $(this).hasClass("TheActivedTr");
			
			if(active){
				$(this).removeClass("TheActivedTr");
			}
		});
		
		$('.accSelect').each(function(){
			$(this).prop('checked',false);
		});
		
		$(this).addClass("TheActivedTr");	
		$('.TheActivedTr .accSelect').prop('checked','true');
	
/*Load Modify Data-----------------------------------------------------------------------------*/
		var i = 0;
		$('.tbDataMaintence:eq(1) input').each(function(){
			switch(i){
				case 0://account
					$(this).val($('.TheActivedTr td:eq(1)').text());
					break;
					
				case 1://password
					$(this).val($('.TheActivedTr td:eq(8) input').val());
					break;
					
				case 2://name
					$(this).val($('.TheActivedTr td:eq(2)').text());
					break;
					
				case 3://email
					$(this).val($('.TheActivedTr td:eq(4)').text());
					break;
					
				case 4://phone
					$(this).val($('.TheActivedTr td:eq(5)').text());
					break;

				case 9:
					$(this).val($('.TheActivedTr td:eq(1)').text());
					break;

				case 10:
					$(this).val($('.TheActivedTr td:eq(4)').text());
					break;

				default:
					break;
			}
			
			i++
		});

		if($('.TheActivedTr td:eq(6)').text() ==''){
			$('.tbDataMaintence:eq(1) :checkbox:eq(0)').prop('checked',false);
		}else{
			$('.tbDataMaintence:eq(1) :checkbox:eq(0)').prop('checked',true);
		}
		
		if($('.TheActivedTr td:eq(7)').text() ==''){
			$('.tbDataMaintence:eq(1) :checkbox:eq(1)').prop('checked',false);
			
			$('#accDeadlineModify').hide();
			$('#accDeadlineModifyFrom').val('');
			$('#accDeadlineModifyTo').val('');
			
		}else{
			$('.tbDataMaintence:eq(1) :checkbox:eq(1)').prop('checked',true);
			
			var text = $('.TheActivedTr td:eq(7)').text();
			
			$('#accDeadlineModify').show();
			$('#accDeadlineModifyFrom').val(text.substr(0,text.indexOf(" ")));
			$('#accDeadlineModifyTo').val(text.substr(text.lastIndexOf(" ")+1));
		}
		
		if($('.TheActivedTr td:eq(3)').text() == ''){
			$('.tbDataMaintence:eq(1) select').val('Please Select');
			
		}else{
			$('.tbDataMaintence:eq(1) select').val($('.TheActivedTr td:eq(3)').text());
		}
/*-----------------------------------------------------------------------------------*/	
	
	});
		
/*---------------------------------------------------------------*/

	$(document).ready(function(){
		var accountAction="{{accountAction}}"

		if(accountAction == "accountCreate"){
			document.getElementById('DataMaintenceDialogNew').style.display = 'block';
			$('#BlockWindow').show();

			setTimeout(function() {location.href='/accmanagement';}, 1000);

		}else if(accountAction =="accountModify"){
			document.getElementById('DataMaintenceDialogModify').style.display = 'block';
			$('#BlockWindow').show();

			setTimeout(function() {location.href='/accmanagement';}, 1000);

		}else{
			closeItem('DataMaintenceDialogNew');
			closeItem('DataMaintenceDialogModify');
			closeItem('DeleteDialog');
		}


	//RightNavBar(Search)-------------------------------------------------------------
	   	$('#clean_acc').hide();
		
		$('#text_acc').click(function(){
			
			$('#search_acc').css('left','605px');
			$('#clean_acc').show();
		});

		if($('#text_acc').val() != ''){
			$('#search_acc').css('left','605px');
			$('#clean_acc').show();
		}

		$('#text_acc').focusout(function(){
			if($(this).val() == ''){
				chkSearchText();
			}
		});

		function chkSearchText(){
			setTimeout(function() {
				$('#text_acc').val('');
				$('#search_acc').css('left','570px');
				$('#clean_acc').hide();
			}, 500);
		}
		
		$('#clean_acc').click(function(){
			window.location.href = ('/accmanagement');
		});

		$('#search_acc').click(function(){
			var filter = $('#rightNav select').val();
			var value = $('#text_acc').val();

			window.location.href = ('/accountSearch?filter='+filter+'&value='+value);
		});

	//RightNavBar End----------------------------------------------------------
	});
	
/*DataMaintenance New Dateline ----------------------------------------------*/	
	$('#accDeadlineChk').click(function(){
		
		if($(this).is(':checked')){
			$('#accDeadline').show();

		}else{
			$('#accDeadline').hide();
		}
	});
	
	$('#accDeadlineFrom').datepicker({ 
		language: "en", 
		dateFormat : 'yyyy-mm-dd',
		minDate:new Date(),
		autoClose:true,
		onSelect: function onSelect(date) {

			if($('#accDeadlineTo').val() == ''){
				$('#accDeadlineTo').val(date)
			}

			var date_from=new Date(date);
			var date_to = new Date($('#accDeadlineTo').val());
			var days = date_to - date_from;

			if(days<0){
				alert('Date time error');
				$('#accDeadlineTo').val(addDate($('#accDeadlineFrom').val(), 1));
			}
	    }
	});
	
	$('#accDeadlineTo').datepicker({ 
		language: "en", 
		dateFormat : 'yyyy-mm-dd', 
		minDate:new Date(),
		autoClose:true,
		onSelect: function onSelect(date) {

			if($('#accDeadlineFrom').val() == ''){
				$('#accDeadlineFrom').val(date)
			}

			var date_to=new Date(date);
			var date_from = new Date($('#accDeadlineFrom').val());
			var days = date_to - date_from;

			if(days<0){
				alert('Date time error');
				$('#accDeadlineTo').val(addDate($('#accDeadlineFrom').val(), 1));
			}
	    }
	});

/*DataMaintenance Modify Dateline -------------------------------------------*/			
	$('#accDeadlineModifyChk').click(function(){
		
		if($(this).is(':checked')){
			$('#accDeadlineModify').show();

		}else{
			$('#accDeadlineModify').hide();
		}
	});
	
	$('#accDeadlineModifyFrom').datepicker({ 
		language: "en", 
		dateFormat : 'yyyy-mm-dd',
		minDate:new Date(),
		autoClose:true,
		onSelect: function onSelect(date) {

			if($('#accDeadlineModifyTo').val() == ''){
				$('#accDeadlineModifyTo').val(date)
			}

			var date_from=new Date(date);
			var date_to = new Date($('#accDeadlineModifyTo').val());
			var days = date_to - date_from;

			if(days<0){
				alert('Date time error');
				$('#accDeadlineModifyTo').val(addDate($('#accDeadlineModifyFrom').val(), 1));
			}
	    }
	});
	
	$('#accDeadlineModifyTo').datepicker({ 
		language: "en", 
		dateFormat : 'yyyy-mm-dd', 
		minDate:new Date(),
		autoClose:true,
		onSelect: function onSelect(date) {

			if($('#accDeadlineModifyFrom').val() == ''){
				$('#accDeadlineModifyFrom').val(date)
			}

			var date_to=new Date(date);
			var date_from = new Date($('#accDeadlineModifyFrom').val());
			var days = date_to - date_from;

			if(days<0){
				alert('Date time error');
				$('#accDeadlineModifyTo').val(addDate($('#accDeadlineModifyFrom').val(), 1));
			}
	    }
	});

/*btnDeleteOK-------------------------------------------------------------------*/
	$('#btnDeleteOK').click(function(){
		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/accountDelete",
			data : {
				account : $('.TheActivedTr td:eq(1)').text()
			},
			cache : false,
			success : function(data) {

				if(data.deleteInfo == 'You cannot delete yourself !!!'){
					alert(data.deleteInfo)
					closeItem('DeleteDialog');

					return;
				}

				alert('Delete success')
				window.location.href = "/accmanagement";
			},

			error : function(xhr, ajaxOptions, thrownError) {
				alert('Sorry, we face some problem, please try again.')
				window.location.href = "/accmanagement";
			}
		});
	});

/*Support Function-------------------------------------------------------------------*/
	function openItem(obj) {

		if (obj !='DataMaintenceDialogNew' ){
			$('.accSelect').each(function(){
				var chk = $(this).is(':checked')

				if(chk){
					document.getElementById(obj).style.display = 'block';
					$('#BlockWindow').show();

					return;
				}
			});

		}else{
			document.getElementById(obj).style.display = 'block';
			$('#BlockWindow').show();
		}
	}
	
	function closeItem(obj) {
		document.getElementById(obj).style.display = 'none';
		document.getElementsByClassName('showCreateMessage')[0].style.display = 'none';
		document.getElementsByClassName('showModifyMessage')[0].style.display = 'none';

		$('#BlockWindow').hide();
	}
	
	$('#BlockWindow').click(function(){
		closeItem('DataMaintenceDialogNew');
		closeItem('DataMaintenceDialogModify');
		closeItem('DeleteDialog');
	});
	
/*fullScreen-------------------------------------------------------------------*/	
	var FullScreen = false;
	
	$('#fullScreen').click(function() {
		if (screenfull.enabled && !FullScreen) {
			FullScreen = true;
			screenfull.request();
			
		}else if(screenfull.enabled && FullScreen){
			FullScreen = false;
			screenfull.exit();
		}
	});

	function addDate(date,days){
		var d=new Date(date);
		d.setDate(d.getDate()+days);
		var month=d.getMonth()+1;
		var day = d.getDate();

		if(month<10){
			month = "0"+month;
		}

		if(day<10){
			day = "0"+day;
		}

		var val = d.getFullYear()+"-"+month+"-"+day;
		return val;
	};
</script>

<script>
	$.sidebarMenu($('.sidebar-menu'))
</script>

</body>
</html>