<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="csrf-token" content="{{ csrf_token() }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/itmanagementlayout.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/itmanagementstyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar-menu.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ittab.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/smart_wizard_vertical.css') }}">

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/sidebar-menu.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tab.js') }}"></script>
	<script src="{{ url_for('static', filename='js/screenfull.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.smartWizard-2.0.min.js') }}"></script>

	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	  	var csrf_token = $('meta[name=csrf-token]').attr('content')

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrf_token)
				}
			}
		})
	</script>

<title>中央管理系統(CMS)</title>
</head>

<body>

<div id="BlockWindow" style="z-index:100; width:100%; height:100%; background:#e5e5e5; position:fixed; top:0px; left:0px; opacity:0.5; display:none;"></div>
<div class="wrapper">
	<header>
		<!--導航列-->
		{% include 'HeadNav.html' %}
		<!--end 導航列-->
		<ul class="SecondNavBar">
			<li class="NavLi1"><div class="GoToOther"><a href="/serverinfo" class="anchor" >Server 列表</a></div></li>
			<li class="NavLi1"><div class="GoToOther"><a href="/eventlist" class="anchor">事件列表</a></div></li>
		</ul>
	</header><!-- .header-->

	<div class="middle">

		<aside class="left-sidebar"> 
			<aside class="main-sidebar">
				<section  class="sidebar">
					<ul class="sidebar-menu">
				      
				      	<li class="treeview">
					        <a href="#">
					          	<span>Membership</span> <i class="fa fa-toggle-up pull-right"></i>
					        </a>
					        <ul class="treeview-menu">
					        	<li>&nbsp;</li>
						    	<li><a href="/accmanagement"><i class="fa fa-chevron-right"></i> Account management</a></li>
						  		<li><a href="/role"><i class="fa fa-chevron-right"></i> Role management</a></li>
						   		<li><a href="/online"><i class="fa fa-chevron-right"></i> Online User List</a></li>
					        	<li>&nbsp;</li>
					        </ul>
				      	</li>
				      
						<li class="treeview active">
							<a href="#">
				           		<span>Device</span> <i class="fa fa-toggle-up pull-right"></i>
							</a>
				        	<ul class="treeview-menu">
				        		<li>&nbsp;</li>
								<li><a href="#"><i class="fa fa-chevron-right"></i> IT Management</a></li>
								<li><a href="/tankManagement"><i class="fa fa-chevron-right"></i> Tank Management</a></li>
				        		<li>&nbsp;</li>
				        	</ul>
				      	</li>
				      
						<li class="treeview">
							<a href="#">
								<span>Log</span> <i class="fa fa-toggle-up pull-right"></i>
					        </a>
					        <ul class="treeview-menu">
					        	<li>&nbsp;</li>
								<li><a href="/log"><i class="fa fa-chevron-right"></i> System operation log</a></li>
					        	<li>&nbsp;</li>
					        </ul>
				      	</li>
			
				    </ul>
				</section>
			</aside>
		</aside><!-- .left-sidebar -->
		
		<aside class="right-sidebar">
			<ul class="SideNavBar" id="rightNav" style="background-color:#004d74;">
				<li class="NavLi1">
					<div>
						<select style=" border-radius:3px; width:200px; height:35px; background:#5e83a0; border-color:#5e83a0; color:white; font-family:'微軟正黑體', '新細明體'; font-size:20px;">
							<option>Agent</option>
						</select>
					</div>
				</li>
			</ul>
			
			<div style="width:100%; background:#174c78; padding-top:15px; height:calc(100% - 72px);">
				<div class="tab-wrapper" style=" width:99.5%;">

					<ul class="tab-menu" style="margin-left:20px;">
						<li class="active">IPMI</li>
					</ul>

					<div class="tab-content" style="height:calc(100% - 38px);">
						<div style="background:#3d5074; height:100%;"><!--background:#3d5074 -->
							<div style="width:100%; background: linear-gradient(#4b5e80, #3d5074); height:40px;  vertical-align: middle;">
								<button class="btnTabNav" style="margin-left:10px;" onclick="openItem('DataMaintenceDialogNew')" >
									<i class="fa fa-plus-circle"></i>
									Add
								</button>
								
								<button class="btnTabNav" style="color:#b2bac8;" onclick="openItem('DataMaintenceDialogModify')">
									<i class="fa fa-pencil-square-o fa-lg"></i>
									Modify
								</button>
								
								<button class="btnTabNav" style="color:#b2bac8;" onclick="openItem('DeleteDialog')">
									<i class="fa fa-trash-o fa-lg"></i>
									Delete
								</button>
								
								<span style="color:Aqua; font-size:20px; margin:0px 2px 0px 3px;">|</span>
								
								<button class="btnTabNav">
									Restart IPMI Service
								</button>
								
								<select id="selectIpmiSearch" style="border-radius:3px; width:200px; height:25px; background:#5e83a0; border-color:#5e83a0; color:white; font-family:'微軟正黑體', '新細明體'; font-size:15px; margin-left:5px;">
									{% if select == 'ip'%}
										<option value="ip" selected>IP Or Host</option>
										<option value="mac">Mac Address</option>

									{% elif select == 'mac' %}
										<option value="ip" selected>IP Or Host</option>
										<option value="mac" selected>Mac Address</option>

									{% else %}
										<option value="ip" selected>IP Or Host</option>
										<option value="mac">Mac Address</option>
									{% endif %}
								</select>
								
								<input id="text_acc" type="text" value="{{value}}" style="border-radius:3px; width:225px; height:25px; background:#b2cac9; border-color:#b2cac9; font-family:'微軟正黑體', '新細明體'; font-size:15px;"/>
								<input id="search_acc" type="image" src="{{ url_for('static', filename='img/search_acc.png') }}" style="position:relative;top:8px;left:-4px; border-radius:3px;border-left:groove 1px Black; width:27px;height:27px;">

							</div>
							
							<table class="tbIPMI" border="1">
								<thead style="background:#30668d; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px;" align="left" >
									<tr style="font-size:15px;">
										<td style="border-right:groove 1px #6c899d;"></td>
										<td style="border-right:groove 1px #6c899d;">槽位號</td>
										<td style="border-right:groove 1px #6c899d;">IP or Host</td>
										<td style="border-right:groove 1px #6c899d;">Mac Address</td>
										<td style="border-right:groove 1px #6c899d;">Tag</td>										
									</tr>
								</thead>
								
								<tbody style="background:#407395; color:white; font-family:'微軟正黑體', '新細明體';">
									{% for info in server_list %}
									<tr align="left">
										<td><input type="checkbox" class="chkBoxTbIPMI" style="display:inline-block;width:20px; height:20px;"/></td>
										<td>{{info.server_slot}}</td>
										<td>{{info.server_ip}}</td>
										<td>{{info.server_mac}}</td>
										<td>{{info.server_tag}}</td>
										<input type="hidden" value='{{info.server_account}}'/>
										<input type="hidden" value="{{info.decodePwd}}"/>
										<input type="hidden" value="{{info.server_note}}"/>
									</tr>
									{% endfor%}
								</tbody>
								
								<tfoot style="background:#3d5074; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:500px; padding:0px;" align="left" >
									<tr>
										<td colspan="5" style="padding:10px; text-align:left;">
											{% if prev_url%}
												<a href="{{prev_url}}&click=b" class="anchor">
													<button style="color:white">
														<span style="position: relative; bottom:1px;">|</span><i class="fa fa-caret-left"></i>
													</button>
												</a>
											{% else %}
												<button>
													<span style="position: relative; bottom:1px;">|</span><i class="fa fa-caret-left"></i>
												</button>
											{% endif%}

											{% if prev_url%}
												<a href="{{prev_url}}" class="anchor">
													<button style="color:white">
														<i class="fa fa-caret-left"></i>
													</button>
												</a>
											{% else %}
												<button>
													<i class="fa fa-caret-left"></i>
												</button>
											{% endif%}

											Page <input type="text" value="{{ page }}" style="width:30px; text-align:center;" readonly> of {{pageTotal}}

											{% if next_url%}
												<a href="{{next_url}}" class="anchor">
													<button style="color:white">
														<i class="fa fa-caret-right"></i>
													</button>
												</a>
											{% else %}
												<button>
													<i class="fa fa-caret-right"></i>
												</button>
											{% endif%}

											{% if next_url%}
												<a href="{{next_url}}&click=e" class="anchor">
													<button style="color:white">
														<i class="fa fa-caret-right"></i><span style="position: relative; bottom:1px;">|</span>
													</button>
												</a>
											{% else %}
												<button>
													<i class="fa fa-caret-right"></i><span style="position: relative; bottom:1px;">|</span>
												</button>
											{% endif%}

											<a style="color:white" onClick="window.location.reload()">
												<button style="color:white; margin-left:10px;">
													<i class="fa fa-repeat"></i>
												</button>
											</a>

											<span style="float:right; padding:5px 15px 0px 0px;font-size:15px;">Total : {{rowTotal}}, {{((page-1)*2)+1}}/{{rowTotal}}</span>

											<!--<button><span style="position: relative; bottom:1px;">|</span><i class="fa fa-caret-left"></i></button>
											<button><i class="fa fa-caret-left"></i></button>
											
											Page <input type="text" value="1" style="width:30px; text-align:center;"> of 1
											<button><i class="fa fa-caret-right"></i></button>		
											<button><i class="fa fa-caret-right"></i><span style="position: relative; bottom:1px;">|</span></button>
											
											<button style="color:white; margin-left:10px;"><i class="fa fa-repeat"></i></button>
											<span style="float:right; padding:5px 15px 0px 0px;font-size:14px;">Total:3, 1/3</span>-->
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					<!-- //tab-content -->

				</div>
				<!-- //tab-wrapper -->
			</div>			
		</aside><!-- .right-sidebar -->
	</div><!-- .middle-->
</div><!-- .wrapper -->

<div id="DataMaintenceDialogNew" class="DataMaintenceDialogNew">
	&nbsp;&nbsp;<span style="font-size:18px;">Data maintenance－New</span>
	<a href="javascript: closeItem('DataMaintenceDialogNew');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>
	
	<div class="DataMaintenceDialogNewComment" style="position:relative; top:5px; left:-5px; height:525px;">
		<form>	
			<div id="wizard" class="swMain">
				<ul>
					<li >
						<a href="#step-1"><span class="stepDesc">Step 01<br /><small>Select Mode</small></span></a><br/>
						<i class="fa fa-eject fa-rotate-180" style="color:#838f9f; font-size:25px; position:relative; left:75px; top:0px;"></i>
					</li>
					
					<li>
						<a href="#step-2"><span class="stepDesc">Step 02<br /><small>Basic Information</small></span></a><br/>
						<i class="fa fa-eject fa-rotate-180" style="color:#838f9f; font-size:25px; position:relative; left:75px; top:0px;"></i>
					</li>
					
					<li>
						<a href="#step-3"><span class="stepDesc">Step 03<br /><small>Choose IMPI</small></span></a><br/>
						<i class="fa fa-eject fa-rotate-180" style="color:#838f9f; font-size:25px; position:relative; left:75px; top:0px;"></i>
					</li>
					
					<li>
						<a href="#step-4"><span class="stepDesc">Step 04<br /><small>Add Result</small></span></a>
					</li>
				</ul>
				
				
				<div id="step-1">	
					<span class="StepTitle">Select Mode</span>
					<div style="width:100%; height:auto; position:relative; top:-10px; border: 2px solid #b4b7c6;">
						<div style="margin:30px 0px 0px 15px;">
							<table style="font-size:15px; font-family:'PMingLiU', Arial, sans-serif; font-weight: 600;">
								<tr>
									<td>Please Select:</td>
									<td>
										<span>
											<input id="SingleIPMI" type="radio" name="Mode" value="" style="width:15px; height:15px; margin:0px 0px 15px 15px;" checked="checked"/>Single IPMI<br/>
											<input id="MultiIPMIs" type="radio" name="Mode" value="" style="width:15px; height:15px; margin:0px 0px 15px 15px;"/>Multi IPMIs<br/>
											<input id="UniqueKey" type="radio" name="Mode" value="" style="width:15px; height:15px; margin:0px 0px 15px 15px;"/>Unique key<br/>
										</span>
									</td>
								<tr>
							</table>
						</div>
					</div>
				</div>
				
				<div id="step-2">
					<span class="StepTitle">Basic Information</span>
					<div style="width:100%; height:auto; position:relative; top:-10px; border: 2px solid #b4b7c6;">
						
						<div style="margin:30px 0px 0px 15px;">
							<table class="SingleIPMI" style="width:98%; font-size:15px; font-family:'PMingLiU', Arial, sans-serif; font-weight: 600;">
								<tr>
									<td style="width:125px;">IP:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" value="" required/>
									</td>
								<tr>
								
								<tr>
									<td style="width:125px;">Account:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" value="" required/>
									</td>
								<tr>
								
								<tr>
									<td style="width:125px;">Password:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" value="" required/>
									</td>
								<tr>
							</table>
							
							<table class="MultiIPMIs" style="width:98%; font-size:15px; font-family:'PMingLiU', Arial, sans-serif; font-weight: 600; display:none;">
								<tr>
									<td style="width:125px;">Start IP:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" required/>
									</td>
								<tr>
								
								<tr>
									<td style="width:125px;">End IP:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" required/>
									</td>
								<tr>
								
								<tr>
									<td style="width:125px;">Account:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" required/>
									</td>
								<tr>
								
								<tr>
									<td style="width:125px;">Password:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" required/>
									</td>
								<tr>
							</table>
							
							<table class="UniqueKey" style="width:98%; font-size:15px; font-family:'PMingLiU', Arial, sans-serif; font-weight: 600; display: none;">
								<tr>
									<td style="width:125px;">Account:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" required/>
									</td>
								<tr>
								
								<tr>
									<td style="width:125px;">Password:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" required/>
									</td>
								<tr>
								
								<tr>
									<td style="width:125px; vertical-align: top;">Unique Keys:</td>
									<td>
										<textarea style="width:100%; font-size:15px; margin-bottom:10px;" rows="10" required></textarea>
									</td>
								<tr>
							</table>							
						</div>					
					
					</div>				
				</div>     
				                 
				<div id="step-3">
					<span class="StepTitle">Choose IMPI</span>
					<div style="width:100%; height:calc(100% - 25px); position:relative; top:-10px; border: 2px solid #b4b7c6;">
						
						<div style="margin:30px 0px 0px 15px; height:calc(100% - 53px);">
							<div style="width:98%; background: linear-gradient(#4b5e80, #3d5074); height:40px;  vertical-align: middle;">
								<button class="btnTabNav">
									Test
								</button>
								
								<span style="color:yellow; font-size:15px; font-family:'PMingLiU', Arial, sans-serif; font-weight: 600; padding:10px 10px 0px 0px;font-style:italic; float:right;">Click account, password or tag field to modify!</span>
							</div>
							
							<table class="tbChooseIMPI" border="1" style="width:98%; height:calc(100% - 40px);">
								<thead style="background:#d3d3d4; color:black; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:100%;" align="left" >
									<tr style="font-size:12px;">
										<td style="border-right:groove 1px #e3e3e3; width:43px; max-width: 43px; padding:8px 0px 8px 0px;">
											<input type="checkbox" class="chkBoxTbChooseIPMI" style="position:relative;top:5px; left:10px; right:5px;width:15px; height:15px;"/>
										</td>
										
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">槽位號</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">IP or Host</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Account</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Password</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Tag</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Mac Address</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Connect status</td>
										
										<td style="padding:0px; min-width:25px; width:25px; max-width:25px;"></td>
									</tr>
								</thead>
								
								<tbody style="background:#c2c7d0; color:black; font-family:'微軟正黑體', '新細明體'; height:100%;">
									<tr align="left" style="height:100%;">
										<td colspan="9" style="padding:0px;">
											<div style="overflow-y:auto; width:816px; background:white; height:100%;">
												<table border="1" style="max-width:790px;">
													<tbody style="background:#c2c7d0; color:black; font-family:'微軟正黑體', '新細明體'; font-size:12px">										
										   				<tr>
															<td></td>
															<td>1</td>
															<td>192.168.1.1</td>
															<td>admin</td>
															<td>*****</td>
															<td></td>
															<td>30:0e:d5:ca:c4:00</td>
															<td>N/A</td>
														</tr>
														
													</tbody>
												</table>
											</div>
										</td>
									</tr>
									
								</tbody>								
								
							</table>
						</div>	
					</div>	
				</div>
				
				<div id="step-4">
					<span class="StepTitle">Add Result</span>
					<div style="width:100%; height:calc(100% - 25px); position:relative; top:-10px; border: 2px solid #b4b7c6;">
						<div style="margin:30px 0px 0px 15px; height:calc(100% - 53px);">
							
							<table class="tbChooseIMPI" border="1" style="width:98%; height:100%;">
								<thead style="background:#d3d3d4; color:black; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:100%;" align="left" >
									<tr style="font-size:12px; font-weight: bold;">
										<td style="border-right:groove 1px #e3e3e3; width:43px; max-width: 43px; padding:8px 0px 8px 0px;">
											<input type="checkbox" class="chkBoxTbAddFinish" style="position:relative;top:5px; left:10px; right:5px;width:15px; height:15px;"/>
										</td>
										
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">槽位號</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">IP or Host</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Account</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Password</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Tag</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Mac Address</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Connect status</td>
										
										<td style="padding:0px; min-width:25px; width:25px; max-width:25px;"></td>
									</tr>
								</thead>
								
								<tbody style="background:#c2c7d0; color:black; font-family:'微軟正黑體', '新細明體'; height:100%;">
									<tr align="left" style="height:100%;">
										<td colspan="9" style="padding:0px;">
											<div style="overflow-y:auto; width:816px; background:white; height:100%;">
												<table border="1" style="max-width:790px;">
													<tbody style="background:#c2c7d0; color:black; font-family:'微軟正黑體', '新細明體'; font-size:12px">										
										   				
														
													</tbody>
												</table>
											</div>
										</td>
									</tr>
									
								</tbody>								
								
							</table>
						</div>						
					</div>	
				</div>
				
			</div>					
		</form>
		
	</div>
</div>

<div id="DataMaintenceDialogModify" class="DataMaintenceDialog">
	&nbsp;&nbsp;Data maintenance－Modify
	<a href="javascript: closeItem('DataMaintenceDialogModify');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>
	
	<div class="DataMaintenceDialogComment" style="position:relative; top:5px; left:-5px; height:608px;">
		<div style="background:auto; width:500px; height:450px; margin:40px 20px 20px 35px;">
			<table class='tbDataMaintence'>
				<thead>
					<tr><td></td></tr>
				</thead>
				
				<tbody>
					<tr>
						<td width="30%">槽位號:</td>
						<td><input type="text" value="" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" required/></td>
					</tr>
					
					<tr>
						<td width="30%">IP or Host:</td>
						<td><input type="text" value="" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" required/></td>
					</tr>
					
					<tr>
						<td width="30%">Account:</td>
						<td><input type="text" value="" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" required/></td>
					</tr>
					
					<tr>
						<td width="30%">Password:</td>
						<td><input type="password" value="" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" required/></td>
					</tr>
					
					<tr>
						<td width="30%">Mac Address:</td>
						<td><input type="text" value="" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" required/></td>
					</tr>
					
					<tr>
						<td width="30%">Tag:</td>
						<td><input type="text" value="" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;"/></td>
					</tr>
					
					<tr>
						<td width="30%" style="vertical-align: top;">Memo:</td>
						<td>
							<textarea rows="5" style="width:100%;font-size:20px; border-color:#b4b7c6;"></textarea>
							<input type="text" value="" style="display:none"/>
						</td>
					</tr>
				</tbody>

				<tfoot>
					<tr><td></td></tr>
				</tfoot>			
			</table>
		</div>
		<div id="accDeadlineModify" style="position:absolute; top:365px; left:260px; width:350px; color:black;display:none;">
			<input id="accDeadlineModifyFrom" type="text" style="width:125px; height:100%; font-size:20px; border-color:#b4b7c6;"> ～ <input id="accDeadlineModifyTo" type="text" style="width:125px; height:100%; font-size:20px; border-color:#b4b7c6;">
		</div>
		
		<span style="background-color: #cfd7f0; color:#467024; font-size:18px; font-weight: bold; position:absolute; top:43px; left:80px;">Basic Information</span>
		
		<button onclick="closeItem('DataMaintenceDialogModify')" style="margin-right:60px;">Cancel</button>
		<button id="btnIpmiModifyOk">OK</button>
	</div>
</div>

<div id="DeleteDialog" class="DeleteDialog">
	&nbsp;&nbsp;Delete
	<a href="javascript: closeItem('DeleteDialog');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>
	
	<div class="DeleteDialogComment" style="text-align: center;">
		<div style="width:100%; height:30px;">
			<input type="image" src="{{ url_for('static', filename='img/question.png') }}" style="width:35px; height:35px; position:absolute; top:63px; left:40px;">
			<br/>
			<span>Confirm to delete ?</span>
			
		</div>
			<button id="btnDeleteIpmiOk">Yes</button>
			<button onclick="closeItem('DeleteDialog')" style="">No</button>
	</div>
</div>

<script>
/*MainTable hovor and click ------------------------------------------------------------------*/	 
	$(".tbIPMI tbody tr").click(function(){
		if($(this).hasClass("TheActivedTr")){
			$(this).css("background","#407395");
			
			$(this).removeClass("TheActivedTr");
			
			$('.chkBoxTbIPMI').each(function(){
				$(this).prop('checked',false);
			});
			
			$('.btnTabNav:eq(1)').css('color','#b2bac8');
			$('.btnTabNav:eq(2)').css('color','#b2bac8');
			
			return;
		}
				
		$(".tbIPMI tbody tr").css("background","#407395");
		$(this).css("background","#1b4a69");
	
		$(".tbIPMI tbody tr").each(function(){
			var active = $(this).hasClass("TheActivedTr");
			
			if(active){
				$(this).removeClass("TheActivedTr");
			}
		});
		
		$('.chkBoxTbIPMI').each(function(){
			$(this).prop('checked',false);
		});
		
		$(this).addClass("TheActivedTr");	
		$('.TheActivedTr .chkBoxTbIPMI').prop('checked','true');
		
		$('.btnTabNav:eq(1)').css('color','white');
		$('.btnTabNav:eq(2)').css('color','white');

		//Load Modify Data----------------------------------------------------------------------
		var i=0;
		$('.tbDataMaintence input').each(function(){
			switch(i){
				case 0://slot
					$(this).val($('.TheActivedTr td:eq(1)').text());
					break;

				case 1://ip
					$(this).val($('.TheActivedTr td:eq(2)').text());
					break;

				case 2://account
					$(this).val($('.TheActivedTr :hidden:eq(0)').val());
					break;

				case 3://password
					$(this).val($('.TheActivedTr :hidden:eq(1)').val());
					break;

				case 4:
					$(this).val($('.TheActivedTr td:eq(3)').text());
					break;

				case 5:
					$(this).val($('.TheActivedTr td:eq(4)').text());
					break;

				case 6://OrgMac
					$(this).val($('.TheActivedTr td:eq(3)').text());
					break;

				default:
					break;
			}
			i+=1;
		});

		$('.tbDataMaintence textarea').val($('.TheActivedTr :hidden:eq(2)').val());

	});

//Modify Ipmi----------------------------------------------------------------------------
	$('#btnIpmiModifyOk').click(function(){
		var slot = $('.tbDataMaintence input:eq(0)').val();
		var ip = $('.tbDataMaintence input:eq(1)').val();
		var account = $('.tbDataMaintence input:eq(2)').val();
		var password  = $('.tbDataMaintence input:eq(3)').val();
		var mac  = $('.tbDataMaintence input:eq(4)').val();
		var tag  = $('.tbDataMaintence input:eq(5)').val();
		var memo = $('.tbDataMaintence textarea').val();
		var orgMac = $('.tbDataMaintence input:eq(6)').val();

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/IpmiModify",
			data : {
				slot : slot,
				ip : ip,
				account : account,
				password : password,
				mac : mac,
				tag : tag,
				memo : memo,
				orgMac : orgMac
			},
			cache : false,
			success : function(data) {
				if(data.Success == 'True'){
					alert('Account was Update !!!');
					window.location.href = "/itmanagement";
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {

			}
		});
	});

//Delete Ipmi-----------------------------------------------------------------------------
	$('#btnDeleteIpmiOk').click(function(){
		var mac  = $('.TheActivedTr td:eq(3)').text();

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/IpmiDelete",
			data : {
				mac : mac,
			},
			cache : false,
			success : function(data) {
				if(data.Success == 'True'){
					alert('Delete success !!!');
					window.location.href = "/itmanagement";
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {

			}
		});
	})

	$('#SingleIPMI').click(function(){
		$('.SingleIPMI').show();
		$('.MultiIPMIs').hide();
		$('.UniqueKey').hide();
	});

	$('#MultiIPMIs').click(function(){
		$('.SingleIPMI').hide();
		$('.MultiIPMIs').show();
		$('.UniqueKey').hide();
	});

	$('#UniqueKey').click(function(){
		$('.SingleIPMI').hide();
		$('.MultiIPMIs').hide();
		$('.UniqueKey').show();
	});
	

/* 	$(document).ready(function(){

	}); */

//Ipmi Search-----------------------------------------------------------------
$('#search_acc').click(function(){
	var select = $('#selectIpmiSearch').val();
	var text = $('#text_acc').val();

	window.location.href = ('/IpmiSearch?select='+select+'&text='+text);
	console.log(select + text);
})

//Support Function-------------------------------------------------------------
	function openItem(obj) {

		if(obj != 'DataMaintenceDialogNew'){
			$('.chkBoxTbIPMI').each(function(){

				var chk = $(this).is(':checked')
				if(chk){
					document.getElementById(obj).style.display = 'block';
					$('#BlockWindow').show();

					return;
				}
			});

		}else{
			document.getElementById(obj).style.display = 'block';
			$('#BlockWindow').show();
		}
	}
	
	function closeItem(obj) {
		document.getElementById(obj).style.display = 'none';
		$('#BlockWindow').hide();
	}
	
	$('#BlockWindow').click(function(){
		closeItem('DataMaintenceDialogNew');
		closeItem('DataMaintenceDialogModify');
		closeItem('DeleteDialog');
	});
	
/*fullScreen-------------------------------------------------------------------*/
	var FullScreen = false;
	$('#fullScreen').click(function() {
		if (screenfull.enabled && !FullScreen) {
			FullScreen = true;
			screenfull.request();
			
		}else if(screenfull.enabled && FullScreen){
			FullScreen = false;
			screenfull.exit();
		}
	});
</script>

<script>
	$.sidebarMenu($('.sidebar-menu'))
</script>

<script type="text/javascript">
$(document).ready(function(){
	// Smart Wizard	
	$('#wizard').smartWizard({
		transitionEffect:'slide'
	});

	//window.location.href = "/tankManagement";
});
</script>


</body>
</html>