<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="csrf-token" content="{{ csrf_token() }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/rolelayout.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/rolestyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar-menu.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/roletab.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/file-explore.css') }}">

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/sidebar-menu.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tab.js') }}"></script>
	<script src="{{ url_for('static', filename='js/screenfull.js') }}"></script>

	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	  	var csrf_token = $('meta[name=csrf-token]').attr('content')

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrf_token)
				}
			}
		})
	</script>
<!--<script  src="./js/file-explore.js"></script>-->

<title>中央管理系統(CMS)</title>
</head>

<body>

<div id="BlockWindow" style="z-index:100; width:100%; height:100%; background:#e5e5e5; position:fixed; top:0px; left:0px; opacity:0.5; display:none;"></div>
<div class="wrapper">
	<header>
		<!--導航列-->
		{% include 'HeadNav.html' %}
		<!--end 導航列-->
		<ul class="SecondNavBar">
			<li class="NavLi1"><div class="GoToOther"><a href="/serverinfo" class="anchor" >Server 列表</a></div></li>
			<li class="NavLi1"><div class="GoToOther"><a href="/eventlist" class="anchor">事件列表</a></div></li>
		</ul>
	</header><!-- .header-->

	<div class="middle">

		<aside class="left-sidebar"> 
			<aside class="main-sidebar">
				<section  class="sidebar">
					<ul class="sidebar-menu">
				      
				      	<li class="treeview active">
					        <a href="#">
					          	<span>Membership</span> <i class="fa fa-toggle-up pull-right"></i>
					        </a>
					        <ul class="treeview-menu">
					        	<li>&nbsp;</li>
						    	<li><a href="/accmanagement"><i class="fa fa-chevron-right"></i> Account management</a></li>
						  		<li><a href="#"><i class="fa fa-chevron-right"></i> Role management</a></li>
						   		<li><a href="/online"><i class="fa fa-chevron-right"></i> Online User List</a></li>
					        	<li>&nbsp;</li>
					        </ul>
				      	</li>
				      
						<li class="treeview">
							<a href="#">
				           		<span>Device</span> <i class="fa fa-toggle-up pull-right"></i>
							</a>
				        	<ul class="treeview-menu" style="display: none;">
				        		<li>&nbsp;</li>
				        		<li><a href="/tankManagement"><i class="fa fa-chevron-right"></i> Tank Management</a></li>
								<li>&nbsp;</li>
				        	</ul>
				      	</li>
				      
						<li class="treeview">
							<a href="#">
								<span>Log</span> <i class="fa fa-toggle-up pull-right"></i>
					        </a>
					        <ul class="treeview-menu">
					        	<li>&nbsp;</li>
								<li><a href="/log"><i class="fa fa-chevron-right"></i> System operation log</a></li>
					        	<li>&nbsp;</li>
					        </ul>
				      	</li>
			
				    </ul>
				</section>
			</aside>
		</aside><!-- .left-sidebar -->
		
		<aside class="right-sidebar">
			<ul class="SideNavBar" id="rightNav" style="background-color:#004d74; width:90%;">
				<li class="NavLi1">
					<div style="width:400px;">
						<input type="image" src="{{ url_for('static', filename='img/modify_acc.png') }}" class="btnRightNav" onclick="openItem('DataMaintenanceModify')">
						
						<select style="position:absolute; left:100px; top:18px; border-radius:5px; width:200px; height:30px; background:#5e83a0; border-color:#5e83a0; color:white; font-family:'微軟正黑體', '新細明體'; font-size:15px;">
							<option value="role">Role</option>
							<option value="acc">Account</option>
							<option value="name">Name</option>
						</select>
						
						<input id="text_acc" type="text" value="{{value}}" style="position:absolute; left:300px; top:15px; border-radius:5px; width:200px; height:30px; background:#b2cac9; border-color:#b2cac9; font-family:'微軟正黑體', '新細明體'; font-size:15px;"/>

						<input id="clean_acc" type="image" src="{{ url_for('static', filename='img/clean_acc.png') }}" class="" style="position:absolute; left:502px; top:15px; border-radius:5px; border-left:groove 2px Black; width:35px;height:35px; background:#004d74;">
						<input id="search_acc" type="image" src="{{ url_for('static', filename='img/search_acc.png') }}" class="" style="position:absolute; left:502px; top:15px; border-radius:5px; border-left:groove 2px Black; width:35px;height:35px; background:#004d74;">

					</div>
				</li>
			</ul>

			<div style="width:500px; position:absolute; left:0px; height:calc(100% - 75px);">
				<ul class="SecondNavBar" style="background:#1a1e21;">
					<li class="NavLi1"><div style="color:#bad0d5; border-radius: 3px; font-size:15px; font-weight: bold; height:20px; padding:5px 5px 0px 5px;">Role management</div></li>
				</ul>
				
				<table class="tbLeftInfo" border="1" style="width:100%; height:calc(100% - 45px);">
					<thead style="background:#32688e; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:500px;" align="left" >
						<tr style="font-size:15px;">
							<td style="border-right:groove 1px #e3e3e3; width:30px; max-width: 30px;"></td>
							<td style="border-right:groove 1px #e3e3e3; width:120px; max-width: 120px;">Role</td>
							<td style="border-right:groove 1px #e3e3e3; width:119px; max-width: 119px;">Description</td>
							<td style="border-right:groove 1px #e3e3e3; width:119px; max-width: 119px;">Organization</td>
							<td style="padding:0px; min-width:30px; width:30px;"></td>
						</tr>
					</thead>
					
					<tbody style="background:#477a9c; color:white; font-family:'微軟正黑體', '新細明體';">
						<tr align="left">
							<td colspan="5" style="padding:0px;">
								<div id="LeftTableInfo" style="overflow-y:auto; width:100%; background:#477a9c; height:100%;">
									<table id="AccTable"  border="1" style="width:auto;">
										<tbody style="background:#477a9c; color:white; font-family:'微軟正黑體', '新細明體';">
										{% for info in roleList %}
							   				<tr>
						   						<td><input type="checkbox" class="accSelect" style="display:inline-block;width:20px; height:20px;"/></td>
												<td>{{info.role_name}}</td>
												<td>{{info.role_description}}</td>
												<td>{{info.role_group}}</td>
												<td width="30px">
													<input type="hidden" value='{{info.role_auth}}'/>
													<input type="hidden" value='{{info.role_server}}'/>
													<input type="hidden" value='{{info.role_event}}'/>
												</td>
											</tr>
										{% endfor%}
										</tbody>
									</table>
								</div>
							</td>
						</tr>
						
					</tbody>
					<tfoot style="background:#3d5074; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:500px; padding:0px;" align="left" >
						<tr>
							<td colspan="3" style="padding-right:0px;">
								<button><span style="position: relative; bottom:1px;">|</span><i class="fa fa-caret-left"></i></button>
								<button><i class="fa fa-caret-left"></i></button>
								
								Page <input type="text" value="1" style="width:30px; text-align:center;" readonly> of 1
								<button><i class="fa fa-caret-right"></i></button>
								<button><i class="fa fa-caret-right"></i><span style="position: relative; bottom:1px;">|</span></button>
								
								<button style="color:white; margin-left:10px;"><i class="fa fa-repeat"></i></button>
							</td>
							
							<td colspan="2" align="right" style="width:100px;">
							Total:3, 1/1</td>
						</tr>
					</tfoot>
				</table>
			</div>
			
			<div id="RightTabContainer" style="background:#174c78; height:auto; position:absolute; right:0px; width:calc(100% - 500px); height:calc(100% - 75px);">
				<div class="tab-wrapper" style="height:100%;">

					<ul class="tab-menu" style="margin-left:10px;">
						<li class="active">Account</li>
						<li>View</li>
						<li>Permission</li>
					</ul>

					<div class="tab-content" style="height:calc(100% - 45px);">
						<div>
							<div style="background: linear-gradient(#4b5e80, #3d5074); height:40px;  vertical-align: middle;">
								<button id="AddAcc" class="btnTab1Nav" onclick="openItem('AddRoleAcc')">
									<i class="fa fa-plus-circle"></i>
									Add
								</button>
								
								<button class="btnTab1Nav" style="color:#b2bac8;" onclick="openItem('DeleteDialog')">
									<i class="fa fa-trash-o fa-lg"></i>
									Delete
								</button>
							</div>
							
							<table class="tbTab1Info" border="1">
								<thead style="background:#122947; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:100%;" align="left" >
									<tr style="font-size:15px;">
										<td style="border-right:groove 1px #e3e3e3; width:49px; max-width: 49px;">
											<input type="checkbox" class="TabAccSelectAll" style="position:relative;top:5px; left:10px; right:5px;width:20px; height:20px;"/>
										</td>
										
										<td style="border-right:groove 1px #e3e3e3; width:295px; max-width: 295px; padding:8px 0px 8px 10px;">Account</td>
										<td style="border-right:groove 1px #e3e3e3; width:295px; max-width: 295px; padding:8px 0px 8px 10px;">Name</td>
										<td style="padding:0px; min-width:25px; width:25px; max-width:25px;"></td>
									</tr>
								</thead>
								
								<tbody style="background:#143554; color:white; font-family:'微軟正黑體', '新細明體';">
									<tr align="left">
										<td colspan="4" style="padding:0px;">
											<div style="overflow-y:auto; width:100%; background:#143554; height:100%;">
												<table id="RightTableInfo" border="1" style="width:auto; display:none">
													<tbody style="background:#143554; color:white; font-family:'微軟正黑體', '新細明體';">										

													</tbody>
												</table>
											</div>
										</td>
									</tr>
									
								</tbody>
								
								<tfoot style="background:#3d5074; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:500px; padding:0px;" align="left" >
									<tr>
										<td colspan="4" style="padding:10px;">
											<button id="btnMainTableBegin"><span style="position: relative; bottom:1px;">|</span><i class="fa fa-caret-left"></i></button>
											<button  id="btnMainTablePrev"><i class="fa fa-caret-left"></i></button>
											
											Page <input id="MainTablePage" type="text" value="1" style="width:30px; text-align:center;" readonly> of <span id="MainTableTotalPage"></span>
											<button id="btnMainTableNext"><i class="fa fa-caret-right"></i></button>
											<button id="btnMainTableEnd"><i class="fa fa-caret-right"></i><span style="position: relative; bottom:1px;">|</span></button>
											
											<button id="btnMainTableRefresh" style="color:white; margin-left:10px;"><i class="fa fa-repeat"></i></button>
											<span id="MainTableTotalRow" style="float:right"></span>
										</td>
									</tr>
								</tfoot>
								
							</table>
						</div>
						
						<div style="background: #153657; color:white;padding:10px 0px 0px 20px; ">
							<div>
								<div><img src="{{ url_for('static', filename='img/tree_folder.png') }}" style="width:25px; height:20px;"><span style="font-size:18px; position:relative; bottom:5px; font-family:'Microsoft JhengHei', 'PMingLiU';">總覽</span></div>
								<ul class="file-tree file-list">
									<li class="folder-root open">
										<a href="#">
										<img src="{{ url_for('static', filename='img/tree_file.png') }}" style="width:25px; height:20px;">
										<span style="font-size:18px; position:relative; font-family:'Microsoft JhengHei', 'PMingLiU';">
											<input type="checkbox" id="TreeNodeAgent" style="width:18px; height:18px;"/>
											<span style="font-size:18px; position:relative; left:-5px; font-family:'Microsoft JhengHei', 'PMingLiU';">Agent</span>
										</span>
										
										</a>
										
										<ul>
											<li class="folder-root open">
											
											<a href="#">
												<img src="{{ url_for('static', filename='img/tree_folder.png') }}" style="width:25px; height:20px;">
												<span style="font-size:18px; position:relative; bottom:5px; font-family:'Microsoft JhengHei', 'PMingLiU';">Overview</span>
											</a>

												<ul>
													<li>
														<a href="#">
															<img src="{{ url_for('static', filename='img/tree_file.png') }}" style="width:25px; height:20px;">
															<span style="font-size:18px; position:relative; font-family:'Microsoft JhengHei', 'PMingLiU';">
																<input type="checkbox" id="TreeNodeServer" style="width:18px; height:18px;"/>
																<span style="font-size:18px; position:relative; left:-5px;  bottom:3px;font-family:'Microsoft JhengHei', 'PMingLiU';">Server列表</span>
															</span>
														</a>
													
													</li>
													
													<li>
														<a href="#">
															<img src="{{ url_for('static', filename='img/tree_file.png') }}" style="width:25px; height:20px;">
															<span style="font-size:18px; position:relative; font-family:'Microsoft JhengHei', 'PMingLiU';">
																<input type="checkbox" id="TreeNodeEvent" style="width:18px; height:18px;"/>
																<span style="font-size:18px; position:relative; left:-5px; bottom:3px; font-family:'Microsoft JhengHei', 'PMingLiU';">事件列表</span>
															</span>
														</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
								<div style="width:20px;height:150px; background:#153657; position:absolute; top:92px; left:30px;"></div>
								<div style="width:20px;height:150px; background:#153657; position:absolute; top:121px; left:70px;"></div>
								<div style="width:20px;height:150px; background:#153657; position:absolute; top:178px; left:115px;"></div>
							</div>
								
						</div>

						<div id="TabPermission" style="background: #153657; color:white;padding:20px 0px 0px 30px;">

						</div>
					</div>
					<!-- //tab-content -->

				</div>
				<!-- //tab-wrapper -->
			</div>
			
		</aside><!-- .right-sidebar -->
	</div><!-- .middle-->
</div><!-- .wrapper -->

<div id="DataMaintenanceModify" class="DataMaintenanceModify" style="height:390px; top:29%;">
	&nbsp;&nbsp;Data maintenance－Modify
	<a href="javascript: closeItem('DataMaintenanceModify');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>
	
	<div class="DataMaintenanceModifyComment" style="position:relative; top:5px; left:-5px; height:345px;">
		<form action="{{ url_for('roleModify') }}" method="post" name="roleModifyForm">
		{{ roleModifyForm.hidden_tag() }}

		<div style="background:auto; width:500px; height:auto; margin:20px 20px 0px 35px;">
			<table class='tbDataMaintenanceModify'>
				<thead style="padding-top:10px;">
					<tr>
						<td colspan="2" align="center">
							{% with messages = get_flashed_messages() %}
							{% if messages and Action == 'modify' %}
							<ul class="showModifyMessage" style="display:block">
							{% for message in messages %}
								<li style="color:red;">{{ message }} </li>
							{% endfor %}
							{% endif %}
							{% endwith %}
							</ul>
							<ul class="showModifyMessage" style="display:block;">
								<li style="color:red;"></li>
							</ul>
						</td>
					</tr>
				</thead>
				
				<tr>
					<td>Role:</td>
					<td>
						<input type="text" name="name" style="width:100%; font-size:20px; border-color:#b4b7c6;"/>
						<input name="originalRole" style="display:none"/>
						{% for error in roleModifyForm.name.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
				
				<tr>
					<td style="vertical-align:top;">Description:
						
					</td>
					
					<td>
						<textarea name="description" style="width:100%; font-size:20px; border-color:#b4b7c6; padding:0px" rows="5"></textarea>
					</td>
				</tr>

			</table>

		</div>
		
		<span style="background-color: #cfd7f0; color:#467024; font-size:18px; font-weight: bold; position:absolute; top:18px; left:80px;">Basic Information</span>
		
		<button type="button" onclick="closeItem('DataMaintenanceModify')" style="margin-right:60px; float:right;">Cancel</button>
		<button type="submit" id="btnModifyRoleOk" style="float:right;">OK</button>

		</form>
	</div>
</div>

<div id="AddRoleAcc" class="DataMaintenanceModify">
	&nbsp;&nbsp;
	<a href="javascript: closeItem('AddRoleAcc');">
	<i class="fa fa-window-close-o fa-lg close" style="color:white; font-size:20px;"></i>
	</a>
	
	<div class="DataMaintenanceModifyComment" style="position:relative; top:-5px; left:-5px; height:625px;">
		<div style="background:inherit; width:570px; height:550px; margin:10px 0px 10px 0px;">
			<ul class="SideNavBar" style="background-color:#3d5074;">
				<li class="NavLi1">
					<div style="width:100%;">
						<select id="selectSearchNotInRole" style="border-radius:5px; width:200px; height:30px; background:#6081a2; border-color:#5e83a0; color:white; font-family:'微軟正黑體', '新細明體'; font-size:15px;">
							<option value="acc">Account</option>
							<option value="name">Name</option>
						</select>
						<input id="textSearchNotInRole" type="text" style="border-radius:3px; width:200px; height:25px; background:#b2cac9; border-color:#b2cac9; font-family:'微軟正黑體', '新細明體'; font-size:15px;">
						<input id="btnSearchNotInRole" type="image" src="{{ url_for('static', filename='img/search_acc.png') }}" style="position:absolute; left:432px; top:31px; border-radius:3px; border-left:groove 2px Black; width:28px;height:28px; background:#004d74;">
					</div>
				</li>
			</ul>	
			
			<div style="background:auto; width:570px; height:500px;">
				<table class="tbTabDataMaintenanceModify" border="1" style="width:100%; border:groove 1px Black;">
					<thead style="background:#d4d4d5; color:black; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:100%;" align="left" >
						<tr style="font-size:15px;">
							<td style="border-right:groove 1px #e3e3e3; width:47px; max-width: 47px;">
								<input type="checkbox" class="chkAddRoleAccAll" style="position:relative; top:3px; left:8px; width:20px; height:20px;"/>
							</td>
							
							<td style="border-right:groove 1px #e3e3e3; width:250px; max-width: 250px; padding:5px 0px 5px 10px;">Account</td>
							<td style="border-right:groove 1px #e3e3e3; width:250px; max-width: 250px; padding:5px 0px 5px 10px;">Name</td>
							<td style="padding:0px; min-width:20px; width:20px;"></td>
						</tr>
					</thead>
					
					<tbody style="background:white; color:black; font-family:'微軟正黑體', '新細明體';">
						<tr align="left">
							<td colspan="4" style="padding:0px;">
								<div style="height:435px; overflow-y:auto; width:100%; background:white;">
									<table id="AccNotInRole" style="width:547px;">
										<tbody style="background:white; color:black; font-family:'微軟正黑體', '新細明體';">

										</tbody>
									</table>
								</div>
							</td>
						</tr>
						
					</tbody>
					
					<tfoot style="background:#3d5074; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:100%; padding:0px;" align="left" >
						<tr>
							<td colspan="4" style="padding:0px;">
								<button id="btnNotInRoleBegin"><span style="position: relative; bottom:1px;">|</span><i class="fa fa-caret-left"></i></button>
								<button id="btnNotInRolePrev"><i class="fa fa-caret-left"></i></button>
								Page <input id="NotInRolePage" type="text" value="1" style="width:30px; text-align:center;" readonly> of <span id="NotInRoleTotalPage"></span>
								 
								<button id="btnNotInRoleNext"><i class="fa fa-caret-right"></i></button>
								<button id="btnNotInRoleEnd"><i class="fa fa-caret-right"></i><span style="position: relative; bottom:1px;">|</span></button>
								
								<button id="NotInRoleRefresh" style="color:white; margin-left:10px;"><i class="fa fa-repeat"></i></button>
								<span id="NotInRoleTotalRow" style="float:right; margin:5px 10px 0px 0px;"></span>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		
		
		<button onclick="closeItem('AddRoleAcc')" style="margin-right:60px; margin-top:18px; float:right;">Cancel</button>
		<button id="btnAddAccIntoRole" style="margin-top:18px;  float:right;">OK</button>
	</div>
</div>

<div id="DeleteDialog" class="DeleteDialog">
	&nbsp;&nbsp;Delete
	<a href="javascript: closeItem('DeleteDialog');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>
	
	<div class="DeleteDialogComment" style="text-align: center;">
		<div style="width:100%; height:30px;">
			<input type="image" src="{{ url_for('static', filename='img/question.png') }}" style="width:35px; height:35px; position:absolute; top:63px; left:40px;">
			<br/>
			<span>Confirm to delete ?</span>
			
		</div>
		
		<button id="btnDelAccFromRole">Yes</button>
		<button onclick="closeItem('DeleteDialog')" style="">No</button>
		
	</div>
</div>

<script>

	$(document).ready(function(){

		var Action="{{Action}}"

		if(Action == "modify"){
			document.getElementById('DataMaintenanceModify').style.display = 'block';
			$('#BlockWindow').show();

			setTimeout(function() {location.href='/role';}, 1000);

		}else{
			closeItem('DataMaintenanceModify');
			closeItem('AddRoleAcc');
			closeItem('DeleteDialog');
		}

	});

 
/*LeftTable hovor and click ------------------------------------------------------------------*/
	HasTheActivedTr = false;
	role_auth = 3;

	$("#AccTable tbody tr").click(function(){

		if($(this).hasClass("TheActivedTr")){
			window.location.href = "/role";
			return;
		}
				
		$("#AccTable tbody tr").css("background","#477a9c"); 	
		$(this).css("background","#1b4a69");
	
		$("#AccTable tbody tr").each(function(){
			var active = $(this).hasClass("TheActivedTr");
			
			if(active){
				$(this).removeClass("TheActivedTr");
			}
		});
		
		$('.accSelect').each(function(){
			$(this).prop('checked',false);
		});
		
		$(this).addClass("TheActivedTr");	
		$('.TheActivedTr .accSelect').prop('checked','true');
		
		$('.tbTab1Info tbody table').show();


	//Load Modify Info----------------------------------------------------------------------
		$('.tbDataMaintenanceModify input').each(function(){
			$(this).val($('.TheActivedTr td:eq(1)').text());
		})

		$('.tbDataMaintenanceModify textarea').val($('.TheActivedTr td:eq(2)').text());
		var auth = $('.TheActivedTr :hidden:eq(0)').val();
		role_auth = auth;


	//Load View Info----------------------------------------------------------------------
		var CanViewServer = $('.TheActivedTr :hidden:eq(1)').val()
		var CanViewEvent = $('.TheActivedTr :hidden:eq(2)').val()

		if(CanViewServer.toLowerCase() == 'true'){
			$('#TreeNodeServer').prop('checked',true);
			$('#TreeNodeAgent').prop('checked',true);

		}else{
			$('#TreeNodeServer').prop('checked',false);
		}

		if(CanViewEvent.toLowerCase()  == 'true'){
			$('#TreeNodeAgent').prop('checked',true);
			$('#TreeNodeEvent').prop('checked',true);

		}else{
			$('#TreeNodeEvent').prop('checked',false);
		}

		if(CanViewEvent.toLowerCase() == 'false' && CanViewServer.toLowerCase() == 'false'){
			$('#TreeNodeAgent').prop('checked',false);
			$('#TreeNodeServer').prop('checked',false);
			$('#TreeNodeEvent').prop('checked',false);
		}


	//Change Permission Info----------------------------------------------------------------------
		switch(auth){
			case '1':
				$('#TabPermission').text('Manager：可進行所有系統操作。');
				break;

			case '2':
				$('#TabPermission').text('Operator：可進行BMC設備操作。');
				break;

			case '3':
				$('#TabPermission').text('Viewer：只允許觀看設備資訊，無法進行任何設定與操作。');
				break;

			default:
				$('#TabPermission').text('');
				break;
		}

	//GetMainTableInfo--------------------------------------------------------------------------------------
		GetMainTableInfo(1, role_auth)


		HasTheActivedTr = true;
	});

/*MainTable Pagination-----------------------------------------------------*/

	$('#btnMainTableBegin').click(function(){
		var page = parseInt($('#MainTablePage').val())-1;
		if(page <=0){
			return;
		}

		page = 1;

		GetMainTableInfo(page, role_auth);
		$('.TabAccSelectAll').prop('checked',false);
	});

	$('#btnMainTablePrev').click(function(){
		var page = parseInt($('#MainTablePage').val())-1;
		if(page <=0){
			return;
		}

		$('.TabAccSelectAll').prop('checked',false);
		GetMainTableInfo(page, role_auth);
	});

	$('#btnMainTableNext').click(function(){
		var TotalPage = $('#MainTableTotalPage').text();
		var page = parseInt($('#MainTablePage').val())+1;

		if(page > TotalPage){
			return;
		}

		$('.TabAccSelectAll').prop('checked',false);
		GetMainTableInfo(page, role_auth);
	});

	$('#btnMainTableEnd').click(function(){
		var TotalPage = $('#MainTableTotalPage').text();
		var page = parseInt($('#MainTablePage').val())+1;

		if(page > TotalPage){
			return;
		}

		$('.TabAccSelectAll').prop('checked',false);
		GetMainTableInfo(TotalPage, role_auth);
	});

	$('#btnMainTableRefresh').click(function(){
		var page = $('#MainTablePage').val();

		$('.TabAccSelectAll').prop('checked',false);
		GetMainTableInfo(page, role_auth);
	});

	function GetMainTableInfo(p, a){
		var select = $('#rightNav select').val();
		var text = $('#text_acc').val();

		$.ajax({
			type : "GET",
			url : $SCRIPT_ROOT + "/GetRoleAccByAjax",
			data : {
				auth : a,
				page : p,
				select : select,
				text : text
			},
			cache : false,
			success : function(data) {
				aryAcc = data.userInfo
				var page = parseInt(data.page)
				var rowNow = ((page-1)*2)+1

				$('#RightTableInfo tbody').html('');
				$('#MainTableTotalPage').text(data.totalPage);
				$('#MainTablePage').val(page)
				$('#MainTableTotalRow').text("Total:"+ data.totalRow +", " + rowNow + "/" +data.totalRow);

				for(idx in aryAcc){

					$('#RightTableInfo tbody').append("<tr><td><input type='checkbox' value='"+
					aryAcc[idx].account+"' class='TabAccSelect' style='width:20px; height:20px;' onclick='TabAccSelect()'/></td><td>"+
					aryAcc[idx].account+"</td><td>"+
					aryAcc[idx].name+"</td><tr>");
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {

			}
		});
	}

//SearchNavBar-------------------------------------------------------------
	if($('#text_acc').val().trim() == ''){
		$('#clean_acc').hide();
	}

	$('#text_acc').click(function(){

		$('#search_acc').css('left','538px');
		$('#clean_acc').show();
	});

	$('#text_acc').focusout(function(){

		if($(this).val().trim() == ''){
			chkSearchText();
		}
	});

	function chkSearchText(){
		setTimeout(function() {
			$(this).val('');
			$('#search_acc').css('left','502px');
			$('#clean_acc').hide();
		}, 500);
	}

	$('#clean_acc').click(function(){
		window.location.href = ('/role');
	});

	$('#search_acc').click(function(){
		var filter = $('#rightNav select').val();
		var value = $('#text_acc').val();

		if(filter =='role'){
			window.location.href = ('/RoleSearch?filter='+filter+'&value='+value);

		}else{
			GetMainTableInfo(1, role_auth)
		}
	});

/*MainTable(Account) CheckBox---------------------------------------------------------*/
	listTabAccountChk= new Array();
	function TabAccSelect(){

		var chk=$('.TabAccSelect');
		listTabAccountChk= new Array();
		for(var i=0;i<chk.length;i++){
			if(chk[i].checked){
				var chkval = $('.TabAccSelect:eq('+i+')').val();
				listTabAccountChk.push(chkval)
			}
		}

		var notClick = 0;
		$('.TabAccSelect').each(function(){
			var checked = $(this).is(':checked');

			if(!checked){
				notClick +=1;
			}
		});
		if(notClick >= chk.length){
			$('.btnTab1Nav:eq(1)').css('color','#b2bac8');

		}else{
			if(role_auth < 3){
				$('.btnTab1Nav:eq(1)').css('color','white');
			}
		}
	}
	
	$('.TabAccSelectAll').click(function(){
		var checked = $(this).is(':checked');
		
		if(checked && role_auth < 3){
			$('.TabAccSelect').each(function(){
				$(this).prop('checked',true);
			});
			
			$('.btnTab1Nav:eq(1)').css('color','white');
			
		}else{
			$('.TabAccSelect').each(function(){
				$(this).prop('checked',false);
			});
			
			$('.btnTab1Nav:eq(1)').css('color','#b2bac8');
		}

		var chk=$('.TabAccSelect');

		listTabAccountChk= new Array();
		for(var i=0;i<chk.length;i++){
			if(chk[i].checked){
				var chkval = $('.TabAccSelect:eq('+i+')').val();
				listTabAccountChk.push(chkval)
			}
		}
	})

//Load NotInRoleInfo-----------------------------------------------------------------------
	$('#AddAcc').click(function(){
		GetNotInRoleInfo(1, role_auth);
	})

//NotInRole Pagination-----------------------------------------------------------------------

	$('#btnNotInRoleBegin').click(function(){
		var page = parseInt($('#NotInRolePage').val())-1;
		if(page <=0){
			return;
		}

		page = 1;

		$('.chkAddRoleAccAll').prop('checked',false);
		GetNotInRoleInfo(page, role_auth);
	});

	$('#btnNotInRolePrev').click(function(){
		var page = parseInt($('#NotInRolePage').val())-1;
		if(page <=0){
			return;
		}

		$('.chkAddRoleAccAll').prop('checked',false);
		GetNotInRoleInfo(page, role_auth);
	});

	$('#btnNotInRoleNext').click(function(){
		var TotalPage = $('#NotInRoleTotalPage').text();
		var page = parseInt($('#NotInRolePage').val())+1;

		if(page > TotalPage){
			return;
		}

		$('.chkAddRoleAccAll').prop('checked',false);
		GetNotInRoleInfo(page, role_auth);
	});

	$('#btnNotInRoleEnd').click(function(){
		var TotalPage = $('#NotInRoleTotalPage').text();
		var page = parseInt($('#NotInRolePage').val())+1;

		if(page > TotalPage){
			return;
		}

		$('.chkAddRoleAccAll').prop('checked',false);
		GetNotInRoleInfo(TotalPage, role_auth);
	});

	$('#btnNotInRoleRefresh').click(function(){
		var page = $('#MainTablePage').val();

		$('.chkAddRoleAccAll').prop('checked',false);
		GetNotInRoleInfo(page, role_auth);
	});

	$('#btnSearchNotInRole').click(function(){
		var page = $('#MainTablePage').val();

		GetNotInRoleInfo(page, role_auth)
	})

	function GetNotInRoleInfo(p,a){
		var select = $('#selectSearchNotInRole').val();
		var text = $('#textSearchNotInRole').val();

		$.ajax({
			type : "get",
			url : $SCRIPT_ROOT + "/GetAccNotInRoleByAjax",
			data : {
				auth : a,
				page : p,
				select : select,
				text : text
			},
			cache : false,
			success : function(data) {
				aryAcc = data.userInfo
				$('#AccNotInRole tbody').html('');

				var page = parseInt(data.page)
				var rowNow = ((page-1)*2)+1

				$('#NotInRoleTotalPage').text(data.totalPage);
				$('#NotInRolePage').val(page);
				$('#NotInRoleTotalRow').text("Total:"+ data.totalRow +", " + rowNow + "/" +data.totalRow);

				for(idx in aryAcc){

					$('#AccNotInRole tbody').append("<tr><td><input type='checkbox' value='"+
					aryAcc[idx].account+"' class='chkAddRoleAcc' style='display:inline-block;width:20px; height:20px;' onclick='chkAddRoleAcc()'/></td><td>"+
					aryAcc[idx].account+"</td><td>"+
					aryAcc[idx].name+"</td><tr>");
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {

			}
		});
	}

/*AddRole checkbox---------------------------------------------------------*/
	listAddRoleAcc= new Array();

	function chkAddRoleAcc(){
		var chk=$('.chkAddRoleAcc');

		listAddRoleAcc= new Array();
		for(var i=0;i<chk.length;i++){
			if(chk[i].checked){
				var chkval = $('.chkAddRoleAcc:eq('+i+')').val();
				listAddRoleAcc.push(chkval)
			}
		}
	}

	$('.chkAddRoleAccAll').click(function(){
		var checked = $(this).is(':checked');

		if(checked){
			$('.chkAddRoleAcc').each(function(){
				$(this).prop('checked',true);
			});

		}else{
			$('.chkAddRoleAcc').each(function(){
				$(this).prop('checked',false);
			});
		}

		var chk=$('.chkAddRoleAcc');

		listAddRoleAcc= new Array();
		for(var i=0;i<chk.length;i++){
			if(chk[i].checked){
				var chkval = $('.chkAddRoleAcc:eq('+i+')').val();
				listAddRoleAcc.push(chkval)
			}
		}
	})

//AddAccIntoRole-------------------------------------------------------------------
	$('#btnAddAccIntoRole').click(function(){
		if(listAddRoleAcc.length <=0){
			return;
		}

		var json = {
			'auth' : role_auth,
			'acc' :listAddRoleAcc
		};

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/AddAccIntoRole",
			data: JSON.stringify(json, null, '\t'),
    		contentType: 'application/json;charset=UTF-8',
			cache : false,
			success : function(data) {
				if(data.CantChangeYourself == 'True'){
					alert("Can not change yourself's role !!!");

					if(listAddRoleAcc.length <=1){
						window.location.href = "/role";
						return;
					}
				}

				if(data.Success == 'True'){
					alert('Add Account Success !!!');
					window.location.href = "/role";
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {

			}
		});
	})

//DelRoleAcc-------------------------------------------------------------------

	$('#btnDelAccFromRole').click(function(){
		if(listTabAccountChk.length <=0){
			return;
		}

		json = {
			'auth' : role_auth,
			'acc' : listTabAccountChk
		};

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/DelRoleAcc",
			data: JSON.stringify(json, null, '\t'),
    		contentType: 'application/json;charset=UTF-8',
			cache : false,
			success : function(data) {
				console.log(data.CantChangeYourself);
				if(data.CantChangeYourself == 'True'){
					alert("Can not change yourself's role !!!");

					if(listTabAccountChk.length <=1){
						window.location.href = "/role";
						return;
					}
				}

				if(data.Success == 'True'){
					alert('Change Account Success !!!');
					window.location.href = "/role";
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {

			}
		});
	})
//TreeNodeClick----------------------------------------------------------------
	$('#TreeNodeAgent').click(function(e){

		if(!HasTheActivedTr){
			//e.preventDefault();
			$('#TreeNodeAgent').prop('checked',false);
			return;
		}

		var checked = $(this).is(':checked');
		if(checked){
			$('#TreeNodeServer').prop('checked',true);
			$('#TreeNodeEvent').prop('checked',true);

		}else{
			$('#TreeNodeServer').prop('checked',false);
			$('#TreeNodeEvent').prop('checked',false);
		}

		ChangeViewByAjax();
	})

	$('#TreeNodeServer').click(function(){

		if(!HasTheActivedTr){
			$(this).prop('checked',false);
			return;
		}

		if($(this).is(':checked')){
			$('#TreeNodeAgent').prop('checked',true);

		}else{
			var checked = $('#TreeNodeEvent').is(':checked');

			if(!checked){
				$('#TreeNodeAgent').prop('checked',false);
			}
		}

		ChangeViewByAjax();
	})

	$('#TreeNodeEvent').click(function(){

		if(!HasTheActivedTr){
			$(this).prop('checked',false);
			return;
		}

		if($(this).is(':checked')){
			$('#TreeNodeAgent').prop('checked',true);

		}else{

			var checked = $('#TreeNodeServer').is(':checked');

			if(!checked){
				$('#TreeNodeAgent').prop('checked',false);
			}
		}

		ChangeViewByAjax();
	})

	function ChangeViewByAjax(){
		ChkServer = $('#TreeNodeServer').is(':checked');
		ChkEvent = $('#TreeNodeEvent').is(':checked');

		$('.TheActivedTr :hidden:eq(1)').val(ChkServer)
		$('.TheActivedTr :hidden:eq(2)').val(ChkEvent)

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/ChangeViewByAjax",
			data : {
				server : ChkServer,
				event : ChkEvent,
				auth : role_auth
			},
			cache : false,
			success : function(data) {
				if(data.Success == 'True'){
					//alert('Change Account Success !!!');
					//window.location.href = "/role";
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {

			}
		});
	}

//Support Function-------------------------------------------------------------
	function openItem(obj) {
		if (obj =='DeleteDialog' ){
			$('.TabAccSelect').each(function(){
				var chk = $(this).is(':checked')

				if(chk && role_auth <3){
					document.getElementById(obj).style.display = 'block';
					$('#BlockWindow').show();
					return;
				}
			});
		}else{
			$('.accSelect').each(function(){
				var chk = $(this).is(':checked')

				if(chk){
					document.getElementById(obj).style.display = 'block';
					$('#BlockWindow').show();

					return;
				}
			});
		}
	}
	
	function closeItem(obj) {
		document.getElementById(obj).style.display = 'none';
		document.getElementsByClassName('showModifyMessage')[0].style.display = 'none';
		$('#BlockWindow').hide();
	}
	
	$('#BlockWindow').click(function(){
		closeItem('DataMaintenanceModify');
		closeItem('AddRoleAcc');
		closeItem('DeleteDialog');
	});
	
/*fullScreen-------------------------------------------------------------------*/	
	var FullScreen = false;

	$('#fullScreen').click(function() {
		if (screenfull.enabled && !FullScreen) {
			FullScreen = true;			
			screenfull.request();
			
		}else if(screenfull.enabled && FullScreen){
			FullScreen = false;
			screenfull.exit();
		}
	});
</script>

<script>
	$.sidebarMenu($('.sidebar-menu'))
</script>

<!-- <script type="text/javascript">
	$(document).ready(function() {
		$(".file-tree").filetree();
	});
</script> -->

</body>
</html>