<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="csrf-token" content="{{ csrf_token() }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/rolelayout.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/tankStyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/tankTab.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar-menu.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/file-explore.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/smart_wizard_vertical.css') }}">

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/sidebar-menu.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tab.js') }}"></script>
	<script src="{{ url_for('static', filename='js/screenfull.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.smartWizard-2.0.min.js') }}"></script>

	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	  	var csrf_token = $('meta[name=csrf-token]').attr('content')

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrf_token)
				}
			}
		})
	</script>
<!--<script  src="./js/file-explore.js"></script>-->

<title>中央管理系統(CMS)</title>
</head>

<body>

<div id="BlockWindow" style="z-index:100; width:100%; height:100%; background:#e5e5e5; position:fixed; top:0px; left:0px; opacity:0.5; display:none;"></div>
<div class="wrapper">
	<header>
		<!--導航列-->
		{% include 'HeadNav.html' %}
		<!--end 導航列-->
		<ul class="SecondNavBar">
			<li class="NavLi1"><div class="GoToOther"><a href="/serverinfo" class="anchor" >Server 列表</a></div></li>
			<li class="NavLi1"><div class="GoToOther"><a href="/eventlist" class="anchor">事件列表</a></div></li>
		</ul>
	</header><!-- .header-->

	<div class="middle">

		<aside class="left-sidebar"> 
			<aside class="main-sidebar">
				<section  class="sidebar">
					<ul class="sidebar-menu">
				      
				      	<li class="treeview">
					        <a href="#">
					          	<span>Membership</span> <i class="fa fa-toggle-up pull-right"></i>
					        </a>
					        <ul class="treeview-menu">
					        	<li>&nbsp;</li>
						    	<li><a href="/accmanagement"><i class="fa fa-chevron-right"></i> Account management</a></li>
						  		<li><a href="/role"><i class="fa fa-chevron-right"></i> Role management</a></li>
						   		<li><a href="/online"><i class="fa fa-chevron-right"></i> Online User List</a></li>
					        	<li>&nbsp;</li>
					        </ul>
				      	</li>
				      
						<li class="treeview active">
							<a href="#">
				           		<span>Device</span> <i class="fa fa-toggle-up pull-right"></i>
							</a>
				        	<ul class="treeview-menu">
				        		<li>&nbsp;</li>
								<!--<li><a href="/itmanagement"><i class="fa fa-chevron-right"></i> IT Management</a></li>-->
								<li><a href="#"><i class="fa fa-chevron-right"></i> Tank Management</a></li>
								<li>&nbsp;</li>
				        	</ul>
				      	</li>
				      
						<li class="treeview">
							<a href="#">
								<span>Log</span> <i class="fa fa-toggle-up pull-right"></i>
					        </a>
					        <ul class="treeview-menu">
					        	<li>&nbsp;</li>
								<li><a href="/log"><i class="fa fa-chevron-right"></i> System operation log</a></li>
					        	<li>&nbsp;</li>
					        </ul>
				      	</li>
			
				    </ul>
				</section>
			</aside>
		</aside><!-- .left-sidebar -->
		
		<aside class="right-sidebar">
			<ul class="SideNavBar" id="rightNav" style="background-color:#004d74; width:90%;">
				<li class="NavLi1">
					<div style="width:400px;">
						<input type="image" src="{{ url_for('static', filename='img/add_acc.png') }}" class="btnRightNav" onclick="openItem('AddTank')">
						<input type="image" src="{{ url_for('static', filename='img/modify_acc.png') }}" class="btnRightNav" onclick="openItem('DataMaintenanceModify')">
						<input type="image" src="{{ url_for('static', filename='img/del_acc.png') }}" class="btnRightNav" onclick="openItem('DeleteTank')">

						<select style="position:absolute; left:220px; top:20px; border-radius:5px; width:200px; height:30px; background:#5e83a0; border-color:#5e83a0; color:white; font-family:'微軟正黑體', '新細明體'; font-size:15px;">
							<option value="tank">Tank</option>
							<option value="ip">IP</option>
							<option value="mac">Mac</option>
						</select>
						
						<input id="text_acc" type="text" value="{{value}}" style="position:absolute; left:420px; top:15px; border-radius:5px; width:200px; height:30px; background:#b2cac9; border-color:#b2cac9; font-family:'微軟正黑體', '新細明體'; font-size:15px;"/>

						<input id="clean_acc" type="image" src="{{ url_for('static', filename='img/clean_acc.png') }}" class="" style="position:absolute; left:625px; top:16px; border-radius:5px; border-left:groove 2px Black; width:35px;height:35px; background:#004d74;">
						<input id="search_acc" type="image" src="{{ url_for('static', filename='img/search_acc.png') }}" class="" style="position:absolute; left:625px; top:16px; border-radius:5px; border-left:groove 2px Black; width:35px;height:35px; background:#004d74;">

					</div>
				</li>
			</ul>

			<div style="width:500px; position:absolute; left:0px; height:calc(100% - 75px);">
				<ul class="SecondNavBar" style="background:#1a1e21;">
					<li class="NavLi1"><div style="color:#bad0d5; border-radius: 3px; font-size:15px; font-weight: bold; height:20px; padding:5px 5px 0px 5px;">Tank Management</div></li>
				</ul>
				
				<table class="tbLeftInfo" border="1" style="width:100%; height:calc(100% - 45px);">
					<thead style="background:#32688e; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:500px;" align="left" >
						<tr style="font-size:15px;">
							<td style="border-right:groove 1px #e3e3e3; width:15px; max-width: 15px;"></td>
							<td style="border-right:groove 1px #e3e3e3; width:80px; max-width: 80px;">Tank</td>
							<td style="border-right:groove 1px #e3e3e3; width:119px; max-width: 119px;">Description</td>
							<td style="padding:0px; min-width:68px; width:68px;"></td>
						</tr>
					</thead>
					
					<tbody style="background:#477a9c; color:white; font-family:'微軟正黑體', '新細明體';">
						<tr align="left">
							<td colspan="5" style="padding:0px;">
								<div id="LeftTableInfo" style="overflow-y:auto; width:100%; background:#477a9c; height:100%;">
									<table id="AccTable"  border="1" style="width:auto;">
										<tbody style="background:#477a9c; color:white; font-family:'微軟正黑體', '新細明體';">
										{% for info in tankList %}
							   				<tr>
						   						<td><input type="checkbox" class="accSelect" style="display:inline-block;width:20px; height:20px;"/></td>
												<td>{{info.tank_name}}</td>
												<td>{{info.tank_description}}</td>
												<td width="30px">
													<input type="hidden" value='{{info.tank_name}}'/>
												</td>
											</tr>
										{% endfor%}
										</tbody>
									</table>
								</div>
							</td>
						</tr>
						
					</tbody>
					<tfoot style="background:#3d5074; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:500px; padding:0px;" align="left" >
						<tr>
							<td colspan="3" style="padding-right:0px;">
								<button><span style="position: relative; bottom:1px;">|</span><i class="fa fa-caret-left"></i></button>
								<button><i class="fa fa-caret-left"></i></button>
								
								Page <input type="text" value="1" style="width:30px; text-align:center;" readonly> of 1
								<button><i class="fa fa-caret-right"></i></button>
								<button><i class="fa fa-caret-right"></i><span style="position: relative; bottom:1px;">|</span></button>
								
								<button style="color:white; margin-left:10px;"><i class="fa fa-repeat"></i></button>
							</td>
							
							<td colspan="2" align="right" style="width:100px;">
							Total:3, 1/1</td>
						</tr>
					</tfoot>
				</table>
			</div>
			
			<div id="RightTabContainer" style="background:#174c78; height:auto; position:absolute; right:0px; width:calc(100% - 500px); height:calc(100% - 75px);">
				<div class="tab-wrapper" style="height:100%;">

					<ul class="tab-menu" style="margin-left:10px;">
						<li class="active">Server</li>
					</ul>

					<div class="tab-content" style="height:calc(100% - 45px);">
						<div>
							<div style="background: linear-gradient(#4b5e80, #3d5074); height:40px;  vertical-align: middle;">
								<button id="AddAcc" class="btnTab1Nav" onclick="openItem('DataMaintenceDialogNew')">
									<i class="fa fa-plus-circle"></i>
									Add
								</button>

								<button class="btnTab1Nav" style="color:#b2bac8;" onclick="openItem('DataMaintenceDialogModify')">
									<i class="fa fa-pencil-square-o fa-lg"></i>
									Modify
								</button>
								
								<button class="btnTab1Nav" style="color:#b2bac8;" onclick="openItem('DeleteDialog')">
									<i class="fa fa-trash-o fa-lg"></i>
									Delete
								</button>

								<span style="color:Aqua; font-size:20px; margin:0px 2px 0px 3px;">|</span>

								<button class="btnTab1Nav">
									Restart IPMI Service
								</button>

								<select id="selectIpmiSearch" style="border-radius:3px; width:80px; height:25px; background:#5e83a0; border-color:#5e83a0; color:white; font-family:'微軟正黑體', '新細明體'; font-size:15px; margin-left:5px;">
									<option value="ip" selected>IP</option>
									<option value="mac">Mac </option>
								</select>

								<input id="txtSearchServer" type="text" value="{{value}}" style="border-radius:3px; width:143px; height:25px; background:#b2cac9; border-color:#b2cac9; font-family:'微軟正黑體', '新細明體'; font-size:15px;"/>
								<input id="btnSearchServer" type="image" src="{{ url_for('static', filename='img/search_acc.png') }}" style="position:relative;top:8px;left:-4px; border-radius:3px;border-left:groove 1px Black; width:27px;height:27px;">



							</div>
							
							<table class="tbTab1Info" border="1">
								<thead style="background:#122947; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:100%;" align="left" >
									<tr style="font-size:15px;">
										<td style="border-right:groove 1px #e3e3e3; width:50px; max-width: 50px;"></td>

										<td style="border-right:groove 1px #e3e3e3; width:55px; max-width: 55px; padding:8px 0px 8px 10px;">Slot</td>
										<td style="border-right:groove 1px #e3e3e3; width:130px; max-width: 130px; padding:8px 0px 8px 10px;">IP</td>
										<td style="border-right:groove 1px #e3e3e3; width:200px; max-width: 200px; padding:8px 0px 8px 10px;">Mac address</td>
										<td style="border-right:groove 1px #e3e3e3; width:250px; max-width: 250px; padding:8px 0px 8px 10px;">Function Tag</td>
										<td style="padding:0px; min-width:25px; width:25px; max-width:25px;"></td>
									</tr>
								</thead>
								
								<tbody style="background:#143554; color:white; font-family:'微軟正黑體', '新細明體';">
									<tr align="left">
										<td colspan="6" style="padding:0px;">
											<div style="overflow-y:auto; width:100%; background:#143554; height:100%;">
												<table id="RightTableInfo" border="1" style="width:auto; display:none">
													<tbody style="background:#143554; color:white; font-family:'微軟正黑體', '新細明體';">										

													</tbody>
												</table>
											</div>
										</td>
									</tr>
									
								</tbody>
								
								<tfoot style="background:#3d5074; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:500px; padding:0px;" align="left" >
									<tr>
										<td colspan="6" style="padding:10px;">
											<button id="btnMainTableBegin"><span style="position: relative; bottom:1px;">|</span><i class="fa fa-caret-left"></i></button>
											<button  id="btnMainTablePrev"><i class="fa fa-caret-left"></i></button>
											
											Page <input id="MainTablePage" type="text" value="1" style="width:30px; text-align:center;" readonly> of <span id="MainTableTotalPage"></span>
											<button id="btnMainTableNext"><i class="fa fa-caret-right"></i></button>
											<button id="btnMainTableEnd"><i class="fa fa-caret-right"></i><span style="position: relative; bottom:1px;">|</span></button>
											
											<button id="btnMainTableRefresh" style="color:white; margin-left:10px;"><i class="fa fa-repeat"></i></button>
											<span id="MainTableTotalRow" style="float:right"></span>
										</td>
									</tr>
								</tfoot>
								
							</table>
						</div>
					</div>
					<!-- //tab-content -->

				</div>
				<!-- //tab-wrapper -->
			</div>
			
		</aside><!-- .right-sidebar -->
	</div><!-- .middle-->
</div><!-- .wrapper -->

<!--Add Tank-------------------------------------------------------------------------->
<div id="AddTank" class="DataMaintenanceModify" style="height:390px; top:29%;">
	&nbsp;&nbsp;Data maintenance－New
	<a href="javascript: closeItem('AddTank');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>

	<div class="DataMaintenanceModifyComment" style="position:relative; top:5px; left:-5px; height:345px;">
		<form action="{{ url_for('AddTank')}}" method="post" name="addTankForm">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

		<div style="background:auto; width:500px; height:auto; margin:20px 20px 0px 35px;">
			<table class='tbDataMaintenanceModify'>
				<thead style="padding-top:10px;">
					<tr>
						<td colspan="2" align="center">
							{% with messages = get_flashed_messages() %}
							{% if messages and Action == 'create' %}
							<ul class="showModifyMessage" style="display:block">
							{% for message in messages %}
								<li style="color:red;">{{ message }} </li>
							{% endfor %}
							{% endif %}
							{% endwith %}
							</ul>
							<ul class="showModifyMessage" style="display:block;">
								<li style="color:red;"></li>
							</ul>
						</td>
					</tr>
				</thead>

				<tr>
					<td>Tank:</td>
					<td>
						<input type="text" name="name" style="width:100%; font-size:20px; border-color:#b4b7c6;" required/>
						{% for error in addTankForm.name.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>

				<tr>
					<td style="vertical-align:top;">Description:

					</td>

					<td>
						<textarea name="description" style="width:100%; font-size:20px; border-color:#b4b7c6; padding:0px" rows="5"></textarea>
					</td>
				</tr>

			</table>
		</div>

		<span style="background-color: #cfd7f0; color:#467024; font-size:18px; font-weight: bold; position:absolute; top:18px; left:80px;">Basic Information</span>

		<button onclick="closeItem('AddTank')" style="margin-right:60px; float:right;">Cancel</button>
		<button type="submit" id="btnAddTankOk" style="float:right;">OK</button>

		</form>
	</div>
</div>

<!--Modify Tank-------------------------------------------------------------------------->
<div id="DataMaintenanceModify" class="DataMaintenanceModify" style="height:390px; top:29%;">
	&nbsp;&nbsp;Data maintenance－Modify
	<a href="javascript: closeItem('DataMaintenanceModify');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>
	
	<div class="DataMaintenanceModifyComment" style="position:relative; top:5px; left:-5px; height:345px;">
		<form action="{{ url_for('ModifyTank') }}" method="post" name="modifyTankForm">
		{{ modifyTankForm.hidden_tag() }}

		<div style="background:auto; width:500px; height:auto; margin:20px 20px 0px 35px;">
			<table class='tbDataMaintenanceModify'>
				<thead style="padding-top:10px;">
					<tr>
						<td colspan="2" align="center">
							{% with messages = get_flashed_messages() %}
							{% if messages and Action == 'modify' %}
							<ul class="showModifyMessage" style="display:block">
							{% for message in messages %}
								<li style="color:red;">{{ message }} </li>
							{% endfor %}
							{% endif %}
							{% endwith %}
							</ul>
							<ul class="showModifyMessage" style="display:block;">
								<li style="color:red;"></li>
							</ul>
						</td>
					</tr>
				</thead>
				
				<tr>
					<td>Tank:</td>
					<td>
						<input type="text" name="name" style="width:100%; font-size:20px; border-color:#b4b7c6;"/>
						<input name="originalTank" style="display:none"/>
						{% for error in modifyTankForm.name.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</td>
				</tr>
				
				<tr>
					<td style="vertical-align:top;">Description:
						
					</td>
					
					<td>
						<textarea name="description" style="width:100%; font-size:20px; border-color:#b4b7c6; padding:0px" rows="5"></textarea>
					</td>
				</tr>

			</table>

		</div>
		
		<span style="background-color: #cfd7f0; color:#467024; font-size:18px; font-weight: bold; position:absolute; top:18px; left:80px;">Basic Information</span>
		
		<button type="button" onclick="closeItem('DataMaintenanceModify')" style="margin-right:60px; float:right;">Cancel</button>
		<button type="submit" id="btnModifyRoleOk" style="float:right;">OK</button>

		</form>
	</div>
</div>

<!--Delete Tank--------------------------------------------------------------------------------->
<div id="DeleteTank" class="DeleteDialog">
	&nbsp;&nbsp;Delete
	<a href="javascript: closeItem('DeleteTank');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>

	<div class="DeleteDialogComment" style="text-align: center;">
		<div style="width:100%; height:30px;">
			<input type="image" src="{{ url_for('static', filename='img/question.png') }}" style="width:35px; height:35px; position:absolute; top:63px; left:40px;">
			<br/>
			<span>Confirm to delete ?</span>

		</div>

		<button id="btnDeleteTankOk">Yes</button>
		<button onclick="closeItem('DeleteTank')" style="">No</button>

	</div>
</div>

<!--Add Server-->

<div id="DataMaintenceDialogNew" class="DataMaintenceDialogNew">
	&nbsp;&nbsp;<span style="font-size:18px;">Data maintenance－New</span>
	<a href="javascript: closeItem('DataMaintenceDialogNew');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>

	<div class="DataMaintenceDialogNewComment" style="position:relative; top:5px; left:-5px; height:525px;">
		<form>
			<div id="wizard" class="swMain">
				<ul>
					<li >
						<a href="#step-1"><span class="stepDesc">Step 01<br /><small>Select Mode</small></span></a><br/>
						<i class="fa fa-eject fa-rotate-180" style="color:#838f9f; font-size:25px; position:relative; left:75px; top:0px;"></i>
					</li>

					<li>
						<a href="#step-2"><span class="stepDesc">Step 02<br /><small>Basic Information</small></span></a><br/>
						<i class="fa fa-eject fa-rotate-180" style="color:#838f9f; font-size:25px; position:relative; left:75px; top:0px;"></i>
					</li>

					<li>
						<a href="#step-3"><span class="stepDesc">Step 03<br /><small>Choose IMPI</small></span></a><br/>
						<i class="fa fa-eject fa-rotate-180" style="color:#838f9f; font-size:25px; position:relative; left:75px; top:0px;"></i>
					</li>

					<li>
						<a href="#step-4"><span class="stepDesc">Step 04<br /><small>Add Result</small></span></a>
					</li>
				</ul>


				<div id="step-1">
					<span class="StepTitle">Select Mode</span>
					<div style="width:100%; height:auto; position:relative; top:-10px; border: 2px solid #b4b7c6;">
						<div style="margin:30px 0px 0px 15px;">
							<table style="font-size:15px; font-family:'PMingLiU', Arial, sans-serif; font-weight: 600;">
								<tr>
									<td>Please Select:</td>
									<td>
										<span>
											<input id="SingleIPMI" type="radio" name="Mode" value="" style="width:15px; height:15px; margin:0px 0px 15px 15px;" checked="checked"/>Single IPMI<br/>
											<input id="MultiIPMIs" type="radio" name="Mode" value="" style="width:15px; height:15px; margin:0px 0px 15px 15px;"/>Multi IPMIs<br/>
											<input id="UniqueKey" type="radio" name="Mode" value="" style="width:15px; height:15px; margin:0px 0px 15px 15px;"/>Unique key<br/>
										</span>
									</td>
								<tr>
							</table>
						</div>
					</div>
				</div>

				<div id="step-2">
					<span class="StepTitle">Basic Information</span>
					<div style="width:100%; height:auto; position:relative; top:-10px; border: 2px solid #b4b7c6;">

						<div style="margin:30px 0px 0px 15px;">
							<table class="SingleIPMI" style="width:98%; font-size:15px; font-family:'PMingLiU', Arial, sans-serif; font-weight: 600;">
								<tr>
									<td style="width:125px;">IP:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" value="" required/>
									</td>
								<tr>

								<tr>
									<td style="width:125px;">Account:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" value="" required/>
									</td>
								<tr>

								<tr>
									<td style="width:125px;">Password:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" value="" required/>
									</td>
								<tr>
							</table>

							<table class="MultiIPMIs" style="width:98%; font-size:15px; font-family:'PMingLiU', Arial, sans-serif; font-weight: 600; display:none;">
								<tr>
									<td style="width:125px;">Start IP:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" required/>
									</td>
								<tr>

								<tr>
									<td style="width:125px;">End IP:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" required/>
									</td>
								<tr>

								<tr>
									<td style="width:125px;">Account:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" required/>
									</td>
								<tr>

								<tr>
									<td style="width:125px;">Password:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" required/>
									</td>
								<tr>
							</table>

							<table class="UniqueKey" style="width:98%; font-size:15px; font-family:'PMingLiU', Arial, sans-serif; font-weight: 600; display: none;">
								<tr>
									<td style="width:125px;">Account:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" required/>
									</td>
								<tr>

								<tr>
									<td style="width:125px;">Password:</td>
									<td>
										<input type="text" style="width:100%; height:20px; font-size:15px; margin-bottom:10px;" required/>
									</td>
								<tr>

								<tr>
									<td style="width:125px; vertical-align: top;">Unique Keys:</td>
									<td>
										<textarea style="width:100%; font-size:15px; margin-bottom:10px;" rows="10" required></textarea>
									</td>
								<tr>
							</table>
						</div>

					</div>
				</div>

				<div id="step-3">
					<span class="StepTitle">Choose IMPI</span>
					<div style="width:100%; height:calc(100% - 25px); position:relative; top:-10px; border: 2px solid #b4b7c6;">

						<div style="margin:30px 0px 0px 15px; height:calc(100% - 53px);">
							<div style="width:98%; background: linear-gradient(#4b5e80, #3d5074); height:40px;  vertical-align: middle;">
								<button class="btnTabNav">
									Test
								</button>

								<span style="color:yellow; font-size:15px; font-family:'PMingLiU', Arial, sans-serif; font-weight: 600; padding:10px 10px 0px 0px;font-style:italic; float:right;">Click account, password or tag field to modify!</span>
							</div>

							<table class="tbChooseIMPI" border="1" style="width:98%; height:calc(100% - 40px);">
								<thead style="background:#d3d3d4; color:black; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:100%;" align="left" >
									<tr style="font-size:12px;">
										<td style="border-right:groove 1px #e3e3e3; width:43px; max-width: 43px; padding:8px 0px 8px 0px;">
											<input type="checkbox" class="chkBoxTbChooseIPMI" checked disabled="true" style="position:relative;top:5px; left:10px; right:5px;width:15px; height:15px;"/>
										</td>

										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">槽位號</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">IP or Host</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Account</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Password</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Tag</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Mac Address</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Connect status</td>

										<td style="padding:0px; min-width:25px; width:25px; max-width:25px;"></td>
									</tr>
								</thead>

								<tbody style="background:#c2c7d0; color:black; font-family:'微軟正黑體', '新細明體'; height:100%;">
									<tr align="left" style="height:100%;">
										<td colspan="9" style="padding:0px;">
											<div style="overflow-y:auto; width:816px; background:white; height:100%;">
												<table border="1" style="max-width:790px;">
													<tbody style="background:#c2c7d0; color:black; font-family:'微軟正黑體', '新細明體'; font-size:12px">
										   				<tr>
															<td></td>
															<td>1</td>
															<td>192.168.1.1</td>
															<td>admin</td>
															<td>*****</td>
															<td></td>
															<td>30:0e:d5:ca:c4:00</td>
															<td>N/A</td>
														</tr>

													</tbody>
												</table>
											</div>
										</td>
									</tr>

								</tbody>

							</table>
						</div>
					</div>
				</div>

				<div id="step-4">
					<span class="StepTitle">Add Result</span>
					<div style="width:100%; height:calc(100% - 25px); position:relative; top:-10px; border: 2px solid #b4b7c6;">
						<div style="margin:30px 0px 0px 15px; height:calc(100% - 53px);">

							<table class="tbChooseIMPI" border="1" style="width:98%; height:100%;">
								<thead style="background:#d3d3d4; color:black; font-family:'微軟正黑體', '新細明體'; font-size:14px; width:100%;" align="left" >
									<tr style="font-size:12px; font-weight: bold;">
										<td style="border-right:groove 1px #e3e3e3; width:43px; max-width: 43px; padding:8px 0px 8px 0px;">
											<input type="checkbox" class="chkBoxTbAddFinish" style="position:relative;top:5px; left:10px; right:5px;width:15px; height:15px;"/>
										</td>

										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">槽位號</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">IP or Host</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Account</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Password</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Tag</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Mac Address</td>
										<td style="border-right:groove 1px #e3e3e3; width:101px; max-width: 101px; padding:8px 0px 8px 5px;">Connect status</td>

										<td style="padding:0px; min-width:25px; width:25px; max-width:25px;"></td>
									</tr>
								</thead>

								<tbody style="background:#c2c7d0; color:black; font-family:'微軟正黑體', '新細明體'; height:100%;">
									<tr align="left" style="height:100%;">
										<td colspan="9" style="padding:0px;">
											<div style="overflow-y:auto; width:816px; background:white; height:100%;">
												<table border="1" style="max-width:790px;">
													<tbody style="background:#c2c7d0; color:black; font-family:'微軟正黑體', '新細明體'; font-size:12px">


													</tbody>
												</table>
											</div>
										</td>
									</tr>

								</tbody>

							</table>
						</div>
					</div>
				</div>

			</div>
		</form>

	</div>
</div>

<div id="DataMaintenceDialogModify" class="DataMaintenceDialog">
	&nbsp;&nbsp;Data maintenance－Modify
	<a href="javascript: closeItem('DataMaintenceDialogModify');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>

	<div class="DataMaintenceDialogComment" style="position:relative; top:5px; left:-5px; height:608px;">
		<div style="background:auto; width:500px; height:450px; margin:40px 20px 20px 35px;">
			<table class='tbDataMaintence'>
				<thead>
					<tr><td></td></tr>
				</thead>

				<tbody>
					<tr>
						<td width="30%">槽位號:</td>
						<td><input type="text" value="" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" required/></td>
					</tr>

					<tr>
						<td width="30%">IP or Host:</td>
						<td><input type="text" value="" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" required/></td>
					</tr>

					<tr>
						<td width="30%">Account:</td>
						<td><input type="text" value="" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" required/></td>
					</tr>

					<tr>
						<td width="30%">Password:</td>
						<td>
							<input type="password" value="" style="width:68%; height:100%; font-size:20px; border-color:#b4b7c6;" required/>
							<button id="btnModifyTest" class="btnTabNav" style="height:auto; margin:2px 0px;">Test</button>
						</td>
					</tr>

					<tr>
						<td width="30%">Mac Address:</td>
						<td><input type="text" value="" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;" required/></td>
					</tr>

					<tr>
						<td width="30%">Active:</td>
						<td><input type="checkbox" style="height:20px; width:20px"/></td>
					</tr>

					<tr>
						<td width="30%">Tag:</td>
						<td><input type="text" value="" style="width:100%; height:100%; font-size:20px; border-color:#b4b7c6;"/></td>
					</tr>

					<tr>
						<td width="30%" style="vertical-align: top;">Memo:</td>
						<td>
							<textarea rows="4" style="width:100%;font-size:20px; border-color:#b4b7c6;"></textarea>
							<input type="text" value="" style="display:none"/>
						</td>
					</tr>
				</tbody>

				<tfoot>
					<tr><td></td></tr>
				</tfoot>
			</table>
		</div>
		<div id="accDeadlineModify" style="position:absolute; top:365px; left:260px; width:350px; color:black;display:none;">
			<input id="accDeadlineModifyFrom" type="text" style="width:125px; height:100%; font-size:20px; border-color:#b4b7c6;"> ～ <input id="accDeadlineModifyTo" type="text" style="width:125px; height:100%; font-size:20px; border-color:#b4b7c6;">
		</div>

		<span style="background-color: #cfd7f0; color:#467024; font-size:18px; font-weight: bold; position:absolute; top:43px; left:80px;">Basic Information</span>

		<button onclick="closeItem('DataMaintenceDialogModify')" style="margin-right:60px;">Cancel</button>
		<button id="btnIpmiModifyOk">OK</button>
	</div>
</div>

<!--Delete Server---------------------------------------------------------->
<div id="DeleteDialog" class="DeleteDialog">
	&nbsp;&nbsp;Delete
	<a href="javascript: closeItem('DeleteDialog');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>
	
	<div class="DeleteDialogComment" style="text-align: center;">
		<div style="width:100%; height:30px;">
			<input type="image" src="{{ url_for('static', filename='img/question.png') }}" style="width:35px; height:35px; position:absolute; top:63px; left:40px;">
			<br/>
			<span>Confirm to delete ?</span>
			
		</div>
		
		<button id="btnDelAccFromRole">Yes</button>
		<button onclick="closeItem('DeleteDialog')" style="">No</button>
		
	</div>
</div>

<script>

	$(document).ready(function(){

		var Action="{{Action}}"

		if(Action == "create"){
			document.getElementById('AddTank').style.display = 'block';
			$('#BlockWindow').show();

			setTimeout(function() {location.href='/tankManagement';}, 1000);

		}

		else if(Action == "modify"){
			document.getElementById('DataMaintenanceModify').style.display = 'block';
			$('#BlockWindow').show();

			setTimeout(function() {location.href='/tankManagement';}, 1000);

		}else{
			closeItem('DataMaintenanceModify');
			closeItem('DeleteDialog');
		}

	});

 
/*LeftTable hovor and click ------------------------------------------------------------------*/
	HasTheActivedTr = false;
	role_auth = '';

	$("#AccTable tbody tr").click(function(){

		if($(this).hasClass("TheActivedTr")){
			window.location.href = "/tankManagement";
			return;
		}
				
		$("#AccTable tbody tr").css("background","#477a9c"); 	
		$(this).css("background","#1b4a69");
	
		$("#AccTable tbody tr").each(function(){
			var active = $(this).hasClass("TheActivedTr");
			
			if(active){
				$(this).removeClass("TheActivedTr");
			}
		});
		
		$('.accSelect').each(function(){
			$(this).prop('checked',false);
		});
		
		$(this).addClass("TheActivedTr");	
		$('.TheActivedTr .accSelect').prop('checked','true');
		
		$('.tbTab1Info tbody table').show();


	//Load Modify Info----------------------------------------------------------------------
		$('.tbDataMaintenanceModify input').each(function(){
			$(this).val($('.TheActivedTr td:eq(1)').text());
		})

		$('.tbDataMaintenanceModify textarea').val($('.TheActivedTr td:eq(2)').text());
		var auth = $('.TheActivedTr :hidden:eq(0)').val();
		role_auth = $('.TheActivedTr td:eq(1)').text();


	//GetMainTableInfo--------------------------------------------------------------------------------------
		GetMainTableInfo(1, role_auth)
		HasTheActivedTr = true;

	});

/*MainTable Pagination and get Data-----------------------------------------------------*/

	$('#btnMainTableBegin').click(function(){
		var page = parseInt($('#MainTablePage').val())-1;
		if(page <=0){
			return;
		}

		page = 1;

		GetMainTableInfo(page, role_auth);
	});

	$('#btnMainTablePrev').click(function(){
		var page = parseInt($('#MainTablePage').val())-1;
		if(page <=0){
			return;
		}

		GetMainTableInfo(page, role_auth);
	});

	$('#btnMainTableNext').click(function(){
		var TotalPage = $('#MainTableTotalPage').text();
		var page = parseInt($('#MainTablePage').val())+1;

		if(page > TotalPage){
			return;
		}

		GetMainTableInfo(page, role_auth);
	});

	$('#btnMainTableEnd').click(function(){
		var TotalPage = $('#MainTableTotalPage').text();
		var page = parseInt($('#MainTablePage').val())+1;

		if(page > TotalPage){
			return;
		}

		GetMainTableInfo(TotalPage, role_auth);
	});

	$('#btnMainTableRefresh').click(function(){
		var page = $('#MainTablePage').val();

		GetMainTableInfo(page, role_auth);
	});

	function GetMainTableInfo(p, a){
		var select = $('#rightNav select').val();
		var text = $('#text_acc').val();

		$.ajax({
			type : "GET",
			url : $SCRIPT_ROOT + "/GetServerByAjax",
			data : {
				tank : a,
				page : p,
				select : select,
				text : text
			},
			cache : false,
			success : function(data) {
				aryAcc = data.userInfo
				var page = parseInt(data.page)
				var rowNow = ((page-1)*2)+1

				$('#RightTableInfo tbody').html('');
				$('#MainTableTotalPage').text(data.totalPage);
				$('#MainTablePage').val(page)
				$('#MainTableTotalRow').text("Total:"+ data.totalRow +", " + rowNow + "/" +data.totalRow);

				for(idx in aryAcc){
					var ServerActive = (aryAcc[idx].active);

					var ip = '';

					if(!ServerActive){
						ip = 'Unmonitored';
					}else{
						ip = aryAcc[idx].ip;
					}

					$('#RightTableInfo tbody').append("<tr onclick='TheSelectServer(this)'><td><input type='checkbox' value='"+
					aryAcc[idx].mac+"' class='TabAccSelect' style='width:20px; height:20px;' onclick='TabAccSelect(this)'/></td><td>"+
					aryAcc[idx].slot+"</td><td>"+
					ip+"</td><td>"+
					aryAcc[idx].mac+"</td><td>"+
					aryAcc[idx].tag+"</td><input type='hidden' value='"+
					aryAcc[idx].acc+"'/><input type='hidden' value='"+
					aryAcc[idx].pwd+"'/><input type='hidden' value='"+
					aryAcc[idx].note+"'/><input class='chkActiveServer' type='hidden' value='"+
					aryAcc[idx].active+"'/><input type='hidden' value='"+
					aryAcc[idx].ip+"'/><tr>");
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {

			}
		});
	}

//----------------------------------------------------------------------------------------
function TheSelectServer(tr){
	var active = $(tr).hasClass("TheSelectServer");
	$(".TheSelectServer").removeClass("TheSelectServer");

	if(active){
		$(tr).removeClass("TheSelectServer");
		return;

	}else{
		$(tr).addClass("TheSelectServer");

	}

//Load Modify Data----------------------------------------------------------------------
	var i=0;
	$('.tbDataMaintence input').each(function(){
		switch(i){
			case 0://slot
				$(this).val($('.TheSelectServer td:eq(1)').text());
				break;

			case 1://ip
				$(this).val($('.TheSelectServer :hidden:eq(4)').val());
				break;

			case 2://account
				$(this).val($('.TheSelectServer :hidden:eq(0)').val());
				break;

			case 3://password
				$(this).val($('.TheSelectServer :hidden:eq(1)').val());
				break;

			case 4://mac
				$(this).val($('.TheSelectServer td:eq(3)').text());
				break;

			case 5://tag
				$(this).val($('.TheSelectServer td:eq(4)').text());
				break;

			case 6://OrgMac
				$(this).val($('.TheSelectServer td:eq(3)').text());
				break;

			default:
				break;
		}
		i+=1;
	});

	var active = $('.TheSelectServer :hidden:eq(3)').val();

	if(active.toLowerCase() == 'true'){
		$('.tbDataMaintence :checkbox').prop('checked',true);

	}else{
		$('.tbDataMaintence :checkbox').prop('checked',false);
	}

	$('.tbDataMaintence textarea').val($('.TheSelectServer :hidden:eq(2)').val());
};

/*MainTable(Account) CheckBox---------------------------------------------------------*/
	function TabAccSelect(input){
		if(input.checked == false){
			$('.btnTab1Nav:eq(1)').css('color','#b2bac8');
			$('.btnTab1Nav:eq(2)').css('color','#b2bac8');
			return;

		}else{

			$('.TabAccSelect').each(function(){
				$(this).prop('checked',false);
			});

			input.checked = true;

			$('.btnTab1Nav:eq(1)').css('color','white');
			$('.btnTab1Nav:eq(2)').css('color','white');
		}
	}

//SearchNavBar-------------------------------------------------------------
	if($('#text_acc').val().trim() == ''){
		$('#clean_acc').hide();
	}

	$('#text_acc').click(function(){

		$('#search_acc').css('left','663px');
		$('#clean_acc').show();
	});

	$('#text_acc').focusout(function(){

		if($(this).val().trim() == ''){
			chkSearchText();
		}
	});

	function chkSearchText(){
		setTimeout(function() {
			$(this).val('');
			$('#search_acc').css('left','625px');
			$('#clean_acc').hide();
		}, 500);
	}

	$('#clean_acc').click(function(){
		window.location.href = ('/tankManagement');
	});

	$('#search_acc').click(function(){
		var filter = $('#rightNav select').val();
		var value = $('#text_acc').val();

		if(filter =='tank'){
			window.location.href = ('/TankSearch?filter='+filter+'&value='+value);

		}else{
			GetMainTableInfo(1, role_auth)
		}
	});

$('#btnSearchServer').click(function(){
	var select = $('#selectIpmiSearch').val();
	var text = $('#txtSearchServer').val();

	$.ajax({
		type : "GET",
		url : $SCRIPT_ROOT + "/GetServerByAjax",
		data : {
			tank : role_auth,
			page : 1,
			select : select,
			text : text
		},
		cache : false,
		success : function(data) {
			aryAcc = data.userInfo
			var page = parseInt(data.page)
			var rowNow = ((page-1)*2)+1

			$('#RightTableInfo tbody').html('');
			$('#MainTableTotalPage').text(data.totalPage);
			$('#MainTablePage').val(page)
			$('#MainTableTotalRow').text("Total:"+ data.totalRow +", " + rowNow + "/" +data.totalRow);

			for(idx in aryAcc){

				$('#RightTableInfo tbody').append("<tr onclick='TheSelectServer(this)'><td><input type='checkbox' value='"+
				aryAcc[idx].mac+"' class='TabAccSelect' style='width:20px; height:20px;' onclick='TabAccSelect(this)'/></td><td>"+
				aryAcc[idx].slot+"</td><td>"+
				aryAcc[idx].ip+"</td><td>"+
				aryAcc[idx].mac+"</td><td>"+
				aryAcc[idx].tag+"</td><input type='hidden' value='"+
				aryAcc[idx].acc+"'/><input type='hidden' value='"+
				aryAcc[idx].pwd+"'/><input type='hidden' value='"+aryAcc[idx].note+"'/><tr>");
			}
		},

		error : function(xhr, ajaxOptions, thrownError) {

		}
	});
});

//Modify Ipmi----------------------------------------------------------------------------
	$('#btnIpmiModifyOk').click(function(){
		var slot = $('.tbDataMaintence input:eq(0)').val();
		var ip = $('.tbDataMaintence input:eq(1)').val();
		var account = $('.tbDataMaintence input:eq(2)').val();
		var password  = $('.tbDataMaintence input:eq(3)').val();
		var mac  = $('.tbDataMaintence input:eq(4)').val();
		var tag  = $('.tbDataMaintence input:eq(5)').val();
		var memo = $('.tbDataMaintence textarea').val();
		var orgMac = $('.tbDataMaintence input:eq(6)').val();
		var active = $('.tbDataMaintence :checkbox').is(':checked');

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/IpmiModify",
			data : {
				slot : slot,
				ip : ip,
				account : account,
				password : password,
				mac : mac,
				tag : tag,
				memo : memo,
				orgMac : orgMac,
				active : active
			},
			cache : false,
			success : function(data) {
				if(data.Success == 'True'){
					alert('Server was Update !!!');
					window.location.href = "/tankManagement";
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {

			}
		});
	});

//DelServerFromTank-------------------------------------------------------------------

	$('#btnDelAccFromRole').click(function(){
		listTabAccountChk= new Array();

		var chk=$('.TabAccSelect');
		for(var i=0;i<chk.length;i++){
			if(chk[i].checked){
				var chkval = $('.TabAccSelect:eq('+i+')').val();
				listTabAccountChk.push(chkval)
			}
		}

		if(listTabAccountChk.length <=0){
			return;
		}

		json = {
			'tank_name' : role_auth,
			'acc' : listTabAccountChk
		};

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/DelServerFromTank",
			data: JSON.stringify(json, null, '\t'),
    		contentType: 'application/json;charset=UTF-8',
			cache : false,
			success : function(data) {

				if(data.Success == 'True'){
					alert('Delete Server Success !!!');
					window.location.href = "/tankManagement";
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {

			}
		});
	})

/*btnDeleteTankOk-------------------------------------------------------------------*/
	$('#btnDeleteTankOk').click(function(){
		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/DeleteTank",
			data : {
				tank : $('.TheActivedTr td:eq(1)').text()
			},
			cache : false,
			success : function(data) {

				alert('Delete success')
				window.location.href = "/tankManagement";
			},

			error : function(xhr, ajaxOptions, thrownError) {
				alert('Sorry, we face some problem, please try again.')
				window.location.href = "/tankManagement";
			}
		});
	});

	$('#btnModifyTest').click(function(){
		alert('test..............');
	});

//Support Function-------------------------------------------------------------
	function openItem(obj) {
		if (obj =='AddTank' ){
			document.getElementById(obj).style.display = 'block';
			$('#BlockWindow').show();

			return;
		}

		if (obj =='DeleteDialog' ){
			$('.TabAccSelect').each(function(){
				var chk = $(this).is(':checked')

				if(chk){
					document.getElementById(obj).style.display = 'block';
					$('#BlockWindow').show();
					return;
				}
			});
		}else{
			$('.accSelect').each(function(){
				var chk = $(this).is(':checked')

				if(chk){
					document.getElementById(obj).style.display = 'block';
					$('#BlockWindow').show();

					return;
				}
			});
		}
	}
	
	function closeItem(obj) {
		document.getElementById(obj).style.display = 'none';
		document.getElementsByClassName('showModifyMessage')[0].style.display = 'none';
		$('#BlockWindow').hide();
	}
	
	$('#BlockWindow').click(function(){
		closeItem('AddTank');
		closeItem('DataMaintenanceModify');
		closeItem('DeleteTank');

		closeItem('DataMaintenceDialogNew');
		closeItem('DataMaintenceDialogModify');
		closeItem('DeleteDialog');
	});
	
/*fullScreen-------------------------------------------------------------------*/	
	var FullScreen = false;

	$('#fullScreen').click(function() {
		if (screenfull.enabled && !FullScreen) {
			FullScreen = true;			
			screenfull.request();
			
		}else if(screenfull.enabled && FullScreen){
			FullScreen = false;
			screenfull.exit();
		}
	});
</script>

<script>
	$.sidebarMenu($('.sidebar-menu'))
</script>

<script type="text/javascript">
$(document).ready(function(){
	// Smart Wizard
	$('#wizard').smartWizard({
		transitionEffect:'slide'
	});

	$('#SingleIPMI').click(function(){
		$('.SingleIPMI').show();
		$('.MultiIPMIs').hide();
		$('.UniqueKey').hide();
	});

	$('#MultiIPMIs').click(function(){
		$('.SingleIPMI').hide();
		$('.MultiIPMIs').show();
		$('.UniqueKey').hide();
	});

	$('#UniqueKey').click(function(){
		$('.SingleIPMI').hide();
		$('.MultiIPMIs').hide();
		$('.UniqueKey').show();
	});
});
</script>


<!-- <script type="text/javascript">
	$(document).ready(function() {
		$(".file-tree").filetree();
	});
</script> -->

</body>
</html>