<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/eventlistlayout.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/eventliststyle.css') }}">

	
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/screenfull.js') }}"></script>

<title>中央管理系統(CMS)</title>
</head>

<body>
<div class="wrapper">
	<header>
		<!--導航列-->
		{% include 'HeadNav.html' %}
		<!--end 導航列-->
		<ul class="SecondNavBar">
			<li class="NavLi1"><div style="color:black; border-radius: 3px; font-size:15px; font-weight: bold; height:20px; padding:5px 5px 0px 5px;"><a href="/serverinfo" class="anchor" style="color:#788ca8">Server 列表</a></div></li>
			<li class="NavLi1"><div style="color:white;background-color:#00b4ef; border-radius: 3px; font-size:15px; font-weight: bold; height:20px; padding:5px 5px 0px 5px;"><a href="#" class="anchor">事件列表</a></div></li>
		</ul>
	</header><!-- .header-->

	<div class="middle">

		<aside class="left-sidebar"> 
			
			<ul class="SideNavBar" style="background-color: #484e68;">
				<li class="NavLi1">
					<div>
						<button class="btnleftNav" onclick="location.href='/eventlist'"><i class="fa fa-th" style="color:white; height:20px; width:20px;"></i>所有事件</button>
						<button class="btnleftNav" onclick="location.href='/eventWarning'"><i class="fa fa-exclamation-triangle" style="color:white; height:20px; width:20px;"></i>告警事件</button>
						<button class="btnleftNav" onclick="location.href='/eventDevice'"><i class="fa fa-window-restore" style="color:white; height:20px; width:20px;"></i>設備事件</button>

						<button class="btnleftNav" onclick="location.href='/eventSystem'"><img src="{{ url_for('static', filename='img/computer.png') }}" style="color:white; height:20px; width:20px; position:absolute; top:16px; left:385px;"/>系統事件</button>
						<button class="btnleftNav" onclick="location.href='/eventNow'"><img src="{{ url_for('static', filename='img/aim.png') }}" style="color:white; height:30px; width:30px; position:absolute; top:10px; left:505px;"/>當下事件</button>
					</div>
					<div style="background-color: #183368;">

					</div>
				</li>
			</ul>
			
			<ul class="SideNavBar">
				<li class="NavLi1">
					<div>
						<form>
							事件群組：
							<select style="border-color:#5d6980;background-color:#5d6980; color:white; width:150px;height:26px; font-family:'微軟正黑體', '新細明體'; font-size:15px;">
								<option>系統事件(0)</option>

							</select>
							事件來源：
							<select style="border-color:#5d6980;background-color:#5d6980; color:white; width:150px;height:26px; font-family:'微軟正黑體', '新細明體'; font-size:15px;">
								<option></option>

							</select>							
							<button type="submit" style="border-color:#0b172d; background-color:#0b172d; border-radius:3px; font-size:15px; color:white;cursor:pointer;">過濾</button>
						</form>
					</div>
				</li>
			</ul>

			<table class="MainTable" border="1">
				<thead style="background:#222e46; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px;" align="left" >
					<tr>
						<td style="border-right:groove 2px white;">警報等級</td>
						<td style="border-right:groove 2px white;">事件來源</td>
						<td style="border-right:groove 2px white;">事件描述</td>
						<td style="border-right:groove 2px white;">發生時間</td>
						<td style="border-right:groove 2px white;">詳細</td>
						<td style="border-right:groove 2px white;">處理狀況</td>
					</tr>
				</thead>
				
				<tbody style="background:#293155; color:white; font-family:'微軟正黑體', '新細明體';">
					{% for event in EventList %}
					<tr>
						<td>
							{% if event.level == 'low'%}
								<span style="background:white;">{{event.level}}</span>

							{% elif event.level == 'middle'%}
								<span style="background:yellow;">{{event.level}}</span>

							{% elif event.level == 'high'%}
								<span style="background:red;">{{event.level}}</span>

							{% endif%}
						</td>

						<td>{{event.name}}</td>
						<td>{{event.description}}</td>
						<td>
							<p>{{event.time}}</p>
						</td>

						<td>
							<button>查看</button>
							<button>三</button>
						</td>
						<td>
							<button>編輯</button>
						</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6" style="background:#0b172d; color:white; font-family:'微軟正黑體', '新細明體';">
							
							
						</td>
					</tr>
				</tfoot>
			</table>			
		</aside><!-- .left-sidebar -->
		


	</div><!-- .middle-->

</div><!-- .wrapper -->

<script>
/*MainTable hovor and click-------------------------------------------------------------------*/
	
	$(".MainTable tbody tr").click(function(){	
		
		$(".MainTable tbody tr").css("background","#293155");
		$(this).css("background","#5c6086");
		
		$(".MainTable tbody tr").each(function(){
			var active = $(this).hasClass("TheActivedTr");
			
			if(active){
				$(this).removeClass("TheActivedTr");
			}
		});
		
		$(this).addClass("TheActivedTr");
	});

/*MainTable hovor and click End---------------------------------------------------------------*/	

	$(document).ready(function(){
		var ShowInfo = "{{ShowInfo}}"

		if(ShowInfo == "all"){
			$('.btnleftNav:eq(0)').css('background','#8bc35d')
			$('.btnleftNav:eq(0)').css('border-color','#8bc35d')

		}else if(ShowInfo == "warning"){
			$('.btnleftNav:eq(1)').css('background','#8bc35d')
			$('.btnleftNav:eq(1)').css('border-color','#8bc35d')

		}else if(ShowInfo == "device"){
			$('.btnleftNav:eq(2)').css('background','#8bc35d')
			$('.btnleftNav:eq(2)').css('border-color','#8bc35d')

		}else if(ShowInfo == "system"){
			$('.btnleftNav:eq(3)').css('background','#8bc35d')
			$('.btnleftNav:eq(3)').css('border-color','#8bc35d')

		}else if(ShowInfo == "now"){
			$('.btnleftNav:eq(4)').css('background','#8bc35d')
			$('.btnleftNav:eq(4)').css('border-color','#8bc35d')
		}

		var DateTime = GetDateTime();
		var leftRowCount = 0;
		
		$('.MainTable tbody tr').each(function(){
			leftRowCount +=1;
		});
		
		$('.MainTable tfoot tr td').text('總筆數：'+leftRowCount+'筆 更新時間：'+ DateTime)
	});
	
/*GetDateTime-------------------------------------------------------------------*/			
	function GetDateTime(){ 
		var d=new Date(); 
		var month=d.getMonth()+1; 
		var day = d.getDate();
		var hour = d.getHours();
		var min = d.getMinutes();
		var second = d.getSeconds();
		
		if(month<10)
			month = "0"+month; 
					
		if(day<10)
			day = "0"+day; 
		
		if(hour<10) 
			hour = "0"+hour; 
		
		if(min<10)
			min = "0"+min; 
		
		if(second<10)
			second = "0"+second; 
		
		var val = d.getFullYear()+"-"+month+"-"+day+" "+hour+":"+min+":"+second; 
		return val; 
	};
	
/*fullScreen-------------------------------------------------------------------*/	
	var FullScreen = false;	
	$('#fullScreen').click(function() {
		if (screenfull.enabled && !FullScreen) {
			FullScreen = true;
			screenfull.request();
			
		}else if(screenfull.enabled && FullScreen){
			FullScreen = false;
			screenfull.exit();
		}
	});

</script>

</body>

</html>