<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.4.0.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nv.d3.css') }}">

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/nv.d3.js') }}"></script>
	<script src="{{ url_for('static', filename='js/basicChart.js') }}"></script>

<title>D3 &amp; LinqJs</title>
</head>
<body>

<div class="grid-container" style="min-height: 785px;">

	<div class="grid-item header">
		<h1>D3-LinQJs Example 1</h1>
	</div> 
	
	<div class="grid-item sidebar">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark sidebarNav">
			<a class="navbar-brand sidebarNavBrand" href="#">D3-LinQJs Example 1</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav nav-stacked navVerticale">
					<li class="nav-item">
						<div class="multiselect">
							<div class="selectBox" onclick="showCheckboxes()">
								<select>
									<option>Select a sensor</option>
								</select>
								<div class="overSelect"></div>
							</div>

							<div id="checkboxes" onmouseleave="showCheckboxes()"></div>
						</div>
					</li>

					<li class="dropdown">
					  	<button class="btn btn-secondary dropdown-toggle btnSidebarToggler" data-toggle="dropdown">
					  		Chart
					  	</button>
					  
						<div class="dropdown-menu" style="padding:5px;">
				          	<button id="btnTable" class="btn btn-info btn-block">Table</button>
				          	<div class="dropdown-divider"></div>

				          	<button id="btnBar" class="btn btn-primary btn-block">Bar</button>
				          	<div class="dropdown-divider"></div>
				          	
				          	<button id="btnLine" class="btn btn-success btn-block">Line</button>
				          	<div class="dropdown-divider"></div>
				          	
				          	<button id="btnStack" class="btn btn-danger btn-block">Stack</button>
				          	<div class="dropdown-divider"></div>

				        </div>
					</li>

					<li class="nav-item" style="width:100%;">
						<textarea id="textareaSearch" class="form-control" rows="10"></textarea>
						<button id="btnSearch" class="btn btn-secondary" style="margin: 0px 5px;">Search</button>
					</li>
				</ul>
				
			</div>
		</nav>

	</div>

	<div class="grid-item main">
		<table id="tbSDR" class="table table-bordered">
			<thead>
				<tr>
					<td>Time</td>
					<td>Value</td>
				</tr>
			</thead>
			
			<tbody></tbody>
		
		</table>
		
		<svg id="s"></svg>
		<div id="container"></div>
	</div> 
</div>

<script type="text/javascript">
	var total_data_set = {};

	d3.json("{{ url_for('static', filename='file/output_file.json') }}", function(data) {
		$('#checkboxes').html(null);		
		for (d in data) {
			$('#checkboxes').append(
				"<div><input class='chk_year' type='checkbox' value='"+data[d]["time"]+"'/>"+data[d]["time"]+"</div>"
			);
			
			total_data_set = data;
		}
	});
		
	$('#btnTable').click(function(){
	    get_checked_chk();
		if(aryCheckboxSensor.length<=0){
			return;
		}
		
		var year = aryCheckboxSensor[aryCheckboxSensor.length-1];
		for(var data in total_data_set){
		    if (total_data_set[data]["time"] == year){
		        var temp_data = total_data_set[data]["value"];
		        break;
			}
		}
		
		$('#tbSDR tbody').html(null).scrollTop(0);
		
		for(var i in temp_data){
			var date = year + " / " + (parseInt(i)+1);
			var value = temp_data[i];
			
			$('#tbSDR tbody').append("<tr><td>"+
				date +"</td><td>"+
				value +"</td></tr>");
		}
		
		$('#tbSDR').show();
		$('#s').hide();
	});

// Line Chart-----------------------------------------------------------------------------
	$('#btnLine').click(function(){
		$('#tbSDR').hide();
		$('#s').show();

		get_checked_chk();
		
		if(aryCheckboxSensor.length<=0){
			return;
		}
		
		var chart_data = [];
		
		for(var c=0; c<aryCheckboxSensor.length; c++){
			var year = aryCheckboxSensor[c];

			for(var data in total_data_set){
				if (total_data_set[data]["time"] == year){
					var sensorInfo = total_data_set[data];
					break;
				}
			}
			var data = [];

			for(var i in sensorInfo["value"]){
				var myDate = (parseInt(i)+1);
				var myValue =sensorInfo["value"][i];
				
				data.push({x:myDate, y:myValue});
			}
			
			var s = d3.select('#s');
			chart_data.push({values: data, key: year});
			
			if(c+1 == aryCheckboxSensor.length){
				basicChart.drawLinebyNVD3(s, chart_data);
			}
		}
	});

// Bar Chart-----------------------------------------------------------------------------
	$('#btnBar').click(function(){
		$('#tbSDR').hide();
		$('#s').show();

		get_checked_chk();
		if(aryCheckboxSensor.length<=0){
			return;
		}
		
		var chart_data = [];
		for(var c=0 ; c<aryCheckboxSensor.length; c++){
		    var year = aryCheckboxSensor[c];

			for(var data in total_data_set){
				if (total_data_set[data]["time"] == year){
					var sensorInfo = total_data_set[data];
					break;
				}
			}

			var data = [];
			var tempDate = 0;

			for(var i in sensorInfo["value"]){
				var myDate = (parseInt(i)+1);
				var dateTime = myDate.getTime();

				if(tempDate + 20*60000 > dateTime && tempDate != 0){
					continue;
				}

				tempDate = new Date((sensorInfo["time"]+ "-" + (parseInt(i)+1))).getTime();
				var myValue =sensorInfo["value"][i];

				data.push({x:myDate, y:myValue});
			}
			
			d3.selectAll('svg > *').remove();
			var s = d3.select('#s');
			chart_data.push({values: data, key: year});
			
			if(c+1 == aryCheckboxSensor.length){
				basicChart.drawBarbyNVD3(s, chart_data);
			}
		}
	});
		
// Stack Chart-------------------------------------------------------------------------------			
	$('#btnStack').click(function(){
		$('#tbSDR').hide();
		$('#s').show();

		get_checked_chk();
		if(aryCheckboxSensor.length<=0){
			return;
		}

		var chart_data = [];
		for(var c=0; c<aryCheckboxSensor.length; c++){
			var year = aryCheckboxSensor[c];

			for(var data in total_data_set){
				if (total_data_set[data]["time"] == year){
					var sensorInfo = total_data_set[data];
					break;
				}
			}
			
			var data = [];
			
			for(var i in sensorInfo["value"]){
				var myDate = (parseInt(i)+1);
				var myValue =sensorInfo["value"][i];

				data.push({x:myDate, y:myValue});
			}
			console.log(data);

			var s = d3.select('#s');
			chart_data.push({values: data, key: year});
			
			if(c+1 == aryCheckboxSensor.length){
				basicChart.drawStackbyNVD3(s, chart_data);
			}
		}
	});

//Multi Select----------------------------------------------------
	var expanded = false;

	function showCheckboxes() {
		var checkboxes = document.getElementById("checkboxes");

	  	if (!expanded) {
	    	checkboxes.style.display = "block";
	    	expanded = true;

	  	} else {
	    	checkboxes.style.display = "none";
	    	expanded = false;
	  	}
	}

	var aryCheckboxSensor = new Array();
	function get_checked_chk() {
		var chk_box=$('.chk_year');
		aryCheckboxSensor = new Array();

		for(var i=0;i<chk_box.length;i++){
			if(chk_box[i].checked){
				var chk_val = $('.chk_year:eq('+i+')').val();
				aryCheckboxSensor.push(chk_val)
			}
		}
    }


</script>

</body>

</html>