thead{
	height: 40px;
}

tfoot{
	height: 40px;
}

.TopNavBar {
	background: url(../img/bg1.png);
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: auto;
	overflow: hidden;
}

.SecondNavBar {
	background-color: #112347;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: auto;
	overflow: hidden;
}

.SideNavBar {
	background-color: #0b172d;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
	overflow: hidden;
}

.NavLi1 {
	font-family: "Microsoft JhengHei", "PMingLiU";
	font-size: 18px;
	font-weight: bold;
	color: #EEEEEE;
	float: left;
	padding: 10px;
}

.NavLi2 {
	font-family: "Microsoft JhengHei", "PMingLiU";
	font-size: 18px;
	font-weight: bold;
	color: #EEEEEE;
	float: right;
	padding: 10px;
}

.anchor {
	color: #e5e5e5;
	text-decoration: none;
}

.MainTable {
	width:100%;
	height:calc(100% - 108px);
	border-spacing: 0;
	border: groove 2px Black;
	min-width: 1163px;
}

.MainTable tbody {
	display: block;
}

.MainTable thead tr {
	display: block;
}

.MainTable tbody {
	height: calc(100% - 5px);
	overflow-y: auto;
	overflow-x: hidden;
}

.MainTable td {
	padding: 10px;
}

.MainTable tbody tr:hover td {
	background: #1b4a69;
	border-color: #1b4a69;
}

.MainTable tr td:nth-child(1) {
    vertical-align:middle;
	text-align: center;
	padding: 0px;
	width: 43px;
	max-width: 43px;
	min-width: 43px;
}

.MainTable tr td:nth-child(2) {
	font-size: 14px;
	padding-left: 10px;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 128px;
	max-width: 128px;
	min-width: 128px;
}

.MainTable tr td:nth-child(3) {
	text-align: left;
	padding-left: 10px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 148px;
	max-width: 148px;
	min-width: 148px;
}

.MainTable tr td:nth-child(4) {
	text-align: left;
	padding-left: 10px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 159px;
	max-width: 159px;
	min-width: 159px;
}

.MainTable tr td:nth-child(5) {
	text-align: left;
	padding-left: 10px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 159px;
	max-width: 159px;
	min-width: 159px;
}

.MainTable tr td:nth-child(6) {
	text-align: left;
	padding-left: 10px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 134px;
	max-width: 134px;
	min-width: 134px;
}

.MainTable tr td:nth-child(7) {
	text-align: left;
	padding-left: 10px;
	color: #30ff80;
	font-size: 14px;
	width: 59px;
	max-width: 59px;
	min-width: 59px;
}

.MainTable tr td:nth-child(8) {
	text-align: left;
	padding-left: 10px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 169px;
	max-width: 169px;
	min-width: 169px;
}

.MainTable tfoot tr td button {
	color: #8d8ba0;
	font-size: 18px;
	background: #406ba5;
	border-color: #406ba5;
	border-radius: 5px;
}

.MainTable tfoot tr td button:hover {
	cursor: pointer;
	color: white;
	font-size: 18px;
	background: #406ba5;
	border-color: #406ba5;
	border-radius: 5px;
}

.tbDataMaintence {
	font-family: "Microsoft JhengHei", "PMingLiU";
	color: black;
	width: 100%;
	border-collapse: separate;
	border: groove 2px #b4b7c6;
}

.tbDataMaintence td {
	padding: 10px;
	border-spacing: 10px;
}

.circle {
	width: 25px;
	height: 25px;
	font-size: 15px;
	background-color: red;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	text-align: center;
	color: white;
}

.btnRightNav {
	margin-left: 10px;
	padding: 0px;
	background: #183368;
	border-color: #183368;
	border-radius: 5px;
	width: 35px;
	height: 40px;
}

.btnRightNav:focus,.btnRightNav img:hover {
	cursor: pointer;
}

.close {
	float: right;
	position: relative;
	top: -5px;
	right: 10px;
	border: 0px;
}

.DataMaintenceDialog {
	position: absolute;
	top: calc(50% - 358px);
	left: calc(50% - 301px);
	width: 600px;
	height: 700px;
	border: 1px solid #3f4757;
	z-index: 300;
	background-color: #1a1e21;
	padding-top: 15px;
	color: #bad0d5;
	font-weight: bold;
	font-size: 18px;
	display: none;
}

.DataMaintenceDialogComment {
	height: 60px;
	width: 585px;
	background-color: #cfd7f0;
	border-color: #cfd7f0;
	margin: 10px 5px 0 5px;
	padding-top: 10px;
	padding-left: 15px;
	font-size: 15px;
}

.DataMaintenceDialog button {
    cursor: pointer;
	background: #2c73b9;
	border-color: #2c73b9;
	color: white;
	border-radius: 5px;
	font-size: 15px;
	width: 100px;
	height: 30px;
	float: right;
	margin-bottom:0px;
	margin-right: 20px;
}

.DataMaintenceDialog button:hover {
	cursor: pointer;
}

.DeleteDialog {
	position: absolute;
	top: 40%;
	left: 40%;
	width: 320px;
	height: 145px;
	border: 1px solid #3f4757;
	border-radius: 5px;
	z-index: 300;
	background-color: #3f4757;
	padding-top: 15px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	display: none;
}

.DeleteDialogComment {
	height: 100px;
	width: 295px;
	border-radius: 5px;
	background-color: #e1e5ee;
	margin: 10px 5px 0 5px;
	padding-top: 10px;
	padding-left: 15px;
	font-size: 15px;
	color: black;
}

.DeleteDialog button {
    cursor: pointer;
	background: #111d38;
	border-color: #111d38;
	color: white;
	border-radius: 5px;
	font-size: 15px;
	width: 80px;
	height: 30px;
	margin-top: 30px;
	margin-right: 20px;
}

.main-sidebar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	min-height: 100%;
	width: 230px;
	background-color: #222d32;
	font-family: '微軟正黑體', '新細明體';
	font-size: 15px;
}

.GoToOther {
	color: #788ca8;
	border-radius: 3px;
	font-size: 15px;
	font-weight: bold;
	height: 20px;
	padding: 5px 5px 0px 5px;
}

.GoToOther a {
	color: #788ca8;
}

.GoToOther:hover {
	color: white;
	background-color: #00b4ef;
	border-radius: 3px;
	font-size: 15px;
	font-weight: bold;
	height: 20px;
	padding: 5px 5px 0px 5px;
}

.GoToOther a:hover {
	color: white;
}

@media screen and (max-height: 805px) {
	.DataMaintenceDialog {
        position: absolute;
        top: calc(403px - 358px);
        left: calc(50% - 301px);
        width: 600px;
        height: 700px;
        border: 1px solid #3f4757;
        z-index: 300;
        background-color: #1a1e21;
        padding-top: 15px;
        color: #bad0d5;
        font-weight: bold;
        font-size: 18px;
        display: none;
    }
}