<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="csrf-token" content="{{ csrf_token() }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/serverinfolayout.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/serverinfostyle.css') }}">

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/screenfull.js') }}"></script>

	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	  	var csrf_token = $('meta[name=csrf-token]').attr('content')

		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrf_token)
				}
			}
		})
	</script>

<style>
	/*.multiselect {
		width: 200px;
	}

	.selectBox {
		position: relative;
	}

	.selectBox select {
		width: 100%;
		font-weight: bold;
	}

	.overSelect {
	  	position: absolute;
	  	left: 0;
	  	right: 0;
	  	top: 0;
	  	bottom: 0;
	}

	#checkboxes {
	  	display: none;
	  	border: 1px #dadada solid;
	}

	#checkboxes label {
		display: block;
	}

	#checkboxes label:hover {
		background-color: #1e90ff;
	}*/


	.tooltip {
		position: relative;
		display: inline-block;
	}


	.tooltip .tooltiptext {
		visibility: hidden;
		position: absolute;
		width: 420px;
		background-color: #555;
		color: #fff;
		text-align: left;
		padding: 5px 0;
		border-radius: 6px;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.3s;
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}

	.tooltip-right {
	  top: -5px;
	  left: 150%;
	}

	.tooltip-right::after {
		content: "";
		position: absolute;
		top: 12%;
		right: 100%;
		margin-top: -5px;
		border-width: 10px;
		border-style: solid;
		border-color: transparent #555 transparent transparent;
	}

	/*input[type="date"]::-webkit-inner-spin-button {
        opacity: 1
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        background: url(../static/img/calender.png) center/100% no-repeat;
        color: rgba(0, 0, 0, 0);
        opacity: 0.8
    }

    input[type="date"]::-webkit-calendar-picker-indicator:hover {
        background: url(../static/img/calender.png) center/100% no-repeat;
        opacity: 1
    }*/


</style>

<script>
	var expanded = false;

	function showCheckboxes() {
		var checkboxes = document.getElementById("checkboxes");

		if (!expanded) {
		  checkboxes.style.display = "block";
		  expanded = true;

		}else {
		  checkboxes.style.display = "none";
		  expanded = false;
		}
	}
</script>

<title>中央管理系統(CMS)</title>
</head>

<body>
<div id="Loading" style="z-index:500; width:100%; height:100%; background:#e5e5e5; position:fixed; top:0px; left:0px; opacity:0.5; display:none">
	<img id="load" src="{{ url_for('static', filename='img/loading.jpg') }}" style='position:absolute; left:40%; top:40%; height:300px; z-index:500;'/>
</div>

<div id="BlockWindow" style="z-index:100; width:100%; height:100%; background:#e5e5e5; position:fixed; top:0px; left:0px; opacity:0.5; display:none;"></div>
<div class="wrapper">
	<header>
		<!--導航列-->
		{% include 'HeadNav.html' %}
		<!--end 導航列-->
		<ul class="SecondNavBar">
			<li class="NavLi1"><div style="color:white;background-color:#00b4ef; border-radius: 3px; font-size:15px; font-weight: bold; height:20px; padding:5px 5px 0px 5px;"><a href="#" class="anchor">Server 列表</a></div></li>
			<li class="NavLi1"><div style="color:black; border-radius: 3px; font-size:15px; font-weight: bold; height:20px; padding:5px 5px 0px 5px;"><a href="/eventlist" class="anchor" style="color:#788ca8">事件列表</a></div></li>
		</ul>
	</header><!-- .header-->

	<div class="middle">

		<aside class="left-sidebar">
			<ul class="SideNavBar">
				<li class="NavLi1">
					<div>

						<select id="SelectTank" style="border-color:#5d6980;background-color:#5d6980; color:white; width:150px;height:30px; font-family:'微軟正黑體', '新細明體'; font-size:15px;">
							{% for info in tank_list %}
							<option value="{{info.id}}">{{info.tank_name}}</option>
							{% endfor %}
						</select>

						<select id="SelectSearchServer" style="border-color:#5d6980;background-color:#5d6980; color:white; width:150px;height:30px; font-family:'微軟正黑體', '新細明體'; font-size:15px;">
							{% if filter == 'slot'%}
								<option value="slot" selected>槽位号</option>
								<option value="ip">IPAddress</option>
								<option value="mac">MacAddress</option>

							{% elif filter == 'ip' %}
								<option value="slot">槽位号</option>
								<option value="ip" selected>IPAddress</option>
								<option value="mac">MacAddress</option>

							{% elif filter == 'mac' %}
								<option value="slot">槽位号</option>
								<option value="ip">IPAddress</option>
								<option value="mac" selected>MacAddress</option>
							{% endif %}

						</select>
						<input id="txtSearchServer" type="text" value="{{value}}" style="border-color:#5d6980; background-color:#5d6980; width:150px;height:24px; font-family:'微軟正黑體', '新細明體'; font-size:15px; color:white; text-indent:10px;">
						<button id="btnSearchServer" type="button" style="border-color:#5d6980;background-color:#5d6980;border-radius:3px;"><span class="fa-stack"><i class="fa fa-search fa-stack-2x" style="color:white; height:20px; width:20px;"></i></span></button>
					</div>
				</li>
			</ul>

 			<table class="leftTable" border="1" >
				<thead style="height: 40px;">
					<tr>
						<td>槽位号</td>
						<td>IP 地址</td>
						<td>Mac 地址</td>
						<td>状态</td>
						<td style="vertical-align:middle; padding:10px;">事件</td>
					</tr>
				</thead>

				<tbody>
				{% if current_user.role.role_server == True %}
					{% for info in server_list %}
					<tr>
						<td>{{info.server_slot}}</td>
						<td>{{info.server_ip}}</td>
						<td style="font-size:15px;">{{info.server_mac}}</td>
						<td>{{info.server_status}}</td>
						<!--
						<td>{{info["id"]}}</td>
						<td>{{info["name"]}}</td>
						<td style="font-size:15px;">{{info["id"]}}</td>
						<td>{{info["id"]}}</td>
						-->

						<td>
							<div>
								<div class="dropdown">
									<button class="dropbtn">
										电源
									</button>
									<div class="dropdown-content">
										<a href="#">开启</a>
										<a href="#">关闭</a>
										<a href="#">重新启动</a>
										<hr/>
										<a href="#">强制重新启动</a>
									</div>
								</div>

								<div class="dropdown">
									<button class="dropbtn">
										UID
									</button>
									<div class="dropdown-content">
										<a href="#">On</a>
										<a href="#">Off</a>
									</div>
								</div>

								<div class="dropdown">
									<button class="dropbtnList" style="width:45px;">
										事件
									</button>
								</div>

								{% if info.server_type == 'JBOD'%}
								<div style="position:relative; top: 10px; margin-left:5px; float:left;">
									<button class="btnJBOD">
										JBOD
									</button>
								</div>
								{% else %}
								<div class="dropdown">
									<button class="dropbtn" style="width:90px;">
										远程控制
									</button>

									<div class="dropdown-content btnKVM">
										<a href="#">vKVM</a>
									</div>
								</div>
								{% endif %}
							</div>
						</td>
						<input class="serverId" type="hidden" value='{{info.id}}'/>
					</tr>
					{% endfor %}
				{%else%}
					<tr>
						<td style="width:100%; min-width:100%; max-width:100%; padding:20px;">
							You don't have authority to check this page, please connect admin to open your authority
						</td>
					</tr>

				{% endif %}
				</tbody>
			</table>


		</aside><!-- .left-sidebar -->

		<aside class="right-sidebar">
			<ul class="SideNavBar" id="rightNav" style="background-color: #183368; height:53px;">
				<li class="NavLi1">
					<div>
						<button class="btnRightNav" id="btnRightNav1">概要</button>
						<button class="btnRightNav">SDR</button>
						<button class="btnRightNav">LAN</button>
						<button class="btnRightNav">FRU</button>
					</div>
					<div style="background-color: #183368;">

					</div>
				</li>
			</ul>

			<table class="tbInfo" border="1" id="tbInfo">
				<tbody style="padding-left:10px; background:#293155; color:white; font-family:'微軟正黑體', '新細明體'; font-size:15px;">
					<tr>
						<td width="20%"></td>
						<td width="70%"></td>
					</tr>

					<tr>
						<td width="20%">槽位号：</td>
						<td style="background:#5d6980;"><span></span></td>
					</tr>

					<tr>
						<td></td>
					</tr>

					<tr>
						<td>IP：</td>
						<td style="background:#5d6980;"><span></span></td>
						<td style="padding:0px 10px 0px 10px;">
							<img src="{{ url_for('static', filename='img/arrow_right3.png') }}" style="height:25px; width:25px; cursor:pointer; position:relative; top:5px;" onclick="anchorToServer()">
						</td>
					</tr>

					<tr>
						<td></td>
					</tr>

					<tr>
						<td>Mac：</td>
						<td style="background:#5d6980;"><span></span></td>
					</tr>

					<tr>
						<td></td>
					</tr>

					<tr>
						<td>状态：</td>
						<td style="background:#5d6980;"><span></span></td>
					</tr>

					<tr>
						<td></td>
					</tr>

					<tr>
						<td>功能标签：</td>
						<td style="background:#5d6980;"><span></span></td>
						<td style="padding:0px 0px 0px 10px;">
							<i class="fa fa-edit" style="color:white; font-size:30px; cursor:pointer; position:relative; top:5px;" onclick="openItem('FunctionTagDialog')"></i>
						</td>
					</tr>

					<tr>
						<td></td>
					</tr>

					<tr>
						<td>用电量：</td>
						<td style="background:#5d6980;"><span></span></td>
					</tr>

					<tr>
						<td></td>
					</tr>

					<tr>
						<td style="vertical-align:top">用电细节：</td>
						<td style="background:#5d6980;">
							<span style="height:70px; width:100%;display:inline-block;overflow-y:scroll; background:#5d6980; color:white; border-color:#5d6980; font-family:'微軟正黑體', '新細明體'; font-size:15px;">

							</span>
						</td>
					</tr>

					<tr>
						<td></td>
					</tr>

					<tr>
						<td>温度：</td>
						<td style="background:#5d6980;"><span></span></td>
					</tr>

					<tr>
						<td></td>
					</tr>

					<tr>
						<td style="vertical-align:top">温度细项：</td>
						<td style="background:#5d6980;">
							<span style="height:70px; width:100%;display:inline-block;overflow-y:scroll; background:#5d6980; color:white; border-color:#5d6980; font-family:'微軟正黑體', '新細明體'; font-size:15px;">

							</span>
						</td>
					</tr>

					<tr>
						<td></td>
					</tr>

					<tr>
						<td style="vertical-align:top">注记：</td>
						<td style="background:#5d6980;">
							<span style="height:65px; width:100%;display:inline-block;overflow-y:scroll; background:#5d6980; color:white; border-color:#5d6980; font-family:'微軟正黑體', '新細明體'; font-size:15px;">

							</span>
						</td>
						<td style="vertical-align:top">
							<i class="fa fa-edit fa-2x" style="color:white; height:20px; width:20px;" onclick="openItem('HintDialog')"></i>
						</td>
					</tr>

					<tr>
						<td></td>
					</tr>

					<tr>
						<td>最后更新时间：</td>
						<td style="background:#5d6980; bonder-bottom:red;"><span></span></td>
					</tr>

					<tr>
						<td></td>
					</tr>

				</tbody>
			</table>

			<table class="tbSDR" border="1" id="tbSDR">

				<thead style="background:#222e46; color:white; font-family:'微軟正黑體', '新細明體'; font-size:15px; font-weight: bold;" align="left" >
					<tr>
						<td style="border-right:groove 2px white;">名称</td>
						<td style="border-right:groove 2px white;">状态</td>
						<td style="border-right:groove 2px white;">数值</td>
						<td style="border-right:groove 2px white; text-align: center;">事件</td>
					</tr>
				</thead>

				<tbody style="background:#293155; color:white; font-family:'微軟正黑體', '新細明體'; font-size:15px;">

				</tbody>
			</table>

			<table class="tbLan" border="1" id="tbLan">

				<thead style="background:#222e46; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px;" align="left" >
					<tr>
						<td style="border-right:groove 2px white;">名称</td>
						<td style="border-right:groove 2px white;">数值</td>
					</tr>
				</thead>

				<tbody style="padding-left:10px;background:#293155; color:white; font-family:'微軟正黑體', '新細明體';">

				</tbody>
			</table>

			<table class="tbLan" border="1" id="tbFru">

				<thead style="background:#222e46; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px;" align="left" >
					<tr>
						<td style="border-right:groove 2px white;">名称</td>
						<td style="border-right:groove 2px white;">数值</td>
					</tr>
				</thead>

				<tbody style="padding-left:10px;background:#293155; color:white; font-family:'微軟正黑體', '新細明體';">
				</tbody>
			</table>
		</aside><!-- .right-sidebar -->

	</div><!-- .middle-->

</div><!-- .wrapper -->

<div id="PowerConfirmDialog" class="ConfirmDialog">
	&nbsp;&nbsp;电源控制操作确认
	<a href="javascript: closeItem('PowerConfirmDialog');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>

	<div class="ConfirmDialogComment">
		请输入您的使用者密码进行再次确认 ：<br/>
		<input id="inputPowerConfirmDialog" type="password" style="margin-top:10px; width:280px; font-size:15px;">
	</div>

	<button id="btnPowerConfirmDialogOK">OK</button>
	<button onclick="closeItem('PowerConfirmDialog')" style="">Cancel</button>

</div>

<div id="UIDConfirmDialog" class="ConfirmDialog">
	&nbsp;&nbsp;操作确认
	<a href="javascript: closeItem('UIDConfirmDialog');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>

	<div class="ConfirmDialogComment">
		请输入您的使用者密码进行再次确认 ：<br/>
		<input id="inputUIDConfirmDialog" type="password" style="margin-top:10px; width:280px; font-size:15px;">
	</div>

	<button id="btnUIDConfirmDialogOK">OK</button>
	<button onclick="closeItem('UIDConfirmDialog')" style="">Cancel</button>

</div>

<div id="ListDialog" class="ListDialog">
	&nbsp;&nbsp;
	<a href="javascript: closeItem('ListDialog');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>
	<a href="#"><img src="{{ url_for('static', filename='img/gotop.png') }}" style="height:30px; width:30px; position:absolute; top:3px; right:30px;" onclick="ScrollGoToTop()"/></a>

	<div style="position:relative; top:10px; left:5px; height:103%;">
		<table id="tbList" class="tbList" border="1">

			<thead style="background:#222e46; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px;" align="left" >
				<tr>
					<td>RecId</td>
					<td>发生时间</td>
					<td>事件名称</td><!--sel_name-->
					<td>说明</td><!--sel_condition-->
					<td>事件种类</td><!--sel_tag-->
					<td>传感器</td><!--sel_type-->
					<td>事件细节</td>
				</tr>
			</thead>

			<tbody style="background:#293155; color:white; font-family:'微軟正黑體', '新細明體';">
				<tr>

				</tr>

				<tr>

				</tr>


   				<tr>

				</tr>
			</tbody>
		</table>
	</div>
</div>

<div id="FunctionTagDialog" class="FunctionTagDialog">
	&nbsp;&nbsp;功能标签
	<a href="javascript: closeItem('FunctionTagDialog');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>

	<div class="FunctionTagDialogComment">
		<input type="text" style="margin-top:10px; width:280px; font-size:15px; height:30px; color:white; background:#5d697d; ">
	</div>

	<button onclick="closeItem('FunctionTagDialog')" style="">取消</button>
	<button id="btnFunctionTagDialogOK">储存</button>
</div>

<div id="HintDialog" class="HintDialog">
	&nbsp;&nbsp;注记
	<a href="javascript: closeItem('HintDialog');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>

	<div class="HintDialogComment">
		<textarea style=" width:280px; font-size:18px; height:150px; color:white; background:#5d697d;"></textarea>
	</div>

	<button onclick="closeItem('HintDialog')" style="">取消</button>
	<button id="btnHintDialogOK">储存</button>
</div>

<div id="ListSittingDialog" class="ListDialog" style="height:675px;">
	&nbsp;&nbsp;事件设定
	<a href="javascript: closeItem('ListSittingDialog');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>
	<a href="#"><img src="{{ url_for('static', filename='img/gotop.png') }}" style="height:30px; width:30px; position:absolute; top:3px; right:30px;" onclick="ScrollGoToTop()"/></a>

	<div style="position:relative; top:10px; left:5px; height:570px; width:990px;">
		<div style="height:200px;  width:985px;">
			<table id="tbListSittingInfo" class="tbListSittingInfo" border="1" style="width:99.9%; height: 200px; ">
				<thead style="background:#222e46; color:white; font-family:'微軟正黑體', '新細明體';" align="left" >
					<tr>
						<td>告警名称</td>
						<td>描述</td>
					</tr>
				</thead>

				<tbody style="background:#293155; color:white; font-family:'微軟正黑體', '新細明體'; width:cal(100% - 1px); height:96%">
					<!--<tr>
						<td>ALarm name1</td>
						<td>Description 1</td>
					</tr>-->
				</tbody>
			</table>
		</div>

		<div style="height:calc(100% - 40px); width:985px;">
			<table class="tbListSitting" border="1" style="width:100%; height: calc(100% - 90px); ">
				<thead style="background:#0c172e; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px;" align="left" >
					<tr>
						<td colspan='2'>
							<ul class="TopNavBar" style="background:#0c172e;">
								<li id="addAlarm" class="NavLi1" style="margin-left:20px; font-size:15px; padding:5px;"><a href="#" class="anchor">加入</a></li>
								<li id="saveAlarm" class="NavLi1" style="margin-left:20px; font-size:15px; padding:5px;"><a href="#" class="anchor">储存</a></li>
								<li id="deleteAlarm" class="NavLi1" style="margin-left:20px; font-size:15px; padding:5px;" onclick="openItem('DeleteDialog')"><a href="#" class="anchor">删除</a></li>

								<li id="reloadAlarm" class="NavLi2" style="margin-right:20px; font-size:15px; padding:5px;"><a href="#" class="anchor"></a></li>
								<!--<li class="NavLi2" style="margin-right:20px; font-size:15px; padding:5px;"><a href="javascript: openItem('ChartDialog');" class="anchor">Chart</a></li>-->
							</ul>

						</td>
					</tr>
				</thead>

				<tbody style="padding-left:10px;background:#404562; color:white; font-family:'微軟正黑體', '新細明體'; overflow-y:scroll; display:block; height:99%; width:99%;">
					<tr>
						<td>启用：</td>
						<td>
							<select id="addAlarmEnable" style="background:#5d6980; width:300px; font-size:18px; border-color:#5d6980; color:white;">
								<option value='true' selected>是</option>
								<option value='false'>否</option>
							</select>
						</td>
					</tr>

					<tr>
						<td>传感器:</td>
						<td id="SensorName"></td>
					</tr>

					<tr>
						<td>报警名称：</td>
						<td>
							<input id="addAlarmName" type="text" onkeyup="sqlcheck(this)" required style="background:#5d6980; width:400px; font-size:18px; border-color:#5d6980; color:white;"/>
						</td>
					</tr>

					<tr>
						<td>描述：</td>
						<td >
							<input id="addAlarmDes" type="text" onkeyup="sqlcheck(this)" style="background:#5d6980; width:400px; font-size:18px; border-color:#5d6980; color:white;"/>
						</td>
					</tr>

					<!--<tr>
						<td style="vertical-align:top;">Alarm Type：</td>
						<td>
							<div class="multiselect" style="background:#5d6980; width:200px; font-size:18px; border-color:#5d6980; color:white; display:inline-block;">
								<div class="selectBox" onclick="showCheckboxes()">
									<select style="height:25px; font-size:15px; ">
										<option>Select an option</option>
									</select>
									<div class="overSelect"></div>
								</div>

								<div id="checkboxes">
									<label for="eventWarning">
										<input type="checkbox" id="eventWarning" />告警事件</label>

									<label for="eventDevice">
										<input type="checkbox" id="eventDevice" />設備事件</label>

									<label for="eventSystem">
										<input type="checkbox" id="eventSystem" />系統事件</label>
								</div>
							</div>

							<div class="tooltip" style="vertical-align:top; ">
								<i class="fa fa-cog" style="margin-left:10px; vertical-align:top; padding-top:2px; font-size:21px;"></i>
							  	<span class="tooltiptext tooltip-right">
									&nbsp;&nbsp;&nbsp;告警事件：The description of 告警事件<br/>
									&nbsp;&nbsp;&nbsp;設備事件：The description of 告警事件<br/>
									&nbsp;&nbsp;&nbsp;系統事件：The description of 告警事件<br/>
								</span>
							</div>
						</td>
					</tr>-->

					<tr>
						<td>报警级别：</td>
						<td>
							<select id="addAlarmLevel" required style="background:#5d6980; width:250px; font-size:18px; height:25px; border-color:#5d6980; color:white;">
								<option value="first" selected>预警</option>
								<option>低</option>
								<option>中</option>
								<option>高</option>
								<option>严重</option>
							</select>

							<div class="tooltip" style="vertical-align:top; ">
								<i class="fa fa-cog" style="margin-left:10px; vertical-align:top; padding-top:2px; font-size:21px;"></i>
							  	<span class="tooltiptext tooltip-right">
									&nbsp;&nbsp;&nbsp;预警：The description of 预警<br/>
									&nbsp;&nbsp;&nbsp;低：The description of 低<br/>
									&nbsp;&nbsp;&nbsp;中：The description of 中<br/>
									&nbsp;&nbsp;&nbsp;高：The description of 高<br/>
									&nbsp;&nbsp;&nbsp;严重：The description of 严重<br/>
								</span>
							</div>

						</td>
					</tr>

					<!--<tr>
						<td colspan='2'>
							<button id="btnAddCondition" style="font-size:18px; padding:2px 5px 2px 5px; width:180px;">+ Add Condition</button>
							<button id="btnDelCondition" style="font-size:18px; padding:2px 5px 2px 5px; width:180px;">- Del Condition</button>
						</td>
					</tr>

					<tr id="addCondition">
						<tr style="display:none;">
							<td>
								<input class='newCondition' type='text' style='background:#5d6980; width:400px; font-size:18px; border-color:#5d6980; color:white;'/>
							</td>
						</tr>
					</tr>



					<tr>
						<td>Logical Opeartion：</td>
						<td >
							<select style="background:#5d6980; width:250px; font-size:18px; border-color:#5d6980; color:white;">
								<option></option>
								<option></option>
							</select>
						</td>
					</tr>-->

					<tr>
						<td style="vertical-align:top;">逻辑运算 ：</td>
						<td style="vertical-align:middle;">
							<select id="alarm_condition" style="background:#5d6980; width:250px; font-size:18px; border-color:#5d6980; color:white;">
								<option value="<" selected>大于</option>
								<option value="=">等于</option>
								<option value=">">小于</option>
								<option value="<=">大于等于</option>
								<option value=">=">小于等于 </option>
								<option value="<>">不等于</option>
							</select>
						</td>
					</tr>

					<tr>
						<td>值：</td>
						<td>
							<input id="addAlarmValue" type="text" onkeyup="num(this)" required style="background:#5d6980; width:400px; font-size:18px; border-color:#5d6980; color:white;"/>
							<input id="alarm_id" type="hidden" value="">
						</td>
					</tr>

					<tr>
						<td>单位：</td>
						<td id="unit"></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="DeleteDialog" class="DeleteDialog">
	&nbsp;&nbsp;Delete
	<a href="javascript: closeItem('DeleteDialog');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>

	<div class="DeleteDialogComment" style="text-align: center;">
		<div style="width:100%; height:30px;">
			<input type="image" src="{{ url_for('static', filename='img/question.png') }}" style="width:35px; height:35px; position:absolute; top:63px; left:40px;">
			<br/>
			<span>Confirm to delete ?</span>

		</div>

		<button id="btnDelAlarm">Yes</button>
		<button onclick="closeItem('DeleteDialog')" style="">No</button>

	</div>
</div>

<!--<div id="ChartDialog" class="ChartDialog">
	&nbsp;&nbsp;
	<a href="javascript: closeItem('ChartDialog');"><i class="fa fa-close fa-lg close" style="color:white; height:20px; width:20px;"></i></a>
	<a href="#"><img src="{{ url_for('static', filename='img/gotop.png') }}" style="height:30px; width:30px; position:absolute; top:3px; right:30px;" onclick="ScrollGoToTop()"/></a>

	<div style="position:relative; top:10px; left:5px; height:400px;">
		<table class="tbListSittingChart" border="1" style="width:99%;">

			<thead style="background:#0c172e; color:white; font-family:'微軟正黑體', '新細明體'; font-size:14px;" align="left" >
				<tr>
					<td>

						查詢時間:
						<input id="dateChart" type="date" required style="display:inline-block;background:#5d6980; width:150px; height:25px; font-size:18px; border-color:#5d6980; color:white; margin-top:3px;"/>


						<input id="timeChart"  type="time" required style="background:#5d6980; width:100px; font-size:18px; border-color:#5d6980; color:white; height:25px;" />


						<select style="background:#5d6980; width:120px; font-size:18px; border-color:#5d6980; color:white; height:25px;">
							<option>分</option>
						</select>


						<button id="chartRefresh" style="background:#0c172e; color:#0b5fb2; border-color:#0c172e; margin-left:10px; font-family:'微軟正黑體', '新細明體'; font-size:20px;"><i class="fa fa-undo"></i></button>
						<button id="searchChart" style="background:#0c172e; color:white; border-color:#0c172e; margin-left:10px; font-family:'微軟正黑體', '新細明體'; font-size:20px;">查詢</button>
						<button id="lastPeriod" style="background:#0c172e; color:white; border-color:#0c172e; margin-left:10px; font-family:'微軟正黑體', '新細明體'; font-size:20px;">＜</button>
						<button id="nextPeriod" style="background:#0c172e; color:white; border-color:#0c172e; margin-left:10px; font-family:'微軟正黑體', '新細明體'; font-size:20px;">＞</button>
					</td>
				</tr>
				<tr align="center">
					<td>
						<div style="width:865px; height:340px; background:#e3e3e3; padding-top:20px;">
							<canvas id="canvas" width="850" height="280"></canvas>
							<span id="canvasInfo"  style="color:black; padding-left:30px;margin-top:10px; width:100%; display:inline-block; text-align:left;">

							</span>

						</div>
					</td>
				</tr>
			</thead>
		</table>
	</div>
</div>-->

<script>

/*Left hover and get tr--------------------------------------------*/
{% if current_user.role.role_server == True %}
	$(".leftTable tbody tr").click(function(e){

		if($(this).hasClass("TheActivedTr")){
			return;
		}

		$(".leftTable tbody tr").css("background","#293155");
		$(this).css("background","#5c6086");

		$(".leftTable tbody tr").each(function(){
			var active = $(this).hasClass("TheActivedTr");

			if(active){
				$(this).removeClass("TheActivedTr");
			}
		});

		$(this).addClass("TheActivedTr");

		$('.btnRightNav').each(function(){
			$(this).css('background','#183368');
			$(this).css('border-color', '#183368');
		});

		//Loading Data----------------------------------------------------------------
		$('#Loading').show();

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/GetServerInfoByAjax",
			data : {
				slot : $('.TheActivedTr td:eq(0)').text(),
				ip : $('.TheActivedTr td:eq(1)').text(),
				mac : $('.TheActivedTr td:eq(2)').text(),
				situation : $('.TheActivedTr input').val()

			},
			cache : false,
			success : function(data) {
				if(data.Success == 'False'){
					//alert('Can not find this server');
					window.location.href = ('/serverinfo');
					return;
				}

				//Load Info---------------------------------------------------------------------------
				var i = 0;
				//console.log(data.serverinfo)
				$('#tbInfo tr td span').each(function(){
					switch (i){
						case 0:
							$(this).html(data.serverinfo.Slot);
							break;
						case 1:
							$(this).html(data.serverinfo.IP);
							break;
						case 2:
							$(this).html(data.serverinfo.MAC);
							break;
						case 3:
							$(this).html(data.serverinfo.Situation);

							var situation = data.serverinfo.Situation;
							switch (situation){
								case 'Power Off':
									$('.TheActivedTr').children("td:eq(3)").html("<span class='fa-stack'><i class='fa fa-square fa-stack-2x' style='color:grey;'></i><i class='fa fa-power-off fa-stack-1x' style='color:white;''></i><input type='hidden' value='0'/></span>");
									break;

								case 'Power On':
									$('.TheActivedTr').children("td:eq(3)").html("<span class='fa-stack'><i class='fa fa-square fa-stack-2x' style='color:LimeGreen ;'></i><i class='fa fa-power-off fa-stack-1x' style='color:white;''></i><input type='hidden' value='1'/></span>");
									break;

								case 'Warning':
									var slotNum = $('.TheActivedTr').children("td:eq(0)").text();
									$('.TheActivedTr').children("td:eq(0)").html('<span style="background:yellow; color:red;">'+slotNum+'</span>');
									$('.TheActivedTr').children("td:eq(3)").html('<i class="fa fa-exclamation-circle" style="color:yellow; font-size:25px;"></i> <input type="hidden" value="2"/>');
									break;

								default:
									var slotNum = $('.TheActivedTr').children("td:eq(0)").text();
									$('.TheActivedTr').children("td:eq(0)").html('<span style="background:yellow; color:red;">'+slotNum+'</span>');
									$('.TheActivedTr').children("td:eq(3)").html('<i class="fa fa-exclamation-circle" style="color:yellow; font-size:25px;"></i> <input type="hidden" value="2"/>');
									break;
							}

							break;
						case 4:
							$(this).html(data.serverinfo.FunctionTag);
							$('.FunctionTagDialogComment input').val(data.serverinfo.FunctionTag);
							break;
						case 5:
							$(this).html(data.serverinfo.Power);
							break;
						case 6:
							$(this).html(data.serverinfo.PowerDetail);
							break;
						case 7:
							$(this).html(data.serverinfo.Temp);
							break;
						case 8:
							$(this).html(data.serverinfo.TempDetail);
							break;
						case 9:
							$(this).html(data.serverinfo.hint);
							$('.HintDialogComment textarea').val(data.serverinfo.hint);
							break;
						case 10:
							$(this).html(data.serverinfo.UpdateTime);
							break;
						default:
							$(this).html('');
						break;
					}
					i++
				});

				//Load sdr---------------------------------------------------------------------------
				arySdr = data.serverSdr
				$('#tbSDR tbody').html('');
				for(idx in arySdr){

					var alarm = arySdr[idx].alarm;

					if (alarm >= 0 && alarm < 2){
						$('#tbSDR tbody').append("<tr><td>"+
							arySdr[idx].name +"</td><td>"+
							arySdr[idx].status +"</td><td style='color:orange'>"+
							arySdr[idx].value +"</td><td><i class='fa fa-cog fa-2x' onclick=\"openListSittingDialog('"+
							arySdr[idx].name+"','"+arySdr[idx].value+"')\"></i></td></tr>");

					}else if (alarm == 2){
						$('#tbSDR tbody').append("<tr><td>"+
							arySdr[idx].name +"</td><td>"+
							arySdr[idx].status +"</td><td style='color:yellow'>"+
							arySdr[idx].value +"</td><td><i class='fa fa-cog fa-2x' onclick=\"openListSittingDialog('"+
							arySdr[idx].name+"','"+arySdr[idx].value+"')\"></i></td></tr>");

					}else if (alarm > 2){
						$('#tbSDR tbody').append("<tr><td>"+
							arySdr[idx].name +"</td><td>"+
							arySdr[idx].status +"</td><td style='color:red'>"+
							arySdr[idx].value +"</td><td><i class='fa fa-cog fa-2x' onclick=\"openListSittingDialog('"+
							arySdr[idx].name+"','"+arySdr[idx].value+"')\"></i></td></tr>");

					}else{
						$('#tbSDR tbody').append("<tr><td>"+
							arySdr[idx].name +"</td><td>"+
							arySdr[idx].status +"</td><td>"+
							arySdr[idx].value +"</td><td><i class='fa fa-cog fa-2x' onclick=\"openListSittingDialog('"+
							arySdr[idx].name+"','"+arySdr[idx].value+"')\"></i></td></tr>");
					}
				}

				//Load Lan---------------------------------------------------------------------------
				aryLan = data.serverLan
				$('#tbLan tbody').html('');
				for(idx in aryLan){
					$('#tbLan tbody').append("<tr><td>"+aryLan[idx].name+"</td><td>"+aryLan[idx].value+"</td></tr>")
				}

				//Load Fru---------------------------------------------------------------------------
				aryFru = data.serverFru
				$('#tbFru tbody').html('');
				for(idx in aryFru){
					$('#tbFru tbody').append("<tr><td>"+aryFru[idx].name+"</td><td>"+aryFru[idx].value+"</td></tr>")
				}

				//Load Sel----------------------------------------------------------------------------
				arySel = data.serverSel
				$('#tbList tbody').html('');
				for(idx in arySel){
					$('#tbList tbody').append("<tr><td>"+arySel[idx].sel_id+"</td><td>"+
					arySel[idx].date+" "+ arySel[idx].hour+"</td><td>"+
					arySel[idx].sel_name+"</td><td>"+
					arySel[idx].condition+"</td><td>"+
					arySel[idx].assert_tag+"</td><td>"+
					arySel[idx].sensor_type+"</td><td>"+
					arySel[idx].event_detail+"</td></tr>")
				}

				$('.btnRightNav:eq(0)').css('background','#8bc35d');
				$('.btnRightNav:eq(0)').css('border-color', '#8bc35d');

				$('#tbInfo').show();
				$('#tbSDR').hide();
				$('#tbLan').hide();
				$('#tbFru').hide();

				$('#Loading').hide();
			},

			error : function(xhr, ajaxOptions, thrownError) {
				console.log('error');
				alert('错误');
				window.location.href = ('/serverinfo');

				$('#Loading').hide();
				return;
			}
		});
	});
{% endif %}

/*DropDown btn--------------------------------------------*/
	var action = "";

	$('.dropbtn').click(function(){
		var show = $(this).next().hasClass("show");

		$('.dropdown-content').each(function(){
			$(this).removeClass("show");
		});

		if(show){
			$(this).next().removeClass("show");

		}else{
			$(this).next().addClass("show");
		}
	});

	$('.dropbtnList').click(function(){
		openItem('ListDialog');
	});

	$('.dropdown-content a').click(function(){
		var btn = $(this).parent().prev().html().trim();

		if(btn == "电源"){
			openItem('PowerConfirmDialog');
			action = $(this).text();

		}else if(btn == "UID"){
			openItem('UIDConfirmDialog');
			action = $(this).text();

		}else if(btn == "远端控制"){


		}else if(btn == "事件"){

		}
	});

	$('#btnPowerConfirmDialogOK').click(function(){
		var ip = $('.TheActivedTr td:eq(1)').text();
		var text = $('#inputPowerConfirmDialog').val();
		var id = $('.TheActivedTr .serverId').val();

		closeItem('PowerConfirmDialog');
		$('#Loading').show();

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/PowerOperate",
			data : {
				text : text,
				action : action,
				id: id
			},
			cache : false,
			success : function(data) {
				$('#Loading').hide();

				if(data.info == 'pwdWrong'){
					alert("密码错误, 请再试一次");

				}else if(data.info == 'Success'){
					alert(ip + " 的电源已 " + action);

				}else{
					alert("系统错误, 请再试一次");
				}

			},error : function(xhr, ajaxOptions, thrownError) {
				$('#Loading').hide();
				console.log('error');
			}
		});
	});

	$('#btnUIDConfirmDialogOK').click(function(){
		var ip = $('.TheActivedTr td:eq(1)').text();
		var text = $('#inputUIDConfirmDialog').val();
		var id = $('.TheActivedTr .serverId').val();

		closeItem('UIDConfirmDialog');
		$('#Loading').show();

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/UIDOperate",
			data : {
				text : text,
				id : id,
				action : action
			},
			cache : false,
			success : function(data) {
				$('#Loading').hide();

				if(data.info == 'pwdWrong'){
					alert("密码错误, 请再试一次");


				}else if(data.info == 'Success'){
					alert(ip + " 的 UID 已 " + action);

				}else{
					alert("系统错误，请再试一次");
				}

			},error : function(xhr, ajaxOptions, thrownError) {
				$('#Loading').hide();
				console.log('error');
			}
		});
	});

	$('.btnKVM').click(function(){
		var ip = $('.TheActivedTr td:eq(1)').text();
		var server_id = $('.TheActivedTr .serverId').val();
		$('#Loading').show();

		setTimeout(function() {$('#Loading').hide()}, 1000);

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/KVMOperate",
			data : {
				server_id: server_id
			},
			cache : false,
			success : function(data) {

				if(data.info == 'pwdWrong'){
					alert("密码错误, 请再试一次");

				}else if(data.info == 'Success'){

				}else{
					alert("系统错误，请再试一次");
				}

			},error : function(xhr, ajaxOptions, thrownError) {
				$('#Loading').hide();
				console.log('error');
			}
		});

	});

	window.onclick = function(e) {

		var target = $(e.target);
		if (!target.is(document.getElementsByClassName('dropbtn'))) {
			$('.dropdown-content').each(function(){
				//alert($(this).html());
				$(this).removeClass("show");
			});
		}
	}
/*DropDown btn End--------------------------------------------*/

	$(document).ready(function(){

		//Reload after 30sec --------------------------------------------------------
		setInterval(function() {
			//window.location.reload(true);
		}, 30000);

		var tank_value = "{{tank_value}}"

		$('#SelectTank').val(tank_value);

		$(".leftTable tbody tr").each(function(){
			var situation = $(this).children("td:eq(3)").text().trim();
			switch (situation){
				case '0':
					$(this).children("td:eq(3)").html("<span class='fa-stack'><i class='fa fa-square fa-stack-2x' style='color:grey;'></i><i class='fa fa-power-off fa-stack-1x' style='color:white;''></i><input type='hidden' value='0'/></span>");
					break;

				case '1':
					$(this).children("td:eq(3)").html("<span class='fa-stack'><i class='fa fa-square fa-stack-2x' style='color:LimeGreen ;'></i><i class='fa fa-power-off fa-stack-1x' style='color:white;''></i><input type='hidden' value='1'/></span>");
					break;

				case '2':
					var slotNum = $(this).children("td:eq(0)").text();
					$(this).children("td:eq(0)").html('<span style="background:yellow; color:red;">'+slotNum+'</span>');
					$(this).children("td:eq(3)").html('<i class="fa fa-exclamation-circle" style="color:yellow; font-size:25px;"></i> <input type="hidden" value="2"/>');
					break;

				default:
					var slotNum = $(this).children("td:eq(0)").text();
					$(this).children("td:eq(0)").html('<span style="background:yellow; color:red;">'+slotNum+'</span>');
					$(this).children("td:eq(3)").html('<i class="fa fa-exclamation-circle" style="color:yellow; font-size:25px;"></i> <input type="hidden" value="2"/>');
					break;
			}
		});


	/*RightNavBar hover and click--------------------------------------------*/
	    $('.btnRightNav:eq(0)').click(function(){
	    	$('.btnRightNav').each(function(){
				$(this).css('background','#183368');
				$(this).css('border-color', '#183368');
			});

			$(this).css('background','#8bc35d');
			$(this).css('border-color', '#8bc35d');

	    	$('#tbInfo').show();
	    	$('#tbSDR').hide();
		    $('#tbLan').hide();
		    $('#tbFru').hide();
	    });

	    $('.btnRightNav:eq(1)').click(function(){
	    	$('.btnRightNav').each(function(){
				$(this).css('background','#183368');
				$(this).css('border-color', '#183368');
			});

			$(this).css('background','#8bc35d');
			$(this).css('border-color', '#8bc35d');

	    	$('#tbInfo').hide();
	    	$('#tbSDR').show();
		    $('#tbLan').hide();
		    $('#tbFru').hide();
	    });

	    $('.btnRightNav:eq(2)').click(function(){
	    	$('.btnRightNav').each(function(){
				$(this).css('background','#183368');
				$(this).css('border-color', '#183368');
			});

			$(this).css('background','#8bc35d');
			$(this).css('border-color', '#8bc35d');

	    	$('#tbInfo').hide();
	    	$('#tbSDR').hide();
		    $('#tbLan').show();
		    $('#tbFru').hide();
	    });

	    $('.btnRightNav:eq(3)').click(function(){
	    	$('.btnRightNav').each(function(){
				$(this).css('background','#183368');
				$(this).css('border-color', '#183368');
			});

			$(this).css('background','#8bc35d');
			$(this).css('border-color', '#8bc35d');

	    	$('#tbInfo').hide();
	    	$('#tbSDR').hide();
		    $('#tbLan').hide();
		    $('#tbFru').show();
	    });
	/*RightNavBar hover and click End--------------------------------------------*/
	});

	var sdrSensorName = '';
	var unit = '';

	function openListSittingDialog(obj, u) {
		sdrSensorName = obj;
		unit = u.toLowerCase().replace(/\s/g, '');

		document.getElementById('ListSittingDialog').style.display = 'block';
		$('#BlockWindow').show();

		$('.tbListSittingInfo tbody').scrollTop(0);

		$(".tbListSittingInfo tbody tr").css("background","#293155");
		$("#SensorName").html(sdrSensorName);

		if (unit.indexOf('volts') >= 1){
		    unit = 'Volts'

		}else if (unit.indexOf('rpm') >= 1){
		    unit = 'RPM'

		}else if (unit.indexOf('degreesc') >= 1){
		    unit = 'degrees C'

		}else if (unit.indexOf('amps') >= 1){
		    unit = 'Amps'

		}else if (unit.indexOf('watts') >= 1){
		    unit = 'Watts'
		}

		$("#unit").html(unit);

		var server_id = $('.TheActivedTr .serverId').val();
		var sensorName = sdrSensorName

	//Read alarm data---------------------------------------------------------------------------------
		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/GetSensorAlarmInfo",
			data : {
				sensorName : sensorName
			},
			cache : false,
			success : function(data) {

				if(data.info == 'success'){

					//Load alarm---------------------------------------------------------------------------
					aryAlarm = data.alarmList
					$('#tbListSittingInfo tbody').html('');

					for(idx in aryAlarm){
						$('#tbListSittingInfo tbody').append("<tr onclick='selectAlarm(this)'><td>"+
						aryAlarm[idx].name +"</td><td>"+
						aryAlarm[idx].des +"</td><input type='hidden' value='"+
						aryAlarm[idx].id+"'></tr>");
					}

				}else{
					alert('Error');
					return;
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {
				console.log('error');
			}
		});


	}

	function openItem(obj) {
		document.getElementById(obj).style.display = 'block';
		$('#BlockWindow').show();

		if(obj == 'ListDialog'){
			$('#ListDialog table tbody').scrollTop(0);
		}

		if(obj == 'DeleteDialog'){
			document.getElementById('ListSittingDialog').style.display = 'none';
		}

		/*if(obj == 'ChartDialog'){
			labels = [];
			data = [];
			orgData = [];

			DrawChart(labels, orgData);

			$('#canvasInfo').html('Max：1.16 　Min：1.05　Avg：1.08<br/>From：2017-07-26 09:42　To：2017-07-26 10:42');
		}*/
	}



	function closeItem(obj) {

		if(obj == 'DeleteDialog'){
			document.getElementById('DeleteDialog').style.display = 'none';
			document.getElementById('ListSittingDialog').style.display = 'block';
			return;
		}

		document.getElementById(obj).style.display = 'none';
		$('#BlockWindow').hide();

		/*if(obj == 'ListSittingDialog'){
			document.getElementById('ChartDialog').style.display = 'none';
		}

		if(obj != 'ChartDialog'){
			$('#BlockWindow').hide();
		}*/
	}

	$('#BlockWindow').click(function(){
		closeItem('PowerConfirmDialog');
		closeItem('UIDConfirmDialog');
		closeItem('ListDialog');
		closeItem('FunctionTagDialog');
		closeItem('HintDialog');
		closeItem('ListSittingDialog');
		document.getElementById('DeleteDialog').style.display = 'none';
		//closeItem('ChartDialog');
	});

	function ScrollGoToTop(){
		$('#ListDialog table tbody').animate({scrollTop:0},900);
		$('.tbListSittingInfo tbody').animate({scrollTop:0},900);

		return false;
	}

/*fullScreen-------------------------------------------------------------------*/
	var FullScreen = false;
	$('#fullScreen').click(function() {
		if (screenfull.enabled && !FullScreen) {
			FullScreen = true;
			screenfull.request();

		}else if(screenfull.enabled && FullScreen){
			FullScreen = false;
			screenfull.exit();
		}
	});

</script>

<script>
/*Server Info----------------------------------------------------------------------------------*/

	function anchorToServer(){
		var ip = $('.TheActivedTr td:eq(1)').text();
		console.log(ip);

		window.open('http://'+ip, '_blank')
	}

	$('#btnFunctionTagDialogOK').click(function(){
		var mac = $('.TheActivedTr td:eq(2)').text()
		var text = $('.FunctionTagDialogComment input').val();

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/ChangeFunctionTag",
			data : {
				mac : mac,
				text : text
			},
			cache : false,
			success : function(data) {
				if(data.Viewer == 'True'){
					window.location.href = ("/cantInto");
					return false;
				}

				if(data.Success == 'True'){
					alert('Update Success');
					window.location.href = ('/serverinfo');

				}else{
					alert('Error');
					return;
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {
				console.log('error');
			}
		});
	});

	$('#btnHintDialogOK').click(function(){
		var mac = $('.TheActivedTr td:eq(2)').text()
		var text = $('.HintDialogComment textarea').val();

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/ChangeServerNote",
			data : {
				mac : mac,
				text : text
			},
			cache : false,
			success : function(data) {
				if(data.Success == 'True'){
					alert('修改成功');
					window.location.href = ('/serverinfo');

				}else{
					alert('错误');
					return;
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {
				console.log('error');
			}
		});
	});

	$('#btnSearchServer').click(function(){
		filter = $('#SelectSearchServer').val();
		value = $('#txtSearchServer').val();
		tank = $('#SelectTank').val();

		window.location.href = ('/ServerSearch?filter='+filter+'&value='+value+'&tank='+tank);
	});

	$('#SelectTank').change(function(){
		filter = $('#SelectSearchServer').val();
		value = $('#txtSearchServer').val();
		tank = $('#SelectTank').val();

		window.location.href = ('/ServerSearch?filter='+'slot'+'&value='+''+'&tank='+tank);
	});
</script>

<script>
/*Alarm Setting----------------------------------------------------------------------------------*/

	function selectAlarm(tr){
		if($(tr).hasClass("TheSelectSdrEvent")){
			return;
		}

		$(".tbListSittingInfo tbody tr").css("background","#293155");
		$(tr).css("background","#5c6086");

		$(".tbListSittingInfo tbody tr").each(function(){
			var active = $(this).hasClass("TheSelectSdrEvent");

			if(active){
				$(this).removeClass("TheSelectSdrEvent");
			}
		});

		$(tr).addClass("TheSelectSdrEvent");

		var sensorName = sdrSensorName
		var alarmName = $('.TheSelectSdrEvent td:eq(0)').text()

	//Read alarm data---------------------------------------------------------------------------------
		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/GetSelectAlarmInfo",
			data : {
				sensorName : sensorName,
				alarmName : alarmName
			},
			cache : false,
			success : function(data) {
				if(data.info == 'success'){

					if(data.alarm.enable){
						$('#addAlarmEnable').val('true');
					}else{
						$('#addAlarmEnable').val('false');
					}

					$('#addAlarmName').val(data.alarm.name);
					$('#addAlarmDes').val(data.alarm.des);
					$('#addAlarmLevel').val(data.alarm.level);

					$('#addAlarmValue').val(data.alarm.value);
					$('#alarm_condition').val(data.alarm.condition);

					$('#alarm_id').val(data.alarm.id);

				}else{
					alert('错误');
					return;
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {
				console.log('error');
			}
		});
	}

//AddAlarm-------------------------------------------------------------------------------------------------------
	$('#addAlarm').click(function(){
		var sensorName = sdrSensorName;

		var alarmEnable = $('#addAlarmEnable').val();
		var alarmName = $('#addAlarmName').val();
		var alarmDes = $('#addAlarmDes').val();
		var alarmLevel = $('#addAlarmLevel').val();

		var alarmValue = $('#addAlarmValue').val();
		var alarm_condition = $('#alarm_condition').val();

		if(sensorName == ''){
			return;
		}

		if(alarmName == ''){
			alert("告警名不可为空");
			return;
		}

		if(alarmValue == ''){
			alert("告警值不可为空.");
			return;
		}

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/addAlarm",
			data : {
				sensorName : sensorName,
				alarmEnable : alarmEnable,
				alarmName : alarmName,
				alarmDes : alarmDes,
				alarmLevel : alarmLevel,
				alarm_condition : alarm_condition,
				alarmValue : alarmValue,
			},
			cache : false,
			success : function(data) {
				if(data.info == 'nameAlreadyExist'){
					alert('告警名已存在, 请使用其他名称.')
					return;
				}

				else if(data.info == 'success'){
					$('#ListSittingDialog input').each(function(){
						$(this).val('')
					})

					$('#ListSittingDialog :checkbox').each(function(){
						$(this).prop('checked',false);
					})

					$('#addAlarmEnable').val('true')

					$('#addAlarmLevel').val('first')

					closeItem('ListSittingDialog');

					var u = $("#unit").text();
					openListSittingDialog(sensorName, u);

					alert('新增成功');

				}else{
					alert('错误');
					return;
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {
				console.log('错误');
			}
		});
	});

//Modify Alarm------------------------------------------------------------------------------------
	$('#saveAlarm').click(function(){
		var sensorName = sdrSensorName;

		var alarmEnable = $('#addAlarmEnable').val();
		var alarmName = $('#addAlarmName').val();
		var alarmDes = $('#addAlarmDes').val();
		var alarmLevel = $('#addAlarmLevel').val();

		var alarmValue = $('#addAlarmValue').val();
		var alarm_condition = $('#alarm_condition').val();

		var alarm_id = $('#alarm_id').val();

		if(sensorName == ''){
			return;
		}

		if(alarmName == ''){
			alert("告警名不可为空");
			return;
		}

		if(alarmValue == ''){
			alert("告警值不可为空");
			return;
		}

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/ModifyAlarm",
			data : {
				sensorName : sensorName,
				alarmEnable : alarmEnable,
				alarmName : alarmName,
				alarmDes : alarmDes,
				alarmLevel : alarmLevel,
				alarmValue : alarmValue,
				alarm_condition : alarm_condition,
				alarm_id : alarm_id
			},
			cache : false,
			success : function(data) {
				if(data.info == 'nameAlreadyExist'){
					alert('告警名称不可重复，请使用其他名称')
					return;
				}

				else if(data.info == 'success'){

					$('#ListSittingDialog input').each(function(){
						$(this).val('')
					})

					$('#ListSittingDialog :checkbox').each(function(){
						$(this).prop('checked',false);
					})

					$('#addAlarmEnable').val('true')

					$('#addAlarmLevel').val('first')

					closeItem('ListSittingDialog');

					var u = $("#unit").text();
					openListSittingDialog(sensorName, u);

					alert('修改成功');


				}else{
					alert('错误');
					return;
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {
				console.log('error');
			}
		});

	});

//btnDelAlarm------------------------------------------------------------------------------------
	$('#btnDelAlarm').click(function(){

		var server_id = $('.TheActivedTr .serverId').val();
		var sensorName = sdrSensorName;
		var alarmName = $('#addAlarmName').val();
		var alarm_id = $('#alarm_id').val();

		if(alarm_id == '' || alarmName == ''){
			alert("请选择一个告警 !!!");
			closeItem('DeleteDialog');
			return;
		}

		$.ajax({
			type : "POST",
			url : $SCRIPT_ROOT + "/DeleteAlarm",
			data : {
				server_id : server_id,
				sensorName : sensorName,
				alarmName : alarmName,
				alarm_id : alarm_id
			},
			cache : false,
			success : function(data) {

				if(data.info == 'success'){
					$('#ListSittingDialog input').each(function(){
						$(this).val('')
					})

					$('#ListSittingDialog :checkbox').each(function(){
						$(this).prop('checked',false);
					})

					$('#addAlarmEnable').val('true')

					$('#addAlarmLevel').val('first')

					closeItem('ListSittingDialog');
					closeItem('DeleteDialog');

					var u = $("#unit").text();
					openListSittingDialog(sensorName, u);

					alert('删除成功');

				}else{
					alert('错误');
					return;
				}
			},

			error : function(xhr, ajaxOptions, thrownError) {
				console.log('error');
			}
		});

	});

//reload Alarm---------------------------------------------------------------------------------------------
	$('#reloadAlarm').click(function(){
	    var sensorName = sdrSensorName;

	    $('#ListSittingDialog input').each(function(){
			$(this).val('')
		})

		$('#ListSittingDialog :checkbox').each(function(){
			$(this).prop('checked',false);
		})

		$('#addAlarmEnable').val('true')

		$('#addAlarmLevel').val('first')

		var u = $("#unit").text();
		openListSittingDialog(sensorName, u);
	});

	function sqlcheck(obj){
		obj.value = obj.value.replace( /(--|\t|\n|\r|\;)/g,"");
	}

	function num(obj){
		obj.value = obj.value.replace(/[^\d]/g,""); //清除"数字"和"."以外的字符
		obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
		obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个, 清除多余的
		obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
		obj.value = obj.value.replace(/^(\-)*(\d+).*$/,'$1$2'); //只能输入两个小数
	}

</script>

</body>

</html>